@page "/addtask"
@inject IHttpContextAccessor httpContextAccessor
@inject HttpClient Http
@inject IConfiguration Configuration
@inject NavigationManager NavigationManager

<h3>Add new Task</h3>
<hr />

<EditForm Model="@TaskInputModel" OnValidSubmit="@Submit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <label class="">Task title</label>
    <input class="" id="title" @bind="this.TaskInputModel.Title" />

    <button class="btn btn-sm btn-primary" type="submit">Save</button>
</EditForm>

@code{
    private TaskInputModel TaskInputModel = new TaskInputModel();

    private async Task Submit()
    {
        this.TaskInputModel.UserId =
            this.httpContextAccessor
            .HttpContext
            .User
            .FindFirst(ClaimTypes.NameIdentifier)
            .Value;

        var apiUrl = this.Configuration["ApiUrl"] + "TodoTask";

        await this.Http.PostAsJsonAsync<TaskInputModel>(apiUrl, this.TaskInputModel);

        this.NavigationManager.NavigateTo("/");
    }
}
