@page "/addtodo/{taskId:int}"
@inject HttpClient Http
@inject IConfiguration Configuration
@inject NavigationManager NavigationManager

<h3>Add ToDo</h3>
<EditForm Model="@todo" OnValidSubmit="Submit">
    <div class="form-group">
        <label>Content</label>
        <textarea class="form-control" rows="3" @bind="todo.Content"></textarea>
    </div>
    <hr />
    <button type="submit" class="btn btn-sm btn-primary">Save</button>
</EditForm>

@code {
    public Todo todo { get; set; } = new Todo();

    [Parameter]
    public int taskId { get; set; }

    async Task Submit()
    {
        var apiUrl = this.Configuration["ApiUrl"] + "Todo";

        this.todo.TodoTaskId = taskId;

        await this.Http.PostAsJsonAsync<Todo>(apiUrl, todo);

        this.NavigationManager.NavigateTo("/");
    }
}
