@page "/edittodo/{TodoId:int}/{Content}"
@inject HttpClient Http
@inject IConfiguration Configuration
@inject NavigationManager NavigationManager

<h3>Edit Todo</h3>
<div class="form-group col-7">
    <label class="font-weight-bold">Content</label>
    <textarea class="form-control" name="title" @bind-value="Content" @bind-value:event="oninput" rows="3" />
</div>
<button class="btn btn-sm btn-primary ml-3" @onclick="Submit">Save</button>

@code {
    public Todo todo { get; set; }

    [Parameter]
    public string Content { get; set; }

    [Parameter]
    public int TodoId { get; set; }

    async Task Submit()
    {
        var todo = new Todo
        {
            Content = this.Content,
            TodoId = this.TodoId,
        };

        var apiUrl = this.Configuration["ApiUrl"] + "Todo";

        await this.Http.PutAsJsonAsync<Todo>(apiUrl, todo);

        this.NavigationManager.NavigateTo("/");
    }
}
