@page "/edittask"
@inject HttpClient Http
@inject IConfiguration Configuration

<h3>EditTask</h3>
<button class="btn btn-primary" @onclick="@(() => EditTask(task))">Save</button>

@code {
    private void EditTask(TodoTask task)
    {
        this.Http.PutAsJsonAsync<TodoTask>(this.Configuration["ApiUrl"] + "TodoTask", task);
    }
}
