@page "/edittask/{TaskId:int}/{Title}"
@inject HttpClient Http
@inject IConfiguration Configuration
@inject NavigationManager NavigationManager

<h3>Edit ToDo list</h3>
<hr />
<div class="form-group col-7">
    <label class="font-weight-bold">Title</label>
    <input type="text" class="form-control" @bind-value="Title" @bind-value:event="oninput">
</div>
<button class="btn btn-sm btn-primary ml-3" @onclick="Submit">Save</button>

@code {
    public TodoTask todoTask { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public int TaskId { get; set; }

    async Task Submit()
    {
        var todoTask = new TodoTask
        {
            Title = this.Title,
            TaskId = this.TaskId,
        };

        var apiUrl = this.Configuration["ApiUrl"] + "TodoTask";

        await this.Http.PutAsJsonAsync<TodoTask>(apiUrl, todoTask);

        this.NavigationManager.NavigateTo("/");
    }
}
