<h3 class="knive-title">{{knive.kniveName}}</h3>

<article class="container">
  <section class="knive-details">
    <p class="">Type: {{knive.bladeType}}</p>
    <p class="">Total length: {{knive.length}}</p>
    <p class="">Edge length: {{knive.edgeLength}}</p>
    <p class="">Handle type: {{knive.handleType}}</p>
    <p class="">Blade made: {{knive.bladeMade}}</p>
    <h4 class="">Price: {{knive.price}}</h4>
  </section>

  <section class="knive-details__images" *ngIf="kniveImages">
    <div *ngFor="let image of kniveImages">
      <div class="knive-details__image-wrapper">
        <img class="knive-details__image" onclick="openModal(this)" src="../../assets/images/{{image.imagePath}}" alt="knive image">
      </div>
    </div>
  </section>
</article>
<hr />
<a href="" [routerLink]="['/']">back</a>

<div class="knive-details__image-enlarge">
  <span class="knive-details__image-enlarge__close">&times;</span>
  <img class="knive-details__image-enlarge__image" src="" alt="knive image" />
</div>
