@model DigitalCoolBook.App.Models.TeacherViewModels.TeacherChangePasswordViewModel

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "_Layout";
}

<div class="offset-md-3 col-md-6 offset-sm-0 col-sm-12">
    <h3>Change password</h3>
    <form asp-action="ChangePassword">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <span asp-for="Password" class="form-label">New password</span>
            <input asp-for="Password" class="form-control form-control-sm" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group mt-2">
            <span asp-for="ConfirmPassword" class="form-label">Confirm password</span>
            <input asp-for="ConfirmPassword" class="form-control form-control-sm" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="buttons-wrapper mt-4">
            <a asp-controller="Home" asp-action="Index"><i class="fas fa-lg fa-arrow-circle-left"></i></a>
            <input class="btn btn-success btn-sm" type="submit" value="Save" />
        </div>
    </form>
</div>



