@model DigitalCoolBook.App.Models.TeacherViewModels.TeacherChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "_LayoutMenus";
}

<style>
    .myOrangeButton {
        background: #ffb74d;
    }
</style>

<h2 class="text-center">Смяна на парола</h2>
<div class="container w-50">
    <hr />
    <form asp-action="ChangePassword">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Password" class="control-label">Нова Парола</label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword" class="control-label">Потвърждаване на парола</label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="d-flex justify-content-between mb-5">
            <div>
                <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Назад</a>
            </div>
            <div>
                <input class="btn myOrangeButton" type="submit" value="Запази" />
            </div>
           
        </div>
    </form>
</div>




