@model IEnumerable<DigitalCoolBook.App.Models.GradesViewModels.GradeViewModel>

@{
    ViewData["Title"] = "ChooseParalelo";
    Layout = "_LayoutMenus";
}

<div class="container-fluid w-50">
    <div class="row mb-2 mt-2">
        <div class="col d-flex justify-content-center">
            <h2 class="col-sm-auto my-border text-white">Класове</h2>
        </div>
    </div>
    <table class="table">
        <thead>
        </thead>
        <tbody>
            @if (Model.Count() == 0)
            {
                <tr class="text-center">
                    <td>Няма записи.</td>
                </tr>
            }
            else
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">
                            <a class="btn-outline-info btn-lg" href="/Teacher/GradeDetails/@item.GradeId">@item.Name</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <a class="btn btn-outline-info mb-2" href="/Home/Index">Назад</a>
</div>

