@model DigitalCoolBook.App.Models.TeacherViewModels.TeacherDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

<div class="offset-md-3 col-md-6 offset-sm-0 col-sm-12 mt-3">
    <h3>Edit teacher</h3>
    <hr />
    <form class="text-center" asp-action="EditTeacher" asp-route-id="@Model.Id">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row mb-2">
            <label asp-for="Name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row mb-2">
            <label asp-for="Email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row mb-2">
            <label asp-for="DateOfBirth" class="col-sm-2 col-form-label">Date of birth</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="datepicker" name="dateOfBirth" />
                <span asp-validation-for="DateOfBirth" class="text-danger" id="alertDatepicker"></span>
            </div>
        </div>
        <div class="form-group row mb-2">
            <label asp-for="PlaceOfBirth" class="col-sm-2 col-form-label">Place of birth</label>
            <div class="col-sm-10">
                <input asp-for="PlaceOfBirth" class="form-control" />
                <span asp-validation-for="PlaceOfBirth" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row mb-2">
            <label asp-for="Sex" class="col-sm-2 col-form-label">Sex</label>
            <div class="col-sm-10">
                <select class="form-control" name="sex" id="sex">
                    <option value="Мъж">Male</option>
                    <option value="Жена">Female</option>
                    <option value="Друго">Other</option>
                </select>
            </div>
        </div>
        <div class="form-group row mb-2">
            <label asp-for="MobilePhone" class="col-sm-2 col-form-label">Mobile phone number</label>
            <div class="col-sm-10">
                <input asp-for="MobilePhone" min="0" class="form-control w-100" type="tel" />
                <span asp-validation-for="MobilePhone" class="text-danger"></span>
            </div>

        </div>
        <div class="form-group row mb-2">
            <label asp-for="Telephone" class="col-sm-2 col-form-label">Home phone number</label>
            <div class="col-sm-10">
                <input asp-for="Telephone" min="0" class="form-control w-100" />
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>
        </div>
        <div class="buttons-wrapper">
            <a class="btn btn-outline-secondary btn-sm" asp-action="EditTeachers">Back</a>
            <input class="btn btn-outline-success btn-sm" type="submit" value="Save" />
        </div>
    </form>
</div>


@section Scripts{
    <!--setting datepicker and validating DateOfBirth input-->
    <script type="text/javascript">
        $.datepicker.setDefaults($.datepicker.regional["bg"]);
        $.datepicker.setDefaults({
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            dateFormat: "dd.M.yy"
        });

        $(function () {
            $('#datepicker').datepicker();
        });

        $(function () {
            $('form').on('submit',
                function (event) {
                    if ($('#datepicker').val() === '') {
                        event.preventDefault();
                        $('#alertDatepicker').html("Please select date of birth.").fadeToggle(2000);
                    }
                });
        });
    </script>
}



