@model IEnumerable<DigitalCoolBook.App.Models.GradesViewModels.GradeDetailViewModel>

@{
    ViewData["Title"] = "GradeDetails";
    var paraleloName = ViewData["paraleloName"];
    Layout = "_LayoutMenus";
}
<div class="container-fluid">
    <div class="row mb-2 mt-2">
        <div class="col d-flex justify-content-center">
            <h2 class="col-sm-auto my-border text-white">@paraleloName клас</h2>
        </div>
    </div>
    <table class="table">
        <thead>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a class="btn-outline-info btn-lg" href="/Student/Details/@item.Id">@item.Name</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-outline-info mb-2" href="/Teacher/ChooseGrade">Назад</a>
</div>


