@model DigitalCoolBook.App.Models.TeacherViewModels.TeacherChangePasswordViewModel
@{ ViewData["Title"] = "Panel";
    Layout = "_Layout"; }

<div class="offset-md-3 col-md-6 offset-sm-0 col-sm-12 mt-3">
    <div class="page-wrapper">
        <h3>Settings</h3>
        <hr />
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="btn btn-sm btn-warning"
                   asp-route-id="@Model.Id"
                   asp-action="ChangePassword">Change password</a>
            </li>
        </ul>
    </div>
    <div class="buttons-wrapper mt-4">
        <a asp-controller="Subject"
           asp-action="Subjects"><i class="fas fa-lg fa-arrow-circle-left"></i></a>
    </div>
</div>