@model DigitalCoolBook.App.Models.TeacherViewModels.TeacherRegisterModel

@{
    ViewData["Title"] = "RegisterTeacher";
    Layout = "_Layout";
}

<div class="container-fluid w-50 mt-1">
    <h3>Register teacher</h3>
    <hr />
    <div class="row">
        <div class="col">
            <form asp-action="RegisterTeacher">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="form-label">Name</label>
                    <input asp-for="Name" class="form-control" placeholder="name..." />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group mt-1">
                    <label asp-for="Email" class="form-label">Email</label>
                    <input asp-for="Email" class="form-control" placeholder="email..." />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group mt-1">
                    <label asp-for="Password" class="form-label">Password</label>
                    <input asp-for="Password" class="form-control" placeholder="password..." />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group mt-1">
                    <label class="form-label" asp-for="ConfirmPassword">Confirm password</label>
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="confirm password..." />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group mt-1">
                    <label asp-for="DateOfBirth" class="form-label">Date of birth</label>
                    <input asp-for="DateOfBirth" class="form-control" type="date" placeholder="date of birth..." />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
                <div class="form-group mt-1">
                    <label asp-for="PlaceOfBirth" class="control-label">Place of birth</label>
                    <input asp-for="PlaceOfBirth" class="form-control" placeholder="place of birth..." />
                    <span asp-validation-for="PlaceOfBirth" class="text-danger"></span>
                </div>
                <div class="form-group mt-1">
                    <label asp-for="Username" class="form-label">Username</label>
                    <input asp-for="Username" class="form-control" placeholder="username..." />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group mt-1">
                    <label asp-for="Sex" class="form-label">Gender</label>
                    <select class="form-select" name="sex" id="sex">
                        <option value="Мъж">Male</option>
                        <option value="Жена">Female</option>
                        <option value="Друго">Other</option>
                    </select>
                </div>
                <div class="form-group mt-1">
                    <label asp-for="Telephone" class="form-label">Phone number</label>
                    <input asp-for="Telephone" class="form-control  w-50" placeholder="phone number..." />
                    <span asp-validation-for="Telephone" class="text-danger"></span>
                </div>
                <div class="form-group mt-1">
                    <label asp-for="MobilePhone" class="form-label">Mobile phone number</label>
                    <input asp-for="MobilePhone" class="form-control  w-50" placeholder="mobile phone number..." />
                    <span asp-validation-for="MobilePhone" class="text-danger"></span>
                </div>
                <div class="buttons-wrapper">
                    <a class="btn btn-outline-secondary btn-sm" asp-controller="Home" asp-action="Index">Back</a>
                    <input class="btn btn-outline-success btn-sm" type="submit" value="Create" />
                </div>
            </form>
        </div>
    </div>
</div>


