@{
    ViewData["Title"] = "Admin Index";
}

<section class="c-admin">
    <h1>Welcome @User.Identity.Name</h1>
    <a class="btn btn--settings" asp-action="AddVan" asp-controller="Admin">Add new Van</a>
    <a class="btn btn--settings" asp-action="AddCar" asp-controller="Admin">Add new Car</a>
</section>
