<form class="form" [formGroup]="orderForm" (ngSubmit)="OnSubmit()">
  <div class="mb-5 mt-3">
    <section class="mb-3">
      <h2 class="text-center custom-heading">Your items</h2>
    </section>
    <section class="card-wrapper justify-content-center" *ngIf="knives?.length > 0">
      <div class="card" *ngFor="let knive of knives">
        <div>
          <p><strong>{{'home.HandleType' | translate}}:</strong> {{knive.handleDescription}}</p>
          <p><strong>{{'home.BladeMade' | translate}}:</strong> {{knive.edgeMade}}</p>
          <div class="text-center">
            <div class="d-flex">
              <label><strong>{{'order.Quantity' | translate}}</strong>: </label>
              <p class="knive-quantity">{{knive.quantityOrdered}}</p>
            </div>
            <p class="price"><strong>{{'order.Price' | translate}}:</strong> {{knive.price}}</p>
          </div>
        </div>
        <div class="img-wrapper">
          <img src="../../assets/images/{{knive.imagePath}}" alt="image">
        </div>
      </div>
      <hr>
    </section>
    <section class="text-center" *ngIf="knives?.length == 0 || knives == null">
      <h2 class="no-items text-center mt-5">No items in your cart..</h2>
      <div class="order__anim12">
        <a class="back-button" [routerLink]="['/']"><i class="fas fa-arrow-circle-left"></i></a>
      </div>
    </section>
  </div>

  <article *ngIf="knives?.length > 0" class="text-center">
    <h4 class="text-center custom-heading mb-3 order__anim1">{{'order.Your details'| translate}}</h4>
    <div class="form-row justify-content-center">
      <div class="col-md-3 mb-3 order__anim2">
        <label>{{'order.First name' | translate}}</label>
        <input class="form-control" type="text" formControlName="firstName" id="firstName" />
        <div *ngIf="(orderForm.get('firstName').touched || orderForm.get('firstName').dirty)
             && orderForm.get('firstName').errors">
          <label *ngIf="orderForm.get('firstName').errors.required" class="alert alert-danger">
            {{'order.Name is required.' | translate}}
          </label>
          <label *ngIf="orderForm.get('firstName').errors.minlength" class="alert alert-danger">
            {{'order.Name must be atleast 3 letters.' | translate}}
          </label>
        </div>
      </div>

      <div class="col-md-3 mb-3 order__anim3">
        <label>{{'order.Last name' | translate}}</label>
        <input class="form-control" type="text" formControlName="lastName" />
        <div *ngIf="(orderForm.get('lastName').touched || orderForm.get('lastName').dirty)
             && orderForm.get('lastName').errors">
          <label *ngIf="orderForm.get('lastName').errors.required" class="alert alert-danger">
            {{'order.Last name is required.' | translate}}
          </label>
          <label *ngIf="orderForm.get('lastName').errors.minlength" class="alert alert-danger">
            {{'order.Last name must be atleast 3 letters.' | translate}}
          </label>
        </div>
      </div>
    </div>

    <div class="form-row justify-content-center">
      <div class="col-md-3 mb-3 order__anim4">
        <label>{{'order.Email' | translate}}</label>
        <input class="form-control" type="text" formControlName="email" />
        <label *ngIf="(orderForm.get('email').touched || orderForm.get('email').dirty)
             && orderForm.get('email').errors" class="alert alert-danger">
          {{'order.Email is required.' | translate}}
        </label>
      </div>

      <div class="col-md-3 mb-3 order__anim5">
        <label>{{'order.Phone number' | translate}}</label>
        <input class="form-control" type="number" min="0" formControlName="phoneNumber" />
        <div *ngIf="(orderForm.get('phoneNumber').touched || orderForm.get('phoneNumber').dirty)
             && orderForm.get('phoneNumber').errors">
          <label *ngIf="orderForm.get('phoneNumber').errors.required" class="alert alert-danger">
            {{'order.Phone number is required.' | translate}}
          </label>
          <label *ngIf="orderForm.get('phoneNumber').errors.minlength" class="alert alert-danger">
            {{'order.Phone number must be atleast 4 digits.' | translate}}
          </label>
        </div>
      </div>
    </div>

    <hr />
    <h3 class="text-center mb-2 order__anim6">{{'order.Address' | translate}}</h3>
    <div class="form-row justify-content-center">
      <div class="col-md-3 mb-3 order__anim7">
        <label>{{'order.City' | translate}}</label>
        <input type="text" class="form-control" formControlName="city">
        <div *ngIf="(orderForm.get('city').touched || orderForm.get('city').dirty)
             && orderForm.get('city').errors">
          <label *ngIf="orderForm.get('city').errors.required" class="alert alert-danger">
            {{'order.City is required.' | translate}}
          </label>
          <label *ngIf="orderForm.get('city').errors.minlength" class="alert alert-danger">
            {{'order.City must be atleast 3 letters.' | translate}}
          </label>
        </div>
      </div>

      <div class="col-md-3 mb-3 order__anim8">
        <label>{{'order.Neighbourhood' | translate}}</label>
        <input class="form-control" type="text" formControlName="neighbourhood" />
      </div>
    </div>

    <div class="form-row justify-content-center">
      <div class="col-md-3 mb-3 order__anim9">
        <label>{{'order.Street' | translate}}</label>
        <input class="form-control" type="text" formControlName="street" />
        <div *ngIf="(orderForm.get('street').touched || orderForm.get('street').dirty)
             && orderForm.get('street').errors">
          <label *ngIf="orderForm.get('street').errors.required" class="alert alert-danger">
            {{'order.Street is required.' | translate}}
          </label>
          <label *ngIf="orderForm.get('street').errors.minlength" class="alert alert-danger">
            {{'order.Street must be atleast 3 letters.' | translate}}
          </label>
        </div>
      </div>
    </div>
    <h3 class="form__price text-center order__anim11">
      {{'order.Price' | translate}}
      <label>
        {{totalPrice}} {{'home.Currency' | translate}}
      </label>
    </h3>
    <hr />
    <div class="order__buttons-container" *ngIf="!showLoader">
      <div class="order__anim11 mb-3">
        <button class="btn btn-shadow btn-theme" type="submit" [disabled]="!orderForm.valid">
          {{'order.Order' | translate}}
        </button>
      </div>
      <div class="order__anim12 pb-4 pt-4">
        <a class="back-button" [routerLink]="['/']"><i class="fas fa-arrow-circle-left"></i></a>
      </div>
    </div>
    <app-loading-screen [showOverlay]="showLoader"></app-loading-screen>
  </article>
</form>

<div class="background-image-wrapper">
  <img src="../../assets/images/menu-background.jpg" alt="logo image" />
</div>
