@import "../shared-styles/custom-buttons.scss";

.form {
    @media (max-width: 599px) {
        margin-bottom: 140px;
        &__price{
            font-size: 20px;
        }
    }
    margin-bottom: 50px;
}

.img-wrapper {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 5px;
}

p {
    @media (max-width: 599px) {
       max-height: 40px;
    }
    height: 70px;
    margin: 0;
    overflow: auto;
    text-overflow: ellipsis;
    border-radius: 1px solid gray;
    margin-bottom: 5px;
}
.card-wrapper {
    @media (max-width: 599px) {
        grid-template-columns: 1fr;
    }

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-content: center;
    align-content: center;
}

.card {
    display: grid;
    padding: 8px;
    max-width: 310px;
}
.price {
    font-size: 20px;
    font-weight: 500;
    height: 40px;
}

.alert {
    padding: 2px 5px;
    margin: 0;
    font-size: 12px;
}

.form-control {
    padding: 3px 5px;
    max-height: 30px;
}

.no-items{
    @media(max-width: 599px) {
       font-size: 18px;
    }
}