@keyframes slideIn {
  0% {
    opacity: 0;
    left: -300px;
  }

  100% {
    opacity: 1;
    left: 0px;
  }
}

@keyframes slideInHeadings {
  0% {
    opacity: 0.3;
    top: -200px;
  }

  100% {
    opacity: 1;
    top: 0px;
  }
}
