@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css");
$white: #ffffff;

$lightRedBerry3: #dd7e6b;
$lightRedBerry2: #dd7e6b;
$lightOrange: #f9cb9c;
$lightBlue: #007eb9;

$cornflowerBlue3: #c9daf8;
$mellowApricot: #FEBD69;

$darkCyan3: #0c343d;
$darkBlue3: #073763;
$gunmetal: #232F3E;
$charcoal: #37475A;

$grey200: #EEEEEE;
$grey300: #E0E0E0;
$grey400: #BDBDBD;
$grey500: #9E9E9E;
$grey600: #757575;
$grey700: #616161;
$grey800: #424242;

$whatsupGreen: #4CC15B;
