$white: #ffffff;

$lightRedBerry3: #dd7e6b;
$lightRedBerry2: #dd7e6b;
$lightOrange: #f9cb9c;
$lightBlue: #007eb9;

$cornflowerBlue3: #c9daf8;
$mellowApricot: #FEBD69;

$darkCyan3: #0c343d;
$darkBlue3: #073763;
$gunmetal: #232F3E;
$charcoal: #37475A;

$grey500: #9E9E9E;

$whatsupGreen: #4CC15B;
