@import "colors.scss";
@import "animations.scss";

.filter__buttons {
  display: grid;
  grid-template-columns: auto;
  justify-content: normal;
}

.btn {
  &:hover {
    cursor: pointer;
  }
}

.btn-theme {
  background-color: $charcoal;
  color: $mellowApricot;
  font-weight: 400;
  border: 1px solid $cornflowerBlue3;

  &:hover {
    color: whitesmoke;
  }
}

.btn-theme--no-bg {
  background-color: inherit;
}

.btn-scale {
  transition: linear 0.1s;

  &:hover {
    transform: scale(1.1);
  }
}

.btn-shadow {
  &:hover {
    box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.78);
  }
}

.btn-custom {
  animation-name: slideIn;
  animation-duration: 0.5s;
  transition: ease-out 0.1s;
  transform: scale(0.8);
}

.btn-confirm-message {
  padding: 3px 10px;
}

.back-button {
  font-size: 2rem;
  color: $grey500;
  transition: ease-out 0.1s;

  &:hover {
    transform: scale(1.2);
  }
}

.btn-round {
  border-radius: 50%;
  border-color: $charcoal;
  padding: 30px 20px;
  font-weight: 600;
  font-size: 20px;
  color: $gunmetal;
  background-color: $grey200;

  &:disabled {
    background-color: $grey400;
  }

  &:hover:not(:disabled) {
    background-color: $charcoal;
    color: $mellowApricot;
  }
}

.btn-round--order {
  &:hover:not(:disabled) {
    background-color: $mellowApricot;
    color: $charcoal;
  }
}

.btn-arrow {
  @media (max-width: 599px) {
    padding: 0px 10px;
  }
  
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-right: 5px solid $whatsupGreen;
  max-height: 60px !important;
  padding: 2px 10px;
}
