//PAGE BACKGROUND IMAGE
.background-image-wrapper {
  position: fixed;
  background-color: black;
  opacity: 0.1;
  z-index: -1;

  img {
    object-position: top;
    position: fixed;
    right: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
  }
}
