@import 'colors';

.btn-custom {
  animation-name: slideIn;
  animation-duration: 0.5s;
  border-radius: 10px;
  background-color: $cornflowerBlue3;
  color: $charcoal;
  padding: 2px 0px;
  animation-name: slideIn;
  transition: ease-out 0.1s;
  transform: scale(0.8);
  font-weight: 600;

  &:hover {
    transform: scale(0.9);
  }
}

.btn-confirm-message{
    padding: 3px 10px;
}
