.c-main {
    display: grid;
    grid-template-rows: 150px max-content max-content max-content;
    grid-row-gap: 50px;

    &__welcome {
        text-align: center;
    }

    &__welcome__text{
        margin-right: 250px;
        margin-top: 30px;
    }

    &__vans {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 50px;
        justify-items: center;
    }

    &__vehicles {

        &__title {
            text-align: center;
            margin-bottom: 50px;
        }
    }
}
