@import "../../settings/_settings-colors.scss";

.c-main {
    display: grid;
    grid-template-rows: 90px max-content max-content max-content;
    grid-row-gap: 50px;

    &__hr {
        width: 100%;
        background-color: $Grey500;
    }

    &__welcome {
        text-align: center;
    }

    &__welcome__text {
        background-color: $Blue50;
        border-radius: 5px;
        display: inline-block;
        padding: 5px;
        width: 300px;
        margin: auto;
        margin-right: 250px;
        margin-top: 20px;
    }

    &__vehicles {
        justify-items: center;
        display: grid;
        grid-template-rows: 60px max-content;
        grid-row-gap: 40px;

        &__title {
            text-align: center;
            align-self: center;
            background-color: $PrimaryColor;
            width: 300px;
            border-radius: 5px;
            padding: 7px 0;
        }
    }

    &__vans {
        position: relative;
        display: grid;
        grid-template-columns: max-content max-content max-content max-content;
        grid-row-gap: 60px;
        grid-column-gap: 50px;
        justify-items: center;

        &__container {
            display: grid;
            grid-template-rows: max-content max-content;
            grid-row-gap: 30px;
        }
    }
}

.back-to-index {
    font-size: 18px;
    text-align: center;
    align-self: end;
}
