@import "../../settings/_settings-colors.scss";
@import "../../settings/_settings-shadows.scss";


.c-card {
    width: 300px;
    min-height: 300px;
    background-color: $White;
    border-radius: 20px;
    box-shadow: $Shadow2dp;
    color: inherit;
    transition: 0.1s ease-out;

    &:hover {
        box-shadow: $Shadow1dp;
        color: inherit;
        transform: scale(0.9);
        cursor: pointer;
        text-decoration: none;
    }

    &__wrapper {
        width: 100%;
        height: 200px;
        background-size: cover;
    }

    &__image {
        width: 100%;
        height: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    &__info {
        text-align: center;
        margin-top: 10px;

        &__details {
            display: grid;
            grid-template-rows: auto;
            grid-auto-rows: 29px;
            width: 100%;
            margin: auto;
        }

        &__details__span {
            font-weight: bold;
            color: $Secondary900;
            font-size: 24px;
        }

        &__details__price {
            background-color: $Blue50;
            font-weight: 700;
            padding: 5px 0;
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            grid-row-gap: 5px;
        }

        &__details__seats {
            display: none;
        }

        &__action {
            font-size: 16px;
            color: $Blue400 !important;

            &:hover {
                text-decoration: underline !important;
                cursor: pointer;
            }
        }

        &__action--delete {
        }

        &__action__wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-self: center;
        }

        &__availability {
            background-color: $Primary300;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            padding: 5px 0;
            color: $White;
            font-weight: 700;
            text-transform: capitalize;
        }

        &__availability--busy {
            background-color: $Grey500;
        }

        &__plate-number {
            display: none;
        }
    }
}
