@using DigitalCoolBook.App.Areas.Identity.Pages.Account
@model LoginModel

@{
    ViewData["Title"] = "Home Page";
}

@if (!this.User.Identity.IsAuthenticated)
{
    <div class="container-fluid ">
        <br />
        <div class="d-flex justify-content-center">
            <div>
                <h2>Welcome to Digital Cool Book!</h2>
                <div>
                    <h5>
                        <a style="background-color:#441dde" href="/Identity/Account/Login" type="button" class="btn btn-primary">
                            Login
                        </a>
                        if you are registered.
                    </h5>
                </div>
                <div>
                    <h5>
                        <a style="background-color:#6e40dd" href="/Identity/Account/Register" type="button" class="btn btn-primary">
                            Register
                        </a>
                        if you are new.
                    </h5>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div>
        <h2>Welcome @User.Identity.Name!</h2>
    </div>
}
