@using DigitalCoolBook.App.Areas.Identity.Pages.Account

@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

@if (!this.User.Identity.IsAuthenticated)
{
    <div class="container-fluid ">
        <br />
        <div class="d-flex justify-content-center">
            <div>
                <h1>Добре дошли в Digital Cool Book!</h1>
                <div>
                    <h5>
                        <a style="background-color:#441dde" asp-controller="Teacher" asp-action="Login" type="button" class="btn btn-primary btn-lg">
                            Вписване като Учител
                        </a>
                    </h5>
                    <h5>
                        <a style="background-color:#441dde" asp-controller="Student" asp-action="LoginAsync" type="button" class="btn btn-primary btn-lg">
                            Вписване като Ученик
                        </a>
                    </h5>
                </div>
                <div>
                    <h5>
                        <a style="background-color:#6e40dd" asp-controller="Admin" asp-action="AdminContact" type="button" class="btn btn-primary btn-lg">
                            Свързване с администратор
                        </a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div>
        <h2>Welcome @User.Identity.Name!</h2>
    </div>
}
