@import "../shared-styles/custom-buttons.scss";
@import "../shared-styles/headings.scss";
@import "../shared-styles/popups.scss";
@import "../shared-styles/animations.scss";

@for $i from 1 through 12 {
  .add-knive__anim#{$i} {
    opacity: 0;
    animation: 0.4s revial forwards;
    animation-delay: 0.1s * $i;
  }
}

label, input, textarea {
  color: whitesmoke;
}

input, textarea, select {
  background-color: black;
}

.add-knive-container {
  margin-bottom: 8em;
}

.add-knive__input-container {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-column-gap: 30px;
}

.add-knive__info-wrapper {
  margin-bottom: 15px;
  text-align: center;
}

input.ng-valid {
  border-left: 5px solid green;
}

input.ng-invalid.ng-touched {
  border-left: 5px solid red;
}

.buttons-container {
  display: grid;
  grid-template-rows: max-content max-content;
  grid-row-gap: 20px;
  align-items: center;
  justify-items: center;
}

.form-container {
  @media (max-width: 599px) {
    display: grid !important;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  justify-content: space-evenly;
}

label {
  @media (max-width: 599px) {
    font-size: 14px;
  }
}

.form-group {
  @media (max-width: 599px) {
    min-width: 250px;
  }
}

.alert {
  padding: 2px 5px;
  margin: 0;
  font-size: 12px;
}
