<section class="container">
  <h2>Add knive</h2>
  <div *ngIf="responceMessage">{{responceMessage}}</div>
  <hr />
  <div class="add-knive__info-wrapper">
    <i class="fas fa-info-circle"></i>
    <small class="add-knive__info-lable">Всички размери са в милиметри.</small>
  </div>
  <form [formGroup]="addKniveForm" (ngSubmit)="onSubmit()">
    <section class="row row-cols-2">
      <div class="form-group col-5">
        <label>Широчина на острието</label>
        <input formControlName="edgeWidth"
               type="number"
               min="0"
               class="form-control form-control-sm"
               autofocus />
        <div *ngIf="(addKniveForm.get('edgeWidth').touched || addKniveForm.get('edgeWidth').dirty)
             && addKniveForm.get('edgeWidth').errors">
          <label *ngIf="addKniveForm.get('edgeWidth').errors.required" class="alert alert-danger">Field is required.</label>
        </div>
      </div>

      <div class="form-group col-5">
        <label>Дебелина на острието</label>
        <input formControlName="edgeThickness"
               type="number"
               min="0"
               class="form-control form-control-sm" />
        <div *ngIf="(addKniveForm.get('edgeThickness').touched || addKniveForm.get('edgeThickness').dirty)
             && addKniveForm.get('edgeThickness').errors">
          <label *ngIf="addKniveForm.get('edgeThickness').errors.required" class="alert alert-danger">Field is required.</label>
        </div>
      </div>

      <div class="form-group col-5">
        <label>Дължина на острието</label>
        <input formControlName="edgeLength"
               type="number"
               min="0"
               class="form-control form-control-sm" />
        <div *ngIf="(addKniveForm.get('edgeLength').touched || addKniveForm.get('edgeLength').dirty)
             && addKniveForm.get('edgeLength').errors">
          <label *ngIf="addKniveForm.get('edgeLength').errors.required" class="alert alert-danger">Field is required.</label>
        </div>
      </div>

      <div class="form-group col-5">
        <label>Пълна дължина на ножа</label>
        <input formControlName="totalLength"
               type="number"
               min="0"
               class="form-control form-control-sm" />
        <div *ngIf="(addKniveForm.get('totalLength').touched || addKniveForm.get('totalLength').dirty)
             && addKniveForm.get('totalLength').errors">
          <label *ngIf="addKniveForm.get('totalLength').errors.required" class="alert alert-danger">Field is required.</label>
        </div>
      </div>

      <div class="form-group col-5">
        <label>Изработка на острието</label>
        <input formControlName="edgeMade"
               class="form-control form-control-sm" />
        <div *ngIf="(addKniveForm.get('edgeMade').touched || addKniveForm.get('edgeMade').dirty)
             && addKniveForm.get('edgeMade').errors">
          <label *ngIf="addKniveForm.get('edgeMade').errors.required" class="alert alert-danger">Field is required.</label>
        </div>
      </div>

      <div class="form-group col-5">
        <label>Описание на дръжката</label>
        <input formControlName="handleDescription"
               class="form-control form-control-sm" />
        <div *ngIf="(addKniveForm.get('handleDescription').touched || addKniveForm.get('handleDescription').dirty)
             && addKniveForm.get('handleDescription').errors">
          <label *ngIf="addKniveForm.get('handleDescription').errors.required" class="alert alert-danger">Field is required.</label>
        </div>
      </div>

      <div class="form-group col-5">
        <label>Цена</label>
        <input formControlName="price"
               type="number"
               min="0"
               class="form-control form-control-sm" />
        <div *ngIf="(addKniveForm.get('price').touched || addKniveForm.get('price').dirty)
             && addKniveForm.get('price').errors">
          <label *ngIf="addKniveForm.get('price').errors.required" class="alert alert-danger">Field is required.</label>
        </div>
      </div>

      <div class="form-group col-5">
        <small class="add-knive__info-lable">Избери категория.</small>
        <label>Knive class</label>
        <select formControlName="kniveClass" class="form-control" id="classSelect">
          <option value="MiddleClass">Middle class</option>
          <option value="HighClass">High class</option>
          <option value="KitchenClass">Kitchen class</option>
        </select>
      </div>

      <div class="form-group col-5">
        <section>
          <div class="form-group">
            <label>{{'home.SelectImages'|translate}}:</label>
            <input accept="image/*" type="file" multiple (change)="selectFiles($event)">
          </div>
        </section>
      </div>
    </section>
    <hr />
    <app-loading-screen [showOverlay]="isLoading"></app-loading-screen>
    <div class="justify-content-around">
      <a class="back-button knive-details__anim9 mr-5" [routerLink]="['/']">
        <i class="fas fa-arrow-circle-left"></i>
      </a>
      <button *ngIf="!isLoading" type="submit" class="btn btn-outline-info">Save</button>
    </div>
  </form>
</section>
