@model DigitalCoolBook.App.Models.TestviewModels.QuestionsAddViewModel

@{
    ViewData["Title"] = "AddQuestions";
    Layout = "~/Views/Shared/_SubjectDetailLayout.cshtml";
}

<h1 class="text-center">Добавяне на въпроси към тест</h1>
<br />
<div class="row">
    <div class="col">
        <form class="form-group" asp-action="AddQuestions" typeof="post">

            <div>
                <div class="row">
                    <h4>Уроци</h4>
                </div>
                <div class="row">
                    @Html.DropDownListFor(m => m.LessonId, new SelectList(Model.Lessons, "Id", "Title"), "Изберете Урок..", new { @class = "dropdown" })
                </div>
                <span asp-validation-for="LessonId" class="text-danger"></span>
                <div class="row mt-2">
                    <h4>Брой на въпросите</h4>
                </div>
                <div>
                    <input type="number" id="numberOfQuestions" name="numberOfQuestions" />
                </div>
                <span class="text-danger" id="validateInput"></span>
                <div id="Questions" name="Questions"></div>
                <button class="btn btn-outline-primary mt-3" id="submit" >Запази</button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    // Adding question fields on number input
    $(function () {
        $('#numberOfQuestions').change(function () {
            // remove fields before create new ones
            $('#Questions').empty();
            $('#validateInput').empty();
            var numberOfQuestions = $('#numberOfQuestions').val();
            for (var i = 0; i < numberOfQuestions; i++) {
                $('#Questions').append(
                    $('<label class="col-sm-2 col-form-label col-form-label-sm w-75">Въпрос ' + (i + 1) + '<label/>'),
                    $('<input class="mt-2 form-control form-control-sm w-75" id="question' + i + '" name="Questions"/>'),
                    $('<span class="text-danger" id="alertQuestion' + i +'"></span>'),
                    $('<br/>'))
            }
        })
    })

    $(function () {
        $('#submit').on('click', function () {
            var numberOfQuestions = $('#numberOfQuestions').val();
            var errorCount = 0;
            if (numberOfQuestions <= 0) {
                $('#validateInput').html("Моля добавете въпроси.");
                return;
            }
            for (var i = 0; i < numberOfQuestions; i++) {
                if ($('#question' + i).val() == '') {
                    $('#alertQuestion'+ i).html('Попълнете въпроса.');
                    errorCount += 1;
                }
            }
            if (errorCount === 0) {
                $('#submit').submit();
            }
           return;
        })
    })
</script>