@model DigitalCoolBook.App.Models.TestviewModels.TestCreateAdminViewModel

@{
    ViewData["Title"] = "CreateTestAdmin";
    Layout = "~/Views/Shared/_SubjectDetailLayout.cshtml";
}

<h1 class="text-center">Създаване на тест</h1>

<form asp-action="CreateTestAdmin" method="post">
    <div class="container">
        <div class="form-group text-center">
            <label for="@Model.Place">Място на провеждане</label>
            <input type="text" class="form-control" name="place" placeholder="Място на теста..">
        </div>
        <div class="form-group text-center">
            <label>Тема на теста</label>
            @Html.DropDownListFor(m => m.LessonId, new SelectList(Model.Lessons, "LessonId", "Title"), new { @class = "form-control" })
        </div>
        <div class="form-group">
            <div class="row mt-2">
                <label >
                    Брой въпроси
                </label>
            </div>
            <div class="form-group">
                <input class="form-control" type="number" id="numberOfQuestions" name="numberOfQuestions" />
            </div>
            <span class="text-danger" id="validateInput"></span>
            <div id="questions" name="questions">
            </div>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-block" value="запази"/>
        </div>
    </div>
</form>

<script type="text/javascript">
    // Adding question fields on number input
    $(function () {
        $('#numberOfQuestions').change(function () {

            // remove fields before create new ones
            $('#questions').empty();
            $('#validateInput').empty();

            var numberOfQuestions = $('#numberOfQuestions').val();

            for (var i = 0; i < numberOfQuestions; i++) {
                $('#questions').append(
                    $('<label >Въпрос ' + (i + 1) + '<label/>'),
                    $('<input class="mt-2 form-control" id="question' + i + '" name="[' + i + '].Question" placeholder="Въведете въпрос.."/>'),
                    $('<span class="text-danger" id="alertQuestion' + i + '"></span>'),
                    $('<br/>'),
                    $('<label class="form-group">брой отговори<label/>'),
                    $('<input onchange="AppendFields(this,' + i + ')" type="number" id="answersCount' + i + '" class="form-control" name="answersCount' + i + '"/>'),
                    $('<div class="form-group" id="answerInput' + i + '"></div>'),

                );
            }
        })
    })

    // Append answers fields on answersCount change
    function AppendFields(answerCountValue, indexQuestion) {
        var currentQuestionInput = $('#answerInput' + indexQuestion + '');

        var index = $(answerCountValue).val();

        var answersLetters = ['A', 'B', 'C', 'D', 'E', 'F', 'G'];

        $(currentQuestionInput).empty();

        // Print answer input fields
        for (var i = 0; i < index; i++) {
            $(currentQuestionInput).append(
                $('<label class="text-center">Отговор ' + answersLetters[i] + '<label/>'),
                $('<input class="form-control" id="answer' + i + '" name="[' + indexQuestion + '].Answers" placeholder="Въведете отговор.."/>'),
                $('<span class="text-danger" id="alertQuestion' + i + '"></span>'),
            )
        }
    }

    // input validation for questions
    $(function () {
        $('#save').click(function (event) {
            var alertSpan = $('#validateInput');
            alertSpan.empty();
            event.preventDefault();

            var numberOfQuestions = $('#numberOfQuestions').val();
            var errorCount = 0;

            if (numberOfQuestions <= 0) {
                alertSpan.html("Моля добавете въпроси.");
                return;
            }
            for (var i = 0; i < numberOfQuestions; i++) {
                if ($('#question' + i).val() == '') {
                    $('#alertQuestion' + i).html('Попълнете въпроса.');
                    errorCount += 1;
                }
                else {
                    $('#alertQuestion' + i).empty();
                }
            }
            if (errorCount === 0) {
                $('#form').submit();
            }
            return;
        })
    })
</script>