@model DigitalCoolBook.App.Models.TestviewModels.TestCreateAdminViewModel

@{
    ViewData["Title"] = "CreateTestAdmin";
    Layout = "_LayoutMenus";
}
<style>
    /*#dcedc8 light-green lighten-4*/
    .light-green {
        background: #dcedc8;
    }
</style>

<h1 class="text-center">Създаване на тест</h1>

<form id="form" asp-action="CreateTestAdmin" method="post">
    <div class="container w-75">
        <div class="form-group text-center">
            <label>Място на провеждане</label>
            <input type="text" class="form-control" name="place" id="inputPlace" placeholder="Място на теста..">
            <span class="text-danger" id="alertPlace"></span>
        </div>
        <div class="form-group text-center">
            <label>Тема на теста</label>
            @Html.DropDownListFor(m => m.LessonId, new SelectList(Model.Lessons, "LessonId", "Title"), "Изберете тема на теста", new { @class = "form-control" })
            <span class="text-danger" id="alertLesson"></span>
        </div>
        <hr class="hr-orchid w-100" />
        <div class="form-group">
            <div class="row mt-2">
                <label>
                    Брой въпроси
                </label>
            </div>
            <div class="form-group">
                <input class="form-control light-green" type="number" min="0" max="999" value="0" id="numberOfQuestions" name="numberOfQuestions" />
            </div>
            <span class="text-danger" id="validateInput"></span>
            <div id="questions" name="questions">
            </div>
        </div>
        <p class="text-right"><small class="col-form-label-sm" style="color: firebrick">бъдете сигурни че информацията е правилна, след натискане на бутона "напред" не може да се върнете.</small></p>
        <div class="form-group row d-flex justify-content-between">
            <a asp-action="AdminPanel" asp-controller="Admin" class="btn btn-outline-info mt-1 ml-2">назад</a>
            <button id="save" class="btn btn-block btn-primary w-25 mr-2">напред</button>
        </div>
    </div>
</form>

<script type="text/javascript">

    // Adding question fields on number input
    $(function () {
        $('#numberOfQuestions').change(function () {

            // remove fields before create new ones
            $('#questions').empty();
            $('#validateInput').empty();

            var numberOfQuestions = $('#numberOfQuestions').val();

            // Input field for each question with its label and alert span
            for (var i = 0; i < numberOfQuestions; i++) {
                $('#questions').append(
                    $('<label >Въпрос ' + (i + 1) + '<label/>'),
                    $('<input class="mt-2 form-control" id="question' + i + '" name="[' + i + '].Question" placeholder="Въведете въпрос.."/>'),
                    $('<span class="text-danger" id="alertQuestion' + i + '"></span>'),
                    $('<br/>'),
                    $('<label class="form-group">Брой отговори<label/>'),
                    // Input number for answers and call AppendFields()
                    $('<input class="form-control light-green" onchange="AppendFields(this,' + i + ')" type="number" max="7" min="0" value="0" id="numberOfAnswers" name="answersCount' + i + '"/>'),
                    $('<span class="text-danger" id="validateNumberOfAnswers">'),
                    $('<div class="form-group" id="answerInput' + i + '"></div>'),
                    $('<hr class="hr-orchid w-100"/>'),
                );
            }
        })
    })

    // Append answers fields on answersCount change
    function AppendFields(answerCountValue, indexQuestion) {

        var currentQuestionInput = $('#answerInput' + indexQuestion + '');

        var index = $(answerCountValue).val();

        var answersLetters = ['А', 'Б', 'В', 'Г', 'Д', 'Е', 'Ж'];

        $(currentQuestionInput).empty();

        // Print answer input fields
        for (var i = 0; i < index; i++) {
            $(currentQuestionInput).append(
                $('<label>Отговор ' + answersLetters[i] + '<label/>'),
                $('<input class="form-control" id="answer' + i + '" name="[' + indexQuestion + '].Answers" placeholder="Въведете отговор.."/>'),
                $('<span class="text-danger" id="alertAnswer' + i + '"></span>'),
            )
        }
    }

    // Input validation for questions and answers and Submit form
    $(function () {
        $('#save').click(function (event) {

            // Alert variables
            var alertNumberOfQuestions = $('#validateInput');
            var alertNumberOfAnswers = $('#validateNumberOfAnswers');
            var alertPlace = $('#alertPlace');
            var alertLesson = $('#alertLesson');

            //empty alert messages
            alertNumberOfQuestions.empty();
            alertNumberOfAnswers.empty();
            alertPlace.empty();
            alertLesson.empty();


            // Error if questions or answers less than zero
            var numberOfQuestions = $('#numberOfQuestions').val();
            var numberOfAnswers = $('#numberOfAnswers').val();

            var errorCount = 0;

            if ($("#inputPlace").val() == '') {
                alertPlace.html('Попълнете полето.').fadeToggle(3500);
                errorCount += 1;
            }

            if ($("#LessonId").val() == '') {
                alertLesson.html('Изберете от менюто.').fadeToggle(3500);
                errorCount += 1;
            }

            if (numberOfQuestions <= 0) {
                alertNumberOfQuestions.html("Моля добавете въпроси.").fadeToggle(3500);
                errorCount += 1;
                return;
            }

            if (numberOfAnswers <= 0) {
                alertNumberOfAnswers.html("Моля добавете отговори.").fadeToggle(3500);
                errorCount += 1;
                return;
            }

            for (var i = 0; i < numberOfQuestions; i++) {
                if ($('#question' + i).val() == '') {
                    $('#alertQuestion' + i).html('Попълнете въпроса.').fadeToggle(3500);
                    errorCount += 1;
                }
                else {
                    $('#alertQuestion' + i).empty();
                }

                for (var j = 0; j < numberOfAnswers; j++) {
                    if ($('#answer' + j + '').val() == '') {
                        $('#alertAnswer' + j + '').html('Попълнете отговора.').fadeToggle(3500);
                        errorCount += 1;
                    }
                    else {
                        $('#alertAnswer' + i).empty();
                    }
                }
            }

            // Submit if no errors
            if (errorCount > 0) {
                event.preventDefault();
            }
        })
    })
</script>