@model DigitalCoolBook.App.Models.TestviewModels.TestViewModel

@{
    ViewData["Title"] = "TestSetup";
    Layout = "~/Views/Shared/_SubjectDetailLayout.cshtml";
}

<div class="container-lg pt-3">
    <h1>Създаване на Тест</h1>
    <hr />
    <form id="form" asp-action="CreateTest" method="post">
        <div class="row">
            <div class="col-md-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div>
                    <input type="hidden" name="LessonId" value="@Model.LessonId" />
                </div>
                <div class="form-group">
                    <label asp-for="Place" class="control-label"></label>
                    <input asp-for="Place" class="form-control" />
                    <span asp-validation-for="Place" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Timer" class="control-label"></label>
                    <input asp-for="Timer" class="form-control" />
                    <span asp-validation-for="Timer" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                @Html.DropDownListFor(m => m.GradeId, new SelectList(Model.Grades, "GradeId", "Name"), "Изберете клас", new { @class = "form-control w-50" })
            </div>
            <div class="col">
                <fieldset id="checkArray">
                </fieldset>
                <div class="form-group">
                    <input id="add" value="Добави избраните" class="btn btn-info" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <input id="button" type="submit" @*onclick="submitForm()"*@ value="Запази" class="btn btn-primary" />
        </div>
    </form>
    <div>
        <a asp-action="Index">Назад</a>
    </div>
</div>
<script>
    var studentCheckBox = $('#checkArray'); // cache variable
    $('#GradeId').change(function () {
        var GradeId = $(this).val();
        studentCheckBox.empty(); // clear existing options
        if (!GradeId) {
            return; // exit if null
        }
        $.ajax({
            type: "POST",
            url: "/Test/GetStudents",
            data: { gradeId: GradeId }, // sends gradeId to the action
            success: function (response) {
                $.each(response, function (i, item) {
                    studentCheckBox.append(
                        $('<input/>', { type: 'checkbox', name: 'chkBox', id: item.id, value: item.name }),
                        $('<label/>', { 'for': 'cb' + item.id, text: item.name }),
                        $('<br/>')
                    );
                });
            },
        });
    })

    //$(function () {
    //    $('#add').click(function () {

    //    })
    //})

    // Get checked students
    function submitForm() {
        $("#form").submit(function () {
            var formData =  $("#form").serializeArray();
            var selected = new Array();
            $('input:checked').each(function (i, element) {
                selected.push(element.value)
            });

            $.ajax({
                type: "POST",
                url: "/Test/CreateTest",
                data: { students: selected, formData: formData },
            })
        })
    }
</script>
