@model DigitalCoolBook.App.Models.TestviewModels.TestViewModel

@{
    ViewData["Title"] = "TestSetup";
    Layout = "_LayoutMenus";
}

<div class="container-lg pt-3">
    <h1 class="text-center">Стартиране на тест</h1>
    <hr />
    <form id="form" asp-action="CreateTest" method="post">
        <div class="row">
            <div class="col form-group">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div>
                    <input type="hidden" name="LessonId" value="@Model.TestId" />
                </div>
                <div class="form-group">
                    <label asp-for="Timer" class="control-label"></label>
                    <input asp-for="Timer" type="number" class="form-control" min="0" max="360" />
                    <span asp-validation-for="Timer" class="text-danger"></span>
                </div>
            </div>
            <div class="col form-group">
                <label class="mt-2">Паралелка</label>
                @Html.DropDownListFor(m => m.GradeId, new SelectList(Model.Grades, "GradeId", "Name"), "Изберете Клас..", new { @class = "form-control w-50" })
            </div>
            <div class="col form-control">
                <a class="mb-4">Ученици:</a>
                <div id="checkArray">
                </div>
            </div>
        </div>
        <div class="row form-group mb-2 mt-3">
            <div class="ml-4">
                <a class="btn btn-outline-secondary" asp-action="Tests">Назад</a>
            </div>
            <div class="ml-5">
                <input id="button" type="submit" value="Старт тест" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>

@*Update checkboxes*@
<script>
    var studentCheckBox = $('#checkArray'); // cache variable
    $('#GradeId').change(function () {
        var GradeId = $(this).val();
        studentCheckBox.empty(); // clear existing options
        if (!GradeId) {
            return; // exit if null
        }
        // Send request to server with grade Id and receive collection of students
        $.ajax({
            type: "POST",
            url: "/Test/GetStudents",
            data: { gradeId: GradeId }, // sends gradeId to the action
            success: function (response) {
                $.each(response, function (i, item) {
                    studentCheckBox.append(
                        $('<input/>', { type: 'checkbox', name: 'students', id: item.id, value: item.name }),
                        $('<label/>', { for: item.id, text: item.name }),
                        $('<br/>')
                    );
                });
            },
        });
    })
</script>
