@{
    ViewData["Title"] = "EndTest";
    Layout = "~/Views/Shared/_LayoutMenus.cshtml";
    int result = (int)this.ViewData["Result"];
}

<h2 class="text-center">Резултат</h2>

<canvas id="doughnutChart" value="@result"></canvas>

<script>
    //doughnut
    var value = document.getElementById("doughnutChart").getAttribute("value");
    var ctxD = document.getElementById("doughnutChart").getContext('2d');
    debugger;
    var myLineChart = new Chart(ctxD, {
        type: 'doughnut',
        data: {
            labels: ["Green","Red"],
            datasets: [{
                data: [value, 10,],
                backgroundColor: [ "#46BFBD","#F7464A"],
                hoverBackgroundColor: ["#FF5A5E", "#5AD3D1"]
            }]
        },
        options: {
            responsive: true
        }
    });
</script>

