@model IEnumerable<DigitalCoolBook.App.Models.TestviewModels.TestPreviewViewModel>

@{
    ViewData["Title"] = "TestsPreview";
    Layout = "~/Views/Shared/_LayoutMenus.cshtml";
}



<div class="container-fluid w-75 align-content-center">
    <h2 class="text-center">Тестове</h2>
    <p>
        <a asp-action="CreateTestAdmin">Създай нов</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TestName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="/Test/GetTestDetails/@item.TestId">@item.TestName</a>
                    </td>
                    <td class="d-flex justify-content-end">
                        <a class="btn btn-outline-secondary btn-sm mr-2" href="/Test/EditTest"> Редактирай</a>
                        <a class="btn btn-outline-danger btn-sm" id="@item.TestId" onclick="DeleteTest(this)">Изтрии</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div id="popup"></div>
<div id="confirmdelete"></div>

<script>
    // delete test
    function DeleteTest(elem) {
        // Sets the popup title
        $('#popup').dialog({ title: "Изтриване на тест" });

        $('#popup').dialog({
            resizable: false,
            modal: true,
            heigth: 220,
            width: 400,
            buttons: {

                "Назад": function () {
                    $(this).dialog('close');
                },
                // delete test
                "Изтриване": function () {

                    // post to action and display popup with message
                    $.post("/Test/DeleteTest", { testId: $(elem).attr('id') }, function (message) {
                        $('#popup').dialog({
                            resizable: false,
                            modal: true,
                            heigth: 220,
                            width: 400,
                            buttons: {
                                "Ok": function () {
                                    $(this).dialog('close', location.href = location.href);
                                }
                            }
                        })
                        $('#popup').html(message);
                    })
                }

            }
        })
    }
</script>