@model IEnumerable<DigitalCoolBook.App.Models.TestviewModels.TestsNamesViewModel>

@{
    ViewData["Title"] = "Tests";
    Layout = "~/Views/Shared/_SubjectDetailLayout.cshtml";
}

<h1>Тестове</h1>

<p>
    <a class="btn btn-sm btn-outline-secondary" asp-action="CreateTest">Създай нов</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TestName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var test in Model)
        {
            <tr>
                <td>
                    @if (test.IsExpired)
                    {
                        <div class="text-danger">
                            @Html.DisplayFor(modelItem => test.TestName)
                        </div>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => test.TestName)
                    }
                </td>
                <td class="btn btn-outline-success mb-2">
                    @if (test.IsExpired)
                    {
                        <span class="text-danger">Теста е приключил</span>
                    }
                    else
                    {
                        @Html.ActionLink("Старт", "StartTest", "Test", new { id = test.TestId })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
