@model IEnumerable<DigitalCoolBook.App.Models.TestviewModels.TestPreviewViewModel>

@{
    ViewData["Title"] = "TestsPreview";
    Layout = "~/Views/Shared/_LayoutMenus.cshtml";
}



<div class="container-fluid w-75">
    <h2 class="text-center">Тестове</h2>
    <div class="form-group">
        <a class="btn btn-sm btn-outline-secondary" asp-action="CreateTestAdmin">Създай нов</a>
        <div class="col-form-label-lg">
            @Html.DisplayNameFor(model => model.TestName)
        </div>
        @foreach (var item in Model)
        {
            <div class="row form-group">
                <a class="btn btn-block btn-outline-info w-75 mr-1" href="/Test/GetTestDetails/@item.TestId">@item.TestName</a>
                <a class="btn btn-outline-danger btn-sm" id="@item.TestId" onclick="DeleteTest(this)">Изтрии</a>
            </div>
        }

        <a href="/Admin/AdminPanel">назад</a>
    </div>
</div>
<div id="popup"></div>
<div id="confirmdelete"></div>

<script>
    // delete test
    function DeleteTest(elem) {
        // Sets the popup title
        $('#popup').dialog({ title: "Изтриване на тест" });

        $('#popup').dialog({
            resizable: false,
            modal: true,
            heigth: 220,
            width: 400,
            buttons: {

                "Назад": function () {
                    $(this).dialog('close');
                },
                // delete test
                "Изтриване": function () {
                    $.post("/Test/DeleteTest", { testId: $(elem).attr('id') }, function (message) {
                        $('#popup').dialog({
                            resizable: false,
                            modal: true,
                            heigth: 220,
                            width: 400,
                            buttons: {
                                "Ok": function () {
                                    $(this).dialog('close', location.href = location.href);
                                }
                            }
                        })
                        $('#popup').html(message);
                    })
                }
            }
        })
    }
</script>