@import '../shared-styles/colors';

.container {
  text-align: center;
  margin: 20px auto;
  margin-bottom: 70px;
  background-color: $charcoal;
  border-radius: 20px;
  padding: 10px;
  width: 35%;
}

.contact-info {
  &__header {
    font-size: 20px;
    color: $mellowApricot;
    font-weight: 500;
    margin-right: 15px
  }

  &__icon {
    font-size: 22px;
    color: $mellowApricot;
    margin-right: 2%;
  }

  &__icon--phone {
    color: $whatsupGreen;
  }

  &__icon--messenger {
    color: $lightBlue
  }

  &__details {
    margin-top: 5px;
    text-align: left;
    display: grid;
    grid-template-columns: 250px;
    grid-template-rows: max-content max-content;
    justify-content: center;
  }

  &__detail {
    color: $lightBlue;
    font-size: 20px;
    font-weight: 600;
  }
}
