<section class="container contact-info">
  <p class="contact-info__header">For more information or orders please send a message or call</p>
  <article class="contact-info__details">
    <p class="contact-info__detail">
      <i class="contact-info__icon fas fa-envelope"></i> {{email}}
    </p>
    <p class="contact-info__detail">
      <i class="contact-info__icon contact-info__icon--phone fas fa-phone-square"></i>
      <i class="contact-info__icon contact-info__icon--messenger fab fa-facebook-messenger"></i> {{mobile}}
    </p>
  </article>
</section>
