
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col-lg">
            <div class="list-group w-70 ">
                <a class="list-group-item list-group-item-dark">Настройки на профили</a>
                <a href="/Teacher/EditTeachers" class="list-group-item list-group-item-action list-group-item-primary">Учителски акаунт</a>
                <a href="/Student/EditStudents" class="list-group-item list-group-item-action list-group-item-primary">Ученически акаунт</a>
            </div>
        </div>
        <div class="col-lg">
            <div class="list-group w-70 ">
                <a class="list-group-item list-group-item-dark">Настройки на Класове</a>
                <a href="/Admin/EditParalelos" class="list-group-item list-group-item-action list-group-item-primary">Паралелки</a>
                <a href="/Subject/AddCategory" class="list-group-item list-group-item-action list-group-item-primary">Добавяне на теми и уроци</a>
            </div>
        </div>
    </div>
       
</div>


