
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div class="list-group w-50 ">
    <a class="list-group-item list-group-item-dark">Редактиране на потребители</a>
    <a href="/Teacher/EditTeachers" class="list-group-item list-group-item-action list-group-item-primary">Учителски акаунт</a>
    <a href="/Student/EditStudents" class="list-group-item list-group-item-action list-group-item-primary">Ученически акаунт</a>
</div>