
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col-lg">
            <div class="list-group w-70 ">
                <a class="list-group-item list-group-item-dark">Редактиране на потребители</a>
                <a href="/Teacher/EditTeachers" class="list-group-item list-group-item-action list-group-item-primary">Учителски акаунти</a>
                <a href="/Student/EditStudents" class="list-group-item list-group-item-action list-group-item-primary">Ученически акаунти</a>
            </div>
        </div>
    </div>
    <row class="row">
        <div class="col-lg">
            <div class="list-group w-70 ">
                <a class="list-group-item list-group-item-dark">Добавяне/Редактиране на Паралелки</a>
                <a href="/Admin/CreateParalelo" class="list-group-item list-group-item-action list-group-item-primary">Създаване на Паралелка</a>
                <a href="/Student/ChangePassword" class="list-group-item list-group-item-action list-group-item-primary">Друго</a>
            </div>
        </div>
    </row>
</div>


