@model DigitalCoolBook.App.Models.GradeParaleloViewModels.ParaleloCreateViewModel

@{
    ViewData["Title"] = "CreateParalelo";
}

<h2>Създаване на Клас</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateParalelo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Учител</label>
                <div class="form-control">
                    @Html.DropDownListFor(model => model.TeacherId, new SelectList(Model.Teachers, "Id", "Name"), "Избери Учител")
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Клас</label>
                <div class="form-control">
                    @Html.DropDownListFor(model => model.GradeId, new SelectList(Model.Grades, "GradeId", "Name"), "Избери Клас")
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Създай" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="/Admin/Paralelos">Назад</a>
</div>

