@using DigitalCoolBook.App.Areas.Identity.Pages.Account

@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

@if (!this.User.Identity.IsAuthenticated)
{
    <div>
        <h1 class="page-header">Welcome to Digital Cool Book!</h1>
        <span>Learn more and have fun!</span>
    </div>
    <div class="pt-4">
        <a class="btn btn-outline-primary" asp-controller="Home" asp-action="Login">
            <span class="fa fa-user"></span> Login
        </a>
    </div>
}

