@using DigitalCoolBook.App.Areas.Identity.Pages.Account

@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

@if (!this.User.Identity.IsAuthenticated)
{
    <div class="offset-md-3 col-md-6 offset-sm-0 col-sm-12 mt-5">
        <div>
            <h1 class="page-header">Welcome to Digital Cool Book!</h1>
            <h5>
                <span class="me-2">L e a r n</span>
                <span class="me-2">a n d</span>
                <span class="me-2">h a v e</span>
                <span>f u n!</span>
            </h5>
        </div>
        <div class="pt-4">
            <a asp-controller="Home"
               asp-action="Login">
                <span class="fa fa-user"></span> Login
            </a>
        </div>
    </div>
}
