@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

@if (!this.User.Identity.IsAuthenticated)
{
    <div class="offset-md-3 col-md-6 offset-sm-0 col-sm-12 mt-5">
        <div class="page-wrapper">
            <div>
                <h1 class="welcome page-header">Welcome to</h1>
                <div class="dcb">
                    <h1 class="dcb-header page-header ms-2">Digital Cool Book!</h1>
                </div>
                <hr />
                <h4 class="learn">L e a r n</h4>
                <div class="have-fun"><h5> progress and have fun!</h5></div>
            </div>
            <div class="mt-5">
                <a class="home-login-link link-lg"
                   asp-controller="Home"
                   asp-action="Login"><i class="fas fa-sign-in-alt"></i> Login</a>
            </div>
        </div>
    </div>
}