@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}

<div class="offset-md-3 col-md-6 col-sm-12">
    <div class="page-wrapper">
        <form asp-action="Login" method="post">
            <h3>L o g i n</h3>
            <div class="justify-content-center">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group row">
                    <span class="form-label" asp-for="Email">Email</span>
                    <input asp-for="Email" class="form-control w-50" placeholder="john@yahoo.com..." autofocus />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group row mt-3">
                    <span class="form-label" asp-for="Password">Password</span>
                    <input asp-for="Password" class="form-control w-50" placeholder="Your password..." />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group row mt-2">
                    <div class="checkbox">
                        <label asp-for="RememberMe"><input asp-for="RememberMe" />Remember me?</label>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary mt-3">Login</button>

                <div class="row mt-3">
                    <a href="/Admin/ForgotPassword" class="nav-link mb-1">Forgotten password?</a>
                    <a href="/Admin/AdminContact" class="nav-link">Contact admin</a>
                </div>
            </div>
        </form>
    </div>
</div>

