@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_Layout";
}
<title>Privacy policy</title>

<div class="privacy-wrapper">
    <div class="page-wrapper">
        <h3>
            Privacy Policy
        </h3>

        <h4>What cookies we send and how we use them</h4>
        <hr />
        <ol>
            <li>
                <h4>
                    Consent cookie
                </h4>
                <p class="text-light">
                    This cookie we send when you Accept non - essential cookies.We send it to your browser so that you don't have to accept it every time you visit us. Expires after one year.
                </p>
                <hr />
            </li>

            <li>
                <h4>
                    Anti-forgery cookie
                </h4>
                <p class="text-light">
                    We send that cookie for security reasons. It is essential cookie.
                </p>
            </li>
        </ol>
        <hr />
        <h4>
            Communication
        </h4>
        <ol>
            <li>
                <p class="text-light">
                    We may reach you by the E-mail you provide, for example if you forgot your password and such.
                    <br />
                </p>
            </li>
            <li>
                <p class="text-light">
                    You can call or message us on the provided mobile phone number and e-mail for any assistance you may require regarding our website usage.
                </p>
            </li>
        </ol>
        <hr />
        <h4>
            Changes to policy
        </h4>
        <ol>
            <li>
                <p class="text-light">
                    We can update or change our policy in the future.
                    <br />
                    You will be prompted to Accept once again our cookie policy if any changes occur.
                </p>
            </li>
        </ol>
        <hr />
        <h5>
            We do not use or collect any personal information for the purpose of tracking, img or sell/share to third parties.
        </h5>
        <hr />
        <h4>
            You can withdraw your cookie consent anytime.
        </h4>
    </div>
</div>



