@model FDMC.Models.CatModel
@{
    ViewData["Title"] = "AddCat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add Cat</h1>
<br />
<form action="/" method="post">
    Name:
    <input type="text" name="name"/>
    <br />
    Age:
    <input type="text" name="age" />
    <br />
    Breed:
    <input type="text" name="breed" />
    <br />
    ImageUrl:
    <input type="text" name="image" />
    <br />
    <button type="submit"></button>
</form>


