@model FDMC.Models.AddCatModel
@{
    ViewData["Title"] = "AddCat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add Cat</h1>
<br />
<form action="/Home/AddCat" method="post">
    Name:
    <input type="text" name="name" />
    <br />
    Age:
    <input type="text" name="age" />
    <br />
    Breed:
    <input type="text" name="breed" />
    <br />
    ImageUrl:
    <input type="url" name="url" />
    <br />
    <button type="submit">Add Cat</button>
</form>


