@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Fluffy Duffy Munchkin Cats</h1>
    <ul>
     
    </ul>
    <form asp-action="AddCat">
        <button asp-controller="Home" asp-action="AddCat">Add Cat</button>
    </form>
</div>
