@using Data.Models

@{

    ViewData["Title"] = "Home Page";
    var allCats = ViewData["allCats"];
}

<div>
    <h1>Fluffy Duffy Munchkin Cats</h1>
    @foreach (var cat in (List<Cat>)allCats)
    {
        <ul>
            <li>
                <a href="/Home/Details?id=@cat.Id" rel="stylesheet">@cat.Name</a>
            </li>
        </ul>

    }
    <form>
        <button asp-controller="Home" asp-action="AddCat">Add Cat</button>
    </form>
</div>
