<!-- <header class="fixed-top">
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark box-shadow">
    <div class="container">
      <section>
        <h5 class="header-title">Knife Gallery</h5>
      </section>
      <section>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
          aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
          <span class="navbar-toggler-icon"></span>
        </button>
      </section>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]="{ show: isExpanded }">
        <app-login-menu></app-login-menu>
        <section class="navbar-lang-homepage">
          <section class="lang-select-box">
            <label>
              <select class="lang-box" #langSelect (change)="translate.use(langSelect.value)">
                <option *ngFor="let lang of translate.getLangs()" [value]="lang"
                  [selected]="lang === translate.currentLang">
                  {{ lang }}
                </option>
              </select>
            </label>
          </section>
          <section>
            <a class="nav-link" [routerLink]="['/']"><i class="fas fa-home mr-1"></i>Home</a>
          </section>
          <div class="dropdown">
            <button class="dropbtn">Knives</button>
            <div class="dropdown-content">
              <a href="#">Kitchen Knives</a>
              <a href="#">Middle Class</a>
              <a href="#">Highend Class</a>
            </div>
          </div>
          SHOPPING CART
          <section *ngIf="!isAuthenticated">
            <a class="nav-link nav-link-shopping-cart" [routerLink]="['/shopping-cart-details']">
              <p class="badge" *ngIf="itemsCount > 0">{{itemsCount}}</p>
              <i class="fas fa-shopping-cart"></i> cart
            </a>
          </section>
        </section>
      </div>
    </div>
  </nav>
</header> -->


<div class="navbar">
  <a class="navbar-brand header-title" [routerLink]="['/']">
    <p>Knives</p>
    <p>Gallery</p>
  </a>
  <a class="active" [routerLink]="['/']"><i class="fa fa-fw fa-home"></i> Home</a>
  <div class="dropdown">
    <button class="btn" type="button" id="navbarDarkDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      Knives
    </button>
    <div class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
      <a class="dropdown-item" [routerLink]="['knives/KitchenClass']">Kitchen knives</a>
      <a class="dropdown-item" [routerLink]="['knives/MiddleClass']">Middle class</a>
      <a class="dropdown-item" [routerLink]="['knives/HighClass']">High class</a>
    </div>
  </div>
  <a [routerLink]="['contact-page']"><i class="fa fa-fw fa-envelope"></i> Contact</a>
  <a [routerLink]="['about-page']"><i class="fas fa-info"> About</i></a>
  <div>
    <select class="lang-box" #langSelect (change)="translate.use(langSelect.value)">
      <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">
        {{ lang }}
      </option>
    </select>
  </div>
  <app-login-menu></app-login-menu>
</div>