<div class="navbar">
  <a class="navbar-brand header-title" [routerLink]="['/']">
    <p>Knives</p>
    <p>Gallery</p>
  </a>
  <a class="active" routerLink="/">Home</a>
  <div class="dropdown">
    <button class="btn" type="button" id="navbarDarkDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
      Knives
    </button>
    <div class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
      <a class="dropdown-item" [routerLink]="['/knives/KitchenClass']" routerLinkActive="active">Kitchen knives</a>
      <a class="dropdown-item" [routerLink]="['/knives/MiddleClass']" routerLinkActive="active">Middle class</a>
      <a class="dropdown-item" [routerLink]="['/knives/HighClass']" routerLinkActive="active">High class</a>
    </div>
  </div>
  <a routerLink="contact-page">Contact</a>
  <a routerLink="about-page">About</a>
  <div class="flags-container">
    <div class="flag-wrapper" (click)="useLanguage('EN')">
      <img src="assets/icons/en_flag.png" alt="flag" />
    </div>
    <div class="flag-wrapper" (click)="useLanguage('BG')">
      <img src="assets/icons/bg_flag.png" alt="flag" />
    </div>
  </div>
  <a *ngIf="!isAuthenticated" class="shopping-cart" [ngClass]="classes" [routerLink]="['/shopping-cart-details']">
    <p class="badge" *ngIf="itemsCount > 0">{{itemsCount}}</p>
    <i class="fas fa-shopping-cart"></i>
  </a>
</div>
<app-login-menu></app-login-menu>
