@import "../../shared-styles/colors";

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.navbar {
  background-color: #37475a !important;
  color: $white;
  overflow: hidden;
}

.nav-link {
  color: $mellowApricot;

  &:hover {
    color: whitesmoke;
  }
}

a {
  color: $white;
  transition: ease-in 0.1s;
}

a:hover {
  transform: scale(1.1);
  text-decoration: none;
}

.navbar-lang-homepage {
  @media (max-width: 599px) {
    justify-content: center;
    margin: 0;
  }

  display: grid;
  grid-template-columns: max-content max-content max-content;
  grid-column-gap: 15px;
  align-self: flex-end;
  margin-right: 15px;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.lang-box {
  border-radius: 2px;
  border: 1px solid $mellowApricot;
  font-size: 14px;
}

.lang-select-box {
  align-self: self-end;
}

.header-title {
  color: $mellowApricot;
}

//shopping cart styles
.nav-link-shopping-cart {
  position: relative;
}

.badge {
  position: absolute;
  background: #ff6600;
  height: 1.2rem;
  width: 1.2rem;
  top: -3px;
  right: 39px;
  text-align: center;
  font-size: 0.7rem;
  border-radius: 50%;
  color: white;
  border: 1px solid #ff6600;
  font-family: sans-serif;
  padding: 4px;
  margin: 0;
}

.fixed-top{
  margin-top: 20px;
}
