@import "../../shared-styles/colors";

.navbar {
  box-shadow: 0px 1px 4px 0px rgba(255, 0, 0, 0.76);
  background-color: rgba(0, 0, 0, 0.733);
  a {
    transition: 0.1s;
    color: whitesmoke;
    font-size: 20px;
  }
  a:hover {
    color: $red;
  }
}
.dropdown {
  .btn {
    color: whitesmoke;
    font-size: 20px;
  }
  .btn:hover {
    color: $red !important;
  }
}
.dropdown-item {
  color: whitesmoke !important;
}
.dropdown-item:hover {
  background-color: $red;
}
.dropdown-menu {
  background-color: black;
}

.lang-box {
  background-color: black;
  color: whitesmoke;
  option {
    color: whitesmoke;
    background-color: black;
  }
  option:hover {
    background-color: $red !important;
  }
}
.navbar-brand{
  display: grid;
  grid-template-rows: min-content min-content;
}
p {
  margin: 0;
}
//shopping cart styles
// .nav-link-shopping-cart {
//   position: relative;
// }

// .badge {
//   position: absolute;
//   background: #ff6600;
//   height: 1.2rem;
//   width: 1.2rem;
//   top: -3px;
//   right: 39px;
//   text-align: center;
//   font-size: 0.7rem;
//   border-radius: 50%;
//   color: white;
//   border: 1px solid #ff6600;
//   font-family: sans-serif;
//   padding: 4px;
//   margin: 0;
// }
