@model DigitalCoolBook.App.Models.CategoryViewModels.CategoryCreateViewModel

@{
    ViewData["Title"] = "Add Lesson";
    Layout = "_LayoutMenus";
}

<style>
    .myOrangeButton {
        background: #ffb74d;
    }
</style>

<h3 class="text-center DCB-text mt-2 ">Добавяне на тема</h3>
<br />
<div class="container-fluid w-75">
    <form>
        <div class="col form-group">
            <label class="col-form-label-lg">Избери Предмет</label>
            @Html.DropDownListFor(model => model.SubjectId, new SelectList(Model.Subjects, "SubjectId", "Name"), "Предмет..", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.SubjectId, "", new { @class = "text-danger" })
            <small>В тази секция може да добавите нов предмет или да изтриете съществуващ такъв.</small>
            <div class="row mt-3 form-group">
                <a href="/Subject/CreateSubject" class="btn btn-sm btn-outline-secondary form-group">Добави Предмет</a>
                <a href="#" id="deleteSubject" class="btn btn-sm btn-outline-danger ml-2 form-group">Изтрии Предмета</a>
            </div>
        </div>
        <hr />
        <div class="col form-group">
            <label class="col-form-label-lg">Избери Раздел</label>
            @Html.DropDownListFor(model => model.CategoryId, new SelectList(Model.Categories, "Id", "Title"), "Раздел..", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.CategoryId, "", new { @class = "text-danger" })
            <small>В тази секция може да добавите нов раздел в избрания предмет или да изтриете избраният от менюто раздел.</small>
            <div class="row mt-3 form-group">
                <a href="/Subject/CreateCategory" class="btn btn-sm btn-outline-secondary">Добави Раздел</a>
                <a href="#" id="deleteCategory" class="btn btn-sm btn-outline-danger ml-2">Изтрии Раздела</a>
            </div>
        </div>
        <hr />
        <div class="mb-2">
            <small class="mb-3 my-info-text text-sm-left">
                Нивата на достъп представляват система при която темата не може да бъде достъпена преди да бъде взет успешно теста на предходната тема.
                Всички теми с ниво на достъп по-голям от 1 ще са достъпни при успех по-голям или равен на 70 точки.
            </small>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Ниво на достъп</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
                <option selected></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="1">4</option>
                <option value="2">5</option>
                <option value="3">6</option>
                <option value="1">7</option>
                <option value="2">8</option>
                <option value="3">9</option>
                <option value="3">10</option>
            </select>
        </div>
        <span class="text-danger" id="alertLevel"></span>
        <hr />
        <div>
            <label for="title" class="gj-font-size-16">Тема</label>
            <input type="text" class="form-control" id="title" name="title" />
            <span class="row text-danger ml-2 mb-1" id="alertTitle"></span>
            <label for="content" class="gj-font-size-16">Съдържание</label>
            <textarea class="form-control" id="content" name="content" rows="10"></textarea>
            <span class="text-danger" id="alertContent"></span>
        </div>
        <div class="d-flex justify-content-end mt-2">
            <a class="btn btn-sm btn-outline-info form-group w-25" data-toggle="tooltip" data-placement="bottom" title="Преглед на всички теми и редакция" href="/Subject/LessonsPreview">преглед на теми</a>
        </div>
        <div class="row form-group mt-2 d-flex justify-content-between">
            <a class="mb-2" href="/Admin/AdminPanel">назад</a>
            <input type="submit" value="Запази" class="btn btn-outline-secondary form-group ml-3" />
        </div>
    </form>
</div>


<div id="successMessage"></div>
<div id="errorMessage" title="Грешка!"></div>

@*Updates Category according Subject selection*@
<script>
    var categoryDropDown = $('#CategoryId'); // cache variable
    $('#SubjectId').change(function () {
        var SubjectId = $(this).val();
        categoryDropDown.empty(); // clear existing options
        if (!SubjectId) {
            return; // exit if null
        }
        $.ajax({
            type: "POST",
            url: "/Subject/GetCategories",
            data: { subjectId: SubjectId }, // sends subjectId to the action
            success: function (response) {
                categoryDropDown.append($('<option></option>').val('').text('Избери Раздел')); // add a default null option
                $.each(response, function (i, item) {
                    categoryDropDown.append($('<option></option>').val(item.id).text(item.title));
                });
            },
        });
    })
</script>

@*Deletes choosen Category*@
<script>
    $(function () {
        $("#deleteCategory").click(function () {
            var categoryId = $('#CategoryId').val();
            $("#successMessage").dialog(
                {
                    resizable: false,
                    height: 200,
                    width: 300,
                    modal: true,
                    buttons: {
                        "Изтриване": function () {
                            $.ajax({
                                type: "POST",
                                url: "/Subject/RemoveCategory",
                                data: { categoryId: categoryId },
                                success: function () {
                                    $("#successMessage").dialog(
                                        {
                                            resizable: false,
                                            height: 200,
                                            width: 300,
                                            modal: true,
                                            buttons:
                                            {
                                                "Затвори": function () {
                                                    $(this).dialog("close", location.href = "/Subject/AddLesson");
                                                }
                                            }
                                        });
                                    $("#successMessage").html("Раздела изтрит!")
                                },
                                error: function (request, err, message) {
                                    $("#errorMessage").dialog({
                                        maxHeight: 290,
                                        width: 600,
                                        modal: true,
                                        buttons:
                                        {
                                            "Затвори": function () {
                                                $(this).dialog("close");
                                            }
                                        }
                                    });
                                    $("#errorMessage").html(request.responseText);
                                }
                            })
                        },
                        "Отказ": function () {
                            $(this).dialog("close");
                        }
                    }
                })
            $("#successMessage").html("Изтриване на раздела?")
        })
    })
</script>

@*Delete choosen Subject*@
<script>
    $(function () {
        $("#deleteSubject").click(function () {
            var subjectId = $('#SubjectId').val();
            $("#successMessage").dialog(
                {
                    resizable: false,
                    height: 200,
                    width: 300,
                    modal: true,
                    buttons: {
                        "Изтриване": function () {
                            $.ajax({
                                type: "POST",
                                url: "/Subject/RemoveSubject",
                                data: { subjectId: subjectId },
                                success: function () {
                                    $("#successMessage").dialog(
                                        {
                                            resizable: false,
                                            height: 200,
                                            width: 300,
                                            modal: true,
                                            buttons: {
                                                "Затвори": function () {
                                                    $(this).dialog("close", location.href = "/Subject/AddLesson");
                                                }
                                            }
                                        });
                                    $("#successMessage").html("Предмета изтрит!")
                                },
                                error: function (request, err, message) {
                                    $("#errorMessage").dialog({
                                        maxHeight: 290,
                                        width: 600,
                                        modal: true,
                                        buttons: {
                                            "Затвори": function () {
                                                $(this).dialog("close");
                                            }
                                        }
                                    });
                                    $("#errorMessage").html(request.responseText);
                                }
                            })
                        },
                        "Отказ": function () {
                            $(this).dialog("close");
                        }
                    }
                })
            $("#successMessage").html("Изтриване на предмета?")
        })
    })
</script>

@*Submit form and display Popup*@
<script>
    $('form').on('submit', function (event) {

        // validation for title and contend
        if ($('#title').val() == '') {
            $('#alertTitle').html("Попълнете заглавието.").fadeToggle(4000);
            return false;
        }
        if ($('#content').val() == '') {
            $('#alertContent').html("Въведете съдържание.").fadeToggle(4000);
            return false;
        }
        if ($('#inputGroupSelect01').val() == '') {
            $('#alertLevel').html('Изберете от менюто.')
            return false;
        }

        event.preventDefault();

        var categoryId = $('#CategoryId').val();
        var title = $('#title').val();
        var content = $('#content').val();
        var level = $('#inputGroupSelect01').val();

        $.post("/Subject/AddLesson", { categoryId: categoryId, title: title, content: content, level: level }, function (message) {
            $('#successMessage').dialog({
                resizable: false,
                height: 200,
                width: 300,
                modal: true,
                buttons: {
                    "Ok": function () {
                        $(this).dialog('close', location.href = "/Subject/AddLesson");
                    },
                }
            })
            $('#successMessage').html(message);
        })
    })
</script>