@model DigitalCoolBook.App.Models.CategoryViewModels.CategoryAdminCreateViewModel

@{
    ViewData["Title"] = "CreateCategory";
    Layout = "_LayoutMenus";
}

<div class="container-fluid w-75">
    <h2>Създаване на Раздел</h2>
    <hr />
    <form asp-action="CreateCategory" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label class="gj-font-size-16">Учебен Предмет</label>
            @Html.DropDownListFor(model => model.SubjectId, new SelectList(Model.Subjects, "SubjectId", "Name"), "Избери Предмет", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.SubjectId, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label asp-for="Title" class="control-label">Заглавие</label>
            <input id="title" asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group d-flex justify-content-center">
            <a id="submit" class="btn btn-outline-info">Създай</a>
        </div>
    </form>
    <a href="/Admin/AdminPanel" class="mb-2">назад</a>
    <hr />
</div>

<div id="successMessage"></div>
<div id="errorMessageDialog"></div>

<script type="text/javascript">
    $(function () {
        $("#submit").click(function () {
            $.ajax({
                url: "/Subject/CreateCategory/",
                type: "POST",
                data:
                {
                    SubjectId: $("#SubjectId").val(),
                    Title: $("#title").val(),
                },
                success: function (redirect) {
                    $("#successMessage").dialog(
                        {
                            resizable: false,
                            height: 200,
                            width: 300,
                            modal: true,
                            buttons: {
                                "Ок": function () {
                                    $(this).dialog("close", location.href = redirect);
                                }
                            }
                        });
                    $("#successMessage").html("Разделът е създаден.")
                },
                error: function (request, err, message) {
                    $("#errorMessageDialog").dialog({
                        maxHeight: 220,
                        width: 300,
                        modal: true,
                        buttons: {
                            "Затвори": function () {
                                $(this).dialog("close");
                            }
                        }
                    });
                    $('#errorMessageDialog').dialog({ title: 'Грешка'});
                    $("#errorMessageDialog").html("Възникна грешка.");
                }
            })
        })
    })
</script>