@model DigitalCoolBook.App.Models.CategoryViewModels.CategoryAdminCreateViewModel

@{
    ViewData["Title"] = "CreateCategory";
    Layout = "_Layout";
}

<div class="container-fluid w-75">
    <h3>Create category</h3>
    <hr />
    <form asp-action="CreateCategory" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label class="gj-font-size-16">Subject</label>
            @Html.DropDownListFor(model => model.SubjectId, new SelectList(Model.Subjects, "SubjectId", "Name"), "Select subject", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.SubjectId, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label asp-for="Title" class="control-label">Title</label>
            <input id="title" asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="buttons-wrapper">
            <a class="btn btn-outline-secondary btn-sm" href="/Admin/AdminPanel">Back</a>
            <a class="btn btn-outline-success btn-sm" id="submit">Create</a>
        </div>
    </form>
</div>

<div id="successMessage"></div>
<div id="errorMessageDialog"></div>

@section Scripts{
    <script>
        $(function () {
            $("#submit").click(function () {
                $.ajax({
                    url: "/Subject/CreateCategory/",
                    type: "POST",
                    data:
                    {
                        SubjectId: $("#SubjectId").val(),
                        Title: $("#title").val()
                    },
                    success: function (redirect) {
                        $("#successMessage").dialog(
                            {
                                modal: true,
                                buttons: {
                                    "Ок": function () {
                                        $(this).dialog("close", location.href = redirect);
                                    }
                                }
                            });
                        $("#successMessage").html("Category created successfully");
                    },
                    error: function (request, err, message) {
                        $("#errorMessageDialog").dialog({
                            modal: true,
                            buttons: {
                                "Close": function () {
                                    $(this).dialog("close");
                                }
                            }
                        });
                        $('#errorMessageDialog').dialog({ title: 'Error' });
                        $("#errorMessageDialog").html("Error while creating category");
                    }
                });
            });
        })
    </script>
}
