@model DigitalCoolBook.App.Models.CategoryViewModels.LessonEditViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "_LayoutMenus";
}

<div class="container-fluid w-75">
    <h3>Редакция на @Model.Title</h3>
    <hr />
    <form asp-action="EditLesson">
        <input hidden id="lessonId" value="@Model.LessonId" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label class="control-label">Заглавие</label>
            <input asp-for="Title" id="title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Съдържание</label>
            <textarea asp-for="Content" id="content" class="form-control" rows="10"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="row control-label">Раздел</label>
            @Html.DropDownListFor(model => model.CategoryId, new SelectList(Model.Categories, "Id", "Title"), new { @class = "group-control" })
        </div>
        <div class="form-group d-flex justify-content-center">
            <input type="submit" value="Запази" class="btn btn-outline-secondary w-25" />
        </div>
    </form>
    <div>
        <a asp-action="LessonsPreview">Назад</a>
    </div>
</div>
<div id="dialog"></div>

<script>
    $('form').on('submit', function (event) {
        event.preventDefault();
        // Getting values from form
        var title = $('#title').val();
        var content = $('#content').val();
        var lessonId = $('#lessonId').val();
        var categoryId = $('#CategoryId').val();
        // Post values to server
        $.post("/Subject/EditLesson", { title: title, content: content, lessonId: lessonId, categoryId: categoryId }, function (message) {
            $('#dialog').dialog({
                modal: true,
                width: 350,
                heigth: 250,
                buttons: {
                    "Ok": function () {
                        $(this).dialog('close', location.href = "/Subject/LessonsPreview");
                    }
                }
            })
            $('#dialog').html(message);
        })
    })
</script>

