@model DigitalCoolBook.App.Models.CategoryViewModels.LessonEditViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";
}

<div class="offset-md-3 col-md-6 offset-sm-0 col-sm-12 mt-3">
    <form asp-action="EditLesson">
        <input hidden id="lessonId" value="@Model.LessonId" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group mb-2">
            <label class="form-label">Title</label>
            <input asp-for="Title" id="title" class="form-control" />
            <span id="titleAlert" class="text-danger"></span>
        </div>
        <div class="form-group mb-2">
            <label class="form-label">Content</label>
            <textarea asp-for="Content" id="content" class="form-control" rows="10"></textarea>
            <span id="contentAlert" class="text-danger"></span>
        </div>
        <div class="form-group mb-2">
            <select class="form-select" aria-label="Default select example" id="selectedCategory">
                <option selected>Select category</option>
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.Id">@category.Title</option>
                }
            </select>
            <span id="categoryAlert" class="text-danger"></span>
        </div>
        <div class="buttons-wrapper">
            <a class="btn btn-outline-secondary btn-sm" asp-action="LessonsPreview">Back</a>
            <input class="btn btn-outline-success btn-sm" type="submit" value="Save" />
        </div>
    </form>
</div>

<div id="dialog" title="Message"></div>

@section Scripts{
    <script>
        $('form').on('submit', function (event) {
            event.preventDefault();

            var title = $('#title').val();
            var titleAlert = $('#titleAlert');
            var content = $('#content').val();
            var contentAlert = $('#contentAlert');
            var lessonId = $('#lessonId').val();
            var categoryId = $('#selectedCategory').val();
            var categoryAlert = $('#categoryAlert');
            categoryAlert.html('');
            titleAlert.html('');
            contentAlert.html('');
      
            if (categoryId === "Select category") {
                categoryAlert.html("Please select category");
                return;
            }
            if (title === "") {
                titleAlert.html("Please enter title");
                return;
            }
            if (content.length < 20) {
                contentAlert.html("Please enter at least 20 symbols for content");
                return;
            }
            // Post values to server
            $.post("/Subject/EditLesson",
                { title, content, lessonId, categoryId },
                function (message) {
                    $('#dialog').html(message);
                    $('#dialog').dialog({
                        modal: true,
                        buttons: {
                            Ok: function () {
                                $(this).dialog("close", location.href = "/Subject/LessonsPreview");
                            }
                        }
                    });
                });
        })
    </script>
}

