@model DigitalCoolBook.App.Models.CategoryViewModels.LessonsViewModel

@{
    ViewData["Title"] = "LessonDetails";
    Layout = "_Layout";
}

<div class="container-fluid">
    <h3>@Model.Title</h3>
    <hr />
    <div>
        <p class="lesson-content">@Model.Content</p>
    </div>
    <hr />
    <div class="buttons-wrapper">
        <a class="btn btn-outline-secondary btn-sm"
           asp-controller="Subject"
           asp-action="CategoryDetails"
           asp-route-categoryId="@Model.CategoryId"
           asp-route-subjectId="@Model.CategoryId">Back</a>
    </div>
</div>
