@model IEnumerable<DigitalCoolBook.App.Models.SubjectViewModels.SubjectViewModel>

@{
    Layout = "_LayoutMenus";
    ViewData["Title"] = "Subjects";
}
<div class="row mb-2 mt-2">
    <div class="col d-flex justify-content-center">
        <h2 class="col-sm-auto my-h2">Учебни предмети</h2>
    </div>
</div>
@foreach (var item in Model)
{
    <div class="d-flex justify-content-center mb-3">
        <a class="btn-outline-info btn-lg" asp-controller="Subject" asp-action="Categories" asp-route-id="@item.SubjectId">
            @Html.DisplayFor(modelItem => item.Name)
        </a>
    </div>
}

