@model IEnumerable<DigitalCoolBook.App.Models.SubjectViewModels.SubjectViewModel>

@{
    Layout = "_LayoutMenus";
    ViewData["Title"] = "Subjects";
}
<div class="row mb-5">
    <div class="col d-flex justify-content-center">
        <h2 class="col-sm-auto my-h2">Учебни предмети</h2>
    </div>
</div>
@foreach (var item in Model)
{
    string imgName = item.Name + ".jpg";

    <a class="subject-card" asp-controller="Subject" asp-action="Categories" asp-route-id="@item.SubjectId">
        <div class="upper-card">
            <img src="~/img/@imgName" all="study" />
        </div>
        <div class="lower-card">
            <span>
                @Html.DisplayFor(modelItem => item.Name)
            </span>
        </div>
    </a>
}

