/*$lightBlue: #007eb9;
$gunmetal: #232F3E;
$charcoal: #37475A;
$mellowApricot: #FEBD69;
$cornflowerBlue3: #c9daf8;
$whatsupGreen: #4CC15B;*/

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.navbar {
  background-color: #37475a !important;
  color: #ffffff;
}
.nav-link {
  color: #FEBD69;
}
a {
  color: #ffffff;
  transition: ease-in 0.1s;
}

  a:hover {
    transform: scale(1.1);
    text-decoration: none;
  }

.navbar-lang-homepage {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-column-gap: 15px;
  align-self: flex-end;
  margin-right: 15px;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.lang-box:hover {
  box-shadow: 10px 10px 24px -12px rgba(0,0,0,0.75);
}

.lang-select-box {
  align-self: self-end;
}
