<meta name="description" content="KniveGallery - Privacy policy" />
<title>Privacy policy</title>
<div>
  <h1>
    Privacy Policy
  </h1>

  <h4>What cookies we send and how we use them</h4>
  <hr />
  <ol>
    <li>
      <h4>
         Consent cookie
      </h4>
      <p>
        This cookie we send when you Accept non - essential cookies.We send it to your browser so that you don't have to accept it every time you visit us. Expires after one year.
      </p>
      <hr />
    </li>

    <li>
      <h4>
         Anti-forgery cookie
      </h4>
      <p>
        We send that cookie for security reasons. It is essential cookie.
      </p>
      <hr />
    </li>
  </ol>
  <hr />
  <h4>
    Communication
  </h4>
  <ol>
    <li>
      <p>
        We may contact you by E-mail that you provide when you request a vehicle in the vehicle details page, regarding the status and other details of that vehicle.
        <br />
      </p>
    </li>
    <li>
      <p>
        You can call or message us on the provided mobile phone number and e-mail to arrange a vehicle or discuss details.
      </p>
    </li>
  </ol>
  <hr />
  <h4>
    Changes to policy
  </h4>
  <ol>
    <li>
      <p>
        We can update or change our policy in the future.
        <br />
        You will be prompted to Accept once again our cookie policy if any changes occur.
      </p>
    </li>
  </ol>
  <hr />
  <h5>
    We do not use or collect any personal information for the purpose of tracking, analitics or sell/share to third parties.
  </h5>
  <hr />
  <h4>
    You can withdraw your cookie consent anytime.
  </h4>
</div>
