<section *ngIf="message" class="popup-message">
    <div class="toast-header">
        <strong class="mr-auto">Message</strong>
    </div>
    <div class="toast-body">
        {{message}}
    </div>
</section>

<section class="add-carousel-container">
    <h2 class="custom-heading text-center add-knive__anim1">Настройки на фон</h2>
    <hr />
    <section class="images-container">
        <div class="image-container" *ngFor="let image of allCarouselImages">
            <img class="img" src="../../assets/images/{{image.imagePath}}" alt="image">
            <button class="btn btn-custom btn-sm btn-outline-danger" (click)="deleteImage(image.imageId)">
                <i class="far fa-trash-alt"></i> {{'home.Delete'|translate}}
            </button>
        </div>
    </section>

    <form (ngSubmit)="onSubmit()">
      <div class="form-group images-select text-center add-knive__anim12">
        <section>
          <div class="form-group">
            <label>Избери картинка за фон на страниците:</label>
          </div>
          <div>
            <input accept="image/*" type="file" (change)="selectImage($event)">
          </div>
        </section>
      </div>
      <hr />
      <div>
        <section>
          <div class="form-group">
            <label>Избери видео :</label>
          </div>
          <div>
            <input accept="video/*" type="file" (change)="selectVideo($event)">
          </div>
        </section>
      </div>
        <hr />
        <div class="buttons-container add-knive__anim13">
            <button *ngIf="!isLoading" type="submit" class="btn btn-theme btn-shadow">Save</button>
            <app-loading-screen [showOverlay]="isLoading"></app-loading-screen>
            <a class="back-button knive-details__anim9" [routerLink]="['/']">
                <i class="fas fa-arrow-circle-left"></i>
            </a>
        </div>
    </form>
</section>
