<section class="container">
  <h3 class="text-center custom-heading">{{orderTitle}}</h3>
  <hr />
  <article class="filter__buttons">
    <div class="text-center" data-toggle="buttons">

      <button class="btn btn-shadow btn-theme" name="options" id="option3" (click)="filterOrders('All')">
        All
      </button>

      <button class="btn btn-shadow btn-theme" name="options" id="option1" (click)="filterOrders('Pending orders')">
        Pending orders
      </button>

      <button class="btn btn-shadow btn-theme" name="options" id="option2" (click)="filterOrders('Send orders')">
        Send orders
      </button>

    </div>
  </article>

  <h4 class="text-center mt-5" *ngIf="!orders">No orders..</h4>

  <article *ngIf="orders" class="orders-container d-flex justify-content-center">
    <div class="orders-wrapper row row-cols-3 mt-4 justify-content-around">
      <section *ngFor="let order of orders">
        <div class="col">
          <div class="card mb-3" style="width: 18rem;">
            <div class="card-body">
              <div *ngFor="let kniveId of order.kniveIds">
                <h5 class="card-title">Knive id <strong>{{kniveId}}</strong> -
                  <label><strong>{{order.quantity}}</strong></label>
                  {{'order.Quantity'|
                  translate}}
                </h5>
              </div>
              <p class="card-text">
                {{'order.Name'| translate}} - <strong>{{order.firstName}} {{order.lastName}}</strong></p>
              <p class="card-text">{{'order.Email'| translate}} - <strong>{{order.email}}</strong></p>
              <p class="card-text">{{'order.Phone number'| translate}} - <strong>{{order.phoneNumber}}</strong></p>
              <p class="card-text">{{'order.City'| translate}} - <strong>{{order.city}}</strong></p>
              <p class="card-text">{{'order.Neighbourhood'| translate}} - <strong>{{order.neighbourhood}}</strong></p>
              <p class="card-text">{{'order.Street'| translate}} - <strong>{{order.street}}</strong></p>
              <p class="card-text">{{'order.OrderDate'| translate}} - <strong>{{order.orderDate}}</strong></p>
              <p class="card-text" *ngIf="order.dispatchDate">{{'order.Dispatched'| translate}} -
                <strong>{{order.dispatchDate}}</strong>
              </p>
              <div class="d-flex justify-content-around mt-3">
                <button class="btn btn-sm btn-secondary" (click)="deleteOrder(order.orderId)"><i
                    class="fas fa-trash mr-1"></i>Remove</button>
                <button *ngIf="!order.isDelivered" class="btn btn-sm btn-success"
                  (click)="dispatchOrder(order.orderId)">
                  <i class="fas fa-paper-plane mr-1"></i>{{'order.Dispatched'| translate}}
                </button>
              </div>
            </div>
          </div>
        </div>

      </section>
    </div>
  </article>

  <div class="text-center mt-5">
    <a [routerLink]="['/']"><i class="back-button fas fa-arrow-circle-left"></i></a>
  </div>
  <div class="text-center mt-4">
    <app-loading-screen [showOverlay]="showLoader"></app-loading-screen>
  </div>
</section>

<div *ngIf="!errorMessage">{{errorMessage}}</div>
