@import "../../shared-styles/custom-buttons.scss";
@import "../../shared-styles/headings.scss";

.container {
  margin-bottom: 50px;
}

.orders-container {
  text-align: -webkit-center;
}

.card-text {
  margin: 0;
}
