@import "../../shared-styles/custom-buttons.scss";
@import "../../shared-styles/headings.scss";

.container {
  margin-bottom: 9em;
}

.orders-container {
  text-align: -webkit-center;
}

.card-text {
  margin: 0;
}
.orders-wrapper {
  @media (max-width: 599px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 5px;
    justify-content: center;
  }
}

.card-body{
  padding: 10px;
}