@import "../shared-styles/colors.scss";
@import "../shared-styles/animations.scss";
@import "../shared-styles/custom-buttons.scss";

@keyframes revial {
  from {
    transform: scaleX(0);
    opacity: 0;
  }

  to {
    transform: scaleX(1);
    opacity: 1;
  }
}

.card {
  position: relative;
  transition: linear 1.1s;
  animation-name: slideIn;
  animation-duration: 1.5s;
  background-color: initial;
  color: $mellowApricot;
  border-radius: 7px;
  width: 300px;
  overflow: hidden;

  &:hover {
    cursor: pointer;
    box-shadow: 3px 4px 17px 0px rgba(0, 0, 0, 0.75);

    .card-img {
      transform: scale(1.2);
    }

    .card-body {
      opacity: 1;
      animation: revial 0.2s;
    }
  }
}

.image-wrapper {
  overflow: hidden;
  width: 300px;
  height: 350px;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 2s ease;
}

.card-body {
  display: grid;
  grid-template-rows: min-content min-content;
  text-align: center;
  padding: 0;
  position: absolute;
  top: 212px;
  left: 0;
  opacity: 0;
  transition: 0.4s;
  width: 300px;
  background: rgba(0, 0, 0, 0.64);
  overflow: hidden;

  &__header {
    padding: 15px 5px;
    font-size: 18px;
    width: 300px;
    height: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.card-header {
  text-align: center;
  font-weight: 600;
}

.card-title {
  width: 100px;
}

.card-title__price-field {
  width: 100%;
  color: white;
  margin: 0;
  padding: 10px 0;
}

.card-title__price {
  font-weight: 700;
  color: $lightRedBerry2;
}

.home__knives__card-admin {
  @media (max-width: 599px) {
    width: 100%;
  }

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  justify-content: space-around;
  background-color: $charcoal;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  animation-name: slideIn;
  animation-duration: 0.5s;
}

.knive-details-wrapper {
  width: 100%;
}

.likes-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
}

.like-btn {
  border: none;
  background: rgba(0, 0, 0, 0.80);
}

.fas,
.far {
  color: $mellowApricot;
}

.cart-and-quantity-wrapper {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-around;
  align-items: center;
  color: $mellowApricot !important;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 16px;
  transition: linear 0.1s;
  animation-name: slideIn;
  animation-duration: 0.5s;

  i {
    font-size: 20px;
  }

  button {
    color: $mellowApricot;

    &:hover {
      box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 1);
    }
  }

  label {
    margin: 0;
  }
}

.quantity {
  display: flex;
  flex: 1 auto;

  label {
    font-size: 14px;
  }

  .h-30 {
    max-height: 24px;
    max-width: 57px;
  }

  input {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.remove-from-cart {
  button,
  i {
    color: #dd7e6b;
  }
}
