<div class="card mb-1">
  <div class="knive-details__img-and-card-body-container" style="max-width: 24rem;">
    <p class="bg-secondary text-center pb-1" *ngIf="isAuthenticated">
      <small>Knife id - </small>
      <strong class="text-xl-center">{{knive.kniveId}}</strong>
    </p>
    <div class="image-wrapper"
         [routerLink]="['/knive-details/', knive.kniveId, kniveClass ]"
         routerLinkActive="active">
      <img class="card-img" *ngIf="knive.imagePath" src="assets/images/{{knive.imagePath}}" alt="image" />
      <img class="card-img" *ngIf="!knive.imagePath" src="assets/images/default.jpg" alt="default image" />
    </div>
    <section class="card-body">
      <section class="knive-details-wrapper">
        <div class="card-body__header">{{knive.edgeMade}}</div>
        <h4 class="card-title card-title__price-field">
          {{'home.Price' | translate}}: <label class="card-title__price">
            {{knive.price}} {{'home.Currency' | translate}}
          </label>
        </h4>
      </section>
      <section class="likes-wrapper">
        <div>
          <small><i class="far fa-thumbs-up"></i> {{knive.likes}}</small>
        </div>
        <div>
          <button *ngIf="!isLoading" class="like-btn" (click)="addLike()">
            <i class="{{iconClass}}"></i>
          </button>
          <app-loading-screen *ngIf="isLoading" [showOverlay]="isLoading">
          </app-loading-screen>
        </div>
      </section>
    </section>
  </div>
  <small *ngIf="message.length > 0">{{message}}</small>
</div>

<div *ngIf="isAuthenticated" class="home__knives__card-admin mb-4">
  <button class="btn btn-custom btn-sm btn-outline-danger" (click)="deleteKnive(knive.kniveId)">
    <i class="far fa-trash-alt"></i> {{'home.Delete'|translate}}
  </button>
  <button class="btn btn-custom btn-sm btn-outline-info" [routerLink]="['/edit-knive', knive.kniveId]">
    <i class="far fa-edit"></i> {{'home.Edit' | translate }}
  </button>
</div>

<!-- ADD TO CART -->
<section *ngIf="!isAuthenticated" class="cart-and-quantity-wrapper">
  <div *ngIf="!isAddedToCart">
    <button class="btn btn-custom" (click)="addToCart()">
      <i class="fas fa-shopping-cart"></i>
      {{'order.AddToCart' | translate}}
    </button>
  </div>
  <div *ngIf="!isAddedToCart" class="quantity">
    <label class="mr-1">{{'order.Quantity' | translate}}</label>
    <input class="form-control h-30"
           type="number"
           min="1"
           max="{{knive.quantity}}"
           value="1"
           #quantity
           (change)="quantityOrdered(quantity.value)" />
  </div>
  <div *ngIf="isAddedToCart" class="remove-from-cart">
    <button class="btn btn-custom" (click)="removeFromCart()"><i class="fas fa-shopping-cart"></i> {{'order.Remove'|translate}}</button>
  </div>
</section>
