<div class="card mb-3">
  <div [routerLink]="['/knive-details', knive.kniveId]"
       routerLinkActive="active" 
       class="knive-details__img-and-card-body-container" 
       style="max-width: 24rem;">
    <p class="bg-secondary text-center" *ngIf="isAuthenticated">
      <small>Knive id - </small>
      <strong class="text-xl-center">{{knive.kniveId}}</strong>
    </p>
    <div class="home__image-wrapper">
      <img class="card-img-top" *ngIf="knive.imagePath" src="assets/images/{{knive.imagePath}}" alt="image" />
      <img class="card-img-top" *ngIf="!knive.imagePath" src="assets/images/default.jpg"
           alt="default image" />
    </div>
    <section class="card-body">
      <div class="card-body__header">{{knive.edgeMade}}</div>
      <h4 class="card-title card-title__price-field">{{'home.Price' | translate}}: <label class="card-title__price">{{knive.price}} {{'home.Currency' | translate}}</label></h4>
    </section>
  </div>
  <div class="card-body row justify-content-between">
    <div class="col-4">
      <small><i class="far fa-thumbs-up"></i> {{knive.likes}}</small>
    </div>
    <div class="col-4">
      <button *ngIf="!isLoading" class="like-btn" (click)="addLike()"><i class="{{iconClass}}"></i></button>
      <app-loading-screen *ngIf="isLoading" [showOverlay]="isLoading" ></app-loading-screen>
    </div>
  </div>
  <small *ngIf="message.length > 0">{{message}}</small>
</div>

<div *ngIf="isAuthenticated" class="home__knives__card-admin mb-4">
  <button class="btn btn-custom btn-sm btn-outline-danger" (click)="deleteKnive(knive.kniveId)">
    <i class="far fa-trash-alt"></i> {{'home.Delete'|translate}}
  </button>
  <button class="btn btn-custom btn-sm btn-outline-info" [routerLink]="['/edit-knive', knive.kniveId]">
    <i class="far fa-edit"></i> {{'home.Edit' | translate }}
  </button>
</div>

<div *ngIf="!isAuthenticated && !isAddedToCart">
  <button class="btn btn-custom" (click)="addToCart()"><i class="fas fa-shopping-cart"></i> Add to cart</button>
</div>
