@import "../../settings/_settings-breakpoints.scss";

.account__layout__container {
    @include for-phone-only {
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
        max-width: 375px;
    }

    display: grid;
    grid-template-columns: max-content max-content;
    grid-column-gap: 4em;
}
