<section class="vehicle-details__contact-us effect-stretch4">
    <h2 class="u-bold-title">
        @Localizer["Contact us to rent"]
    </h2>
    <a class="btn btn-outline-info vehicle-details__contact-us__send-email">
        @Localizer["Send request"]
    </a>
    <p> @Localizer["Or"]</p>
    <p>
        <i class="fab vehicle-details__contact-us__icon fa-whatsapp"></i>
        <i class="fab vehicle-details__contact-us__icon fa-viber"></i>
        <i class="fas vehicle-details__contact-us__icon fa-phone-volume"></i>
        <span class="vehicle-details__contact-us__phone my-phone"></span>
    </p>
</section>