@model RentCargoBus.Web.Models.Index.CarsVansViewModel
@{
    ViewData["Title"] = "Home Page";
}

<section class="c-main">
    <section class="c-main__welcome">
        <h1 class="c-main__welcome__title">Welcome</h1>
        <h4 class="c-main__welcome__text">Vehicles you can lease:</h4>
    </section>

    <partial name="_CargoVanPartial" />

    <partial name="_PassengerVanPartial" />

    <partial name="_CarPartial" />
    <div id="dialog" title="Delete"></div>
</section>

<section class="c-main__van-popup">
    <p class="van-details"></p>
</section>

