@{
    ViewData["Title"] = "Home Page";
}

<div class="c-main">
    <section class="c-main__welcome">
        <h1 class="display-4">Welcome</h1>
        <p>Vehicles you can lease:</p>

    </section>
    <section class="c-main__cargo-vans">
        <h2>Cargo</h2>
    </section>
    <section class="c-main__passanger-vans">
        <h2>Passanger</h2>
    </section>
    <section class="c-main__cars">
        <h2>Car</h2>
    </section>
</div>
