<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>DigitalCoolBook</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.png">
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/jquery-ui.css" />
    <link rel="stylesheet" href="/css/jquery-ui.theme.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />

</head>
<body>
    <div class="body-container">
        <header>
            <!--navigation bar-->
            <nav class="navbar navbar-expand-sm navbar-light">
                <a class="navbar-brand brand-text" href="#">Digital Cool Book</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="container-fluid" id="navbarNavDropdown">
                    <ul class="nav navbar-nav nav-left-wrapper">
                        <li class="nav-item active">
                            <a class="nav-link font-weight-bold" href="/Home/Index">Home</a>
                        </li>
                        @if (this.User.IsInRole("Teacher"))
                        {
                            <partial name="_PartialTeacherNav" />
                        }
                        else if (this.User.IsInRole("Admin"))
                        {
                            <partial name="_PartialAdminNav" />
                        }
                        else if (this.User.IsInRole("Student"))
                        {
                            <partial name="_PartialStudentNav" />
                        }

                    </ul>
                    <ul class="nav navbar-nav nav-right">
                        <li class="nav-right-wrapper">
                            @if (this.User.Identity.IsAuthenticated)
                            {
                                <div><span class="font-bold">@User.Identity.Name</span></div>
                                <div>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <form class="nav-item" asp-controller="Admin" asp-action="AdminPanel" method="get">
                                            <button class="btn btn-outline-secondary btn-sm"><i class="fas fa-user-cog"></i> Admin Control Panel</button>
                                        </form>
                                    }
                                    @if (this.User.IsInRole("Student"))
                                    {
                                        <form class="nav-item" asp-controller="Student" asp-action="Panel" method="get">
                                            <button class="btn btn-outline-primary btn-sm"><i class="fas fa-th"></i> My profile</button>
                                        </form>
                                    }

                                    @if (this.User.IsInRole("Teacher"))
                                    {
                                        <form class="nav-item" asp-controller="Teacher" asp-action="Panel" method="get">
                                            <button class="btn btn-outline-primary btn-sm"><i class="fas fa-th"></i> My profile</button>
                                        </form>
                                    }
                                </div>
                                <div>
                                    <form class="nav-item" asp-area="Identity" asp-page="/Account/Logout" method="post">
                                        <button type="submit"
                                                class="btn btn-outline-dark btn-sm"><span class="fa fa-user"></span>Sign out
                                        </button>
                                    </form>
                                </div>
                            }
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="collapse navbar-collapse " id="navbarNavDropdown"></div>
        </header>
        <main>
            <div class="content-wrapper mt-3">
                @RenderBody()

                <!--Popup Dialog-->
                <div title="Active test" id="dialog"></div>
            </div>
        </main>

        <partial name="_PartialFooter" />
    </div>

    @*<script src="~/js/bootstrap.js"></script>*@
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/custom/activeTests-popup.js"></script>

    @if (this.User.IsInRole("Teacher"))
    {
        <partial name="_PartialLiveFeed" />
    }

    @RenderSection("Scripts", required: false)
    @await Component.InvokeAsync("Notyf")
</body>
</html>
