@using DigitalCoolBook.Services.Contracts
@inject IUserService UserService
@inject UserManager<IdentityUser> UserManager

@{
    var userId = UserManager.GetUserId(this.User);
    var teacherName = (await UserService.GetTeacherAsync(userId))?.Name;
}

<div class="live-feed-wrapper live-feed-hide">
    <div class="live-feed-title-and-toggleBtn">
        <h5 class="live-feed-title">Live feed</h5>
        <i class="fas fa-chevron-circle-right live-feed-toggle" id="live-feed-toggle-icon"></i>
    </div>
    <div id="live-feed-messages-wrapper">
        <div class="live-feed-messages row">
            <ul id="messagesList"></ul>
        </div>
        <div class="live-feed-input input-group input-group-sm mb-3">
            <span class="input-group-text " id="userInput">@teacherName</span>
            <input class="form-control"
                   id="messageInput"
                   type="text"
                   aria-describedby="inputGroup-sizing-sm">
            <i class="btn btn-outline-primary fas fa-paper-plane" id="sendButton"></i>
        </div>
    </div>
</div>

<script src="~/js/custom/liveFeed.js"></script>
<script src="~/js/custom/liveFeed-signalR.js"></script>