<li class="nav-item">
    <a class="nav-link navbar-button" href="/Subject/Subjects">Subjects</a>
</li>
<li class="nav-item">
    <a class="nav-link navbar-button" href="/Teacher/ChooseGrade">Classes</a>
</li>
<li class="nav-item">
    <a class="nav-link navbar-button" href="/Test/Tests">Tests</a>
</li>
<li class="nav-item">
    <a class="nav-link navbar-button" href="/Test/ActiveTests">Active tests</a>
</li>
<li class="nav-item">
    <a class="nav-link navbar-button" href="/Test/TestsHistory">Tests history</a>
</li>