<li class="nav-item mr-1">
    <a class="btn btn-outline-dark btn-sm"
       asp-controller="Subject"
       asp-action="Subjects"><i class="fas fa-book"></i> Subjects</a>
</li>
<li class="nav-item mr-1">
    <a class="btn btn-outline-dark btn-sm"
       asp-controller="Teacher"
       asp-action="AssignedGrades"><i class="fas fa-users"></i> Classes</a>
</li>
<li class="nav-item mr-1">
    <a class="btn btn-outline-dark btn-sm"
       asp-controller="Test"
       asp-action="Tests"><i class="fas fa-spell-check"></i> Tests</a>
</li>
<li class="nav-item mr-1">
    <a class="btn btn-outline-dark btn-sm"
       asp-controller="Test"
       asp-action="ActiveTests"><i class="fab fa-leanpub"></i> Active tests</a>
</li>
<li class="nav-item mr-1">
    <a class="btn btn-outline-dark btn-sm"
       asp-controller="Test"
       asp-action="TestsHistory"><i class="fas fa-history"></i> Tests history</a>
</li>