<li class="nav-item">
    <a class="nav-link navbar-button" href="/Subject/Subjects">Предмети</a>
</li>
<li class="nav-item">
    <a class="nav-link navbar-button" id="activeTests">Активни Тестове</a>
</li>
