<li class="nav-item">
    <a class="nav-link navbar-button" href="/Subject/Subjects">Предмети</a>
</li>
<li class="nav-item">
    <a class="nav-link navbar-button" href="/Teacher/ChooseGrade">Класове</a>
</li>
<li class="nav-item">
    <a class="nav-link navbar-button" href="/Test/Tests">Тестове</a>
</li>
<li class="nav-item">
    <a class="nav-link navbar-button" href="/Test/ActiveTests">Активни тестове</a>
</li>