<li class="nav-item mr-1">
    <a class="btn btn-outline-dark btn-sm" href="/Teacher/RegisterTeacher"><i class="fas fa-user-plus"></i> Register teacher</a>
</li>
<li class="nav-item">
    <a class="btn btn-outline-dark btn-sm" href="/Student/RegisterStudent"><i class="fas fa-user-plus"></i> Register student</a>
</li>