<li class="nav-item mr-1">
    <a class="btn btn-primary btn-sm" 
       asp-controller="Subject"
       asp-action="Subjects"><i class="fas fa-book"></i> Subjects</a>
</li>
<li class="nav-item">
    <a class="btn btn-primary btn-sm" href="#" id="activeTests"><i class="fab fa-leanpub"></i> Active tests</a>
</li>
