<div class="live-feed-wrapper live-feed-hide">
    <div class="live-feed-title-and-toggleBtn">
        <h5 class="live-feed-title">Live feed</h5>
        <button class="btn live-feed-toggle">
            <i id="live-feed-toggle-icon" class="fas fa-chevron-circle-right"></i>
        </button>
    </div>
    <div id="live-feed-messages-wrapper">
        <div class="live-feed-messages row">
            <ul id="messagesList"></ul>
        </div>
        <div class="live-feed-input input-group input-group-sm mb-3">
            <span class="input-group-text " id="userInput">@User.Identity.Name</span>
            <input class="form-control"
                   id="messageInput"
                   type="text"
                   aria-describedby="inputGroup-sizing-sm">
            <input type="button" class="btn btn-outline-dark btn-sm" id="sendButton" value="Send" />
        </div>
    </div>
</div>

<script src="~/js/custom/liveFeed.js"></script>
<script src="~/js/custom/liveFeed-signalR.js"></script>