<li class="nav-item">
    <a class="nav-link" href="/Teacher/RegisterTeacher">Регистрация на Учител</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/Student/RegisterStudent">Регистрация на Ученик</a>
</li>