<footer>
    <ul class="footer-ul">
        <li>Телефон: *******</li>
        <li>Адрес: *******</li>
        <li>Пощенски код: ****</li>
    </ul>
    <ul class="footer-ul">
        <li>FAQ</li>
        <li>Favorites</li>
        <li>Contacts</li>
    </ul>
    <ul class="footer-ul last">
        <li>Privacy</li>
        <li>Terms</li>
        <li>&copy 2020 DigitalCoolBook</li>
    </ul>
</footer>