<li class="nav-item mr-1">
    <a class="btn btn-outline-info btn-sm" href="/Subject/Subjects">Subjects</a>
</li>
<li class="nav-item">
    <a class="btn btn-outline-info btn-sm" href="#" id="activeTests">Active tests</a>
</li>
