<li class="nav-item mr-1">
    <a class="btn btn-outline-info btn-sm" href="/Subject/Subjects">Subjects</a>
</li>
<li class="nav-item mr-1">
    <a class="btn btn-outline-info btn-sm" href="/Teacher/ChooseGrade">Classes</a>
</li>
<li class="nav-item mr-1">
    <a class="btn btn-outline-info btn-sm" href="/Test/Tests">Tests</a>
</li>
<li class="nav-item mr-1">
    <a class="btn btn-outline-info btn-sm" href="/Test/ActiveTests">Active tests</a>
</li>
<li class="nav-item mr-1">
    <a class="btn btn-outline-info btn-sm" href="/Test/TestsHistory">Tests history</a>
</li>