<li class="nav-item mr-1">
    <a class="btn btn-outline-info btn-sm" href="/Teacher/RegisterTeacher">Register teacher</a>
</li>
<li class="nav-item">
    <a class="btn btn-outline-info btn-sm" href="/Student/RegisterStudent">Register student</a>
</li>