<footer>
    <ul class="footer-ul">
        <li>Phone: +359 88000011</li>
        <li>Postcode: 4000</li>
    </ul>
    <ul class="footer-ul">
        <li>FAQ</li>
        <li><a href="#">Contacts</a></li>
    </ul>
    <ul class="footer-ul last">
        <li><a asp-controller="Home" asp-action="Privacy">Privacy</a></li>
        <li>&copy @DateTime.Now.Year.ToString() DigitalCoolBook</li>
    </ul>
</footer>