<footer>
    <ul class="footer-ul">
        <li>Phone: *******</li>
        <li>Address: *******</li>
        <li>Postcode: ****</li>
    </ul>
    <ul class="footer-ul">
        <li>FAQ</li>
        <li>Favorites</li>
        <li>Contacts</li>
    </ul>
    <ul class="footer-ul last">
        <li>Privacy</li>
        <li>Terms</li>
        <li>&copy @DateTime.Now.Year DigitalCoolBook</li>
    </ul>
</footer>