@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<h2 class="text-center">Manage your account</h2>
<div>
    <h4 class="text-center">Change your account settings</h4>
    <hr />
    <div class="account__layout__container">
        <div>
            <partial name="_ManageNav" />
        </div>
        <div>
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
