@page
@model RentCargoBus.Web.Areas.Identity.Pages.Account.Manage.AddVanModel
@{
    ViewData["Title"] = "New Van";
}

<section class="c-admin effect-stretch2">
    <h2 class="title">@ViewData["Title"]</h2>
    <partial name="_StatusMessage" model="Model.StatusMessage" />
    <hr />
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Model.Brand"></label>
            <input asp-for="Model.Brand" placeholder="Марка" class="form-control form-control-sm" autofocus />
            <span asp-validation-for="Model.Brand" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Model.Model"></label>
            <input asp-for="Model.Model" value="" placeholder="Модел" class="form-control form-control-sm" />
            <span asp-validation-for="Model.Model" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Model.PlateNumber"></label>
            <input asp-for="Model.PlateNumber" placeholder="Регистрационен номер" class="form-control form-control-sm" />
            <span asp-validation-for="Model.PlateNumber" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Model.Weight"></label>
            <input asp-for="Model.Weight" type="number" min="0" placeholder="Маса на буса в килограми" class="form-control form-control-sm" />
        </div>

        <div class="form-group">
            <label asp-for="Model.Height"></label>
            <input asp-for="Model.Height" type="number" min="0" placeholder="Височина на буса в метри" class="form-control form-control-sm" />
        </div>

        <div class="form-group">
            <label asp-for="Model.MaxLoad"></label>
            <input asp-for="Model.MaxLoad" type="number" min="0" placeholder="Товаримост в килограми" class="form-control form-control-sm" />
        </div>

        <div class="form-group">
            <label asp-for="Model.Seats"></label>
            <input asp-for="Model.Seats" type="number" value="0" min="0" placeholder="Брой места" class="form-control form-control-sm" />
            <small>Само за пътнически бусове.</small>
        </div>

        <div class="form-group">
            <label asp-for="Model.KilometersPerLiter"></label>
            <input asp-for="Model.KilometersPerLiter" type="number" min="0" placeholder="Разход" class="form-control form-control-sm" />
            <span asp-validation-for="Model.KilometersPerLiter" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Model.HirePrice"></label>
            <input asp-for="Model.HirePrice" type="number" placeholder="Цена за ден в евро" class="form-control form-control-sm" />
        </div>

        <div class="form-group">
            <label asp-for="Model.HirePriceMonth"></label>
            <input asp-for="Model.HirePriceMonth" type="number" placeholder="Цена за месец в евро" class="form-control form-control-sm" />
        </div>

        <div class="form-group">
            <label asp-for="Model.Type">Van type</label>
            <select class="form-control-sm" asp-for="Model.Type">
                <option value="2">Passenger</option>
                <option value="1">Cargo</option>
            </select>
        </div>

        <div class="form-group">
            <label asp-for="Model.Images">Select images:</label>
            <input asp-for="Model.Images" type="file" multiple><br><br>
        </div>
        <hr />
        <button type="submit" class="btn btn-outline-info">Save</button>
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}