@import "../../shared-styles/custom-buttons.scss";
@import '../../shared-styles/headings.scss';
@import '../../shared-styles/animations.scss';

@for $i from 1 through 12 {
  .order__anim#{$i} {
    opacity: 0;
    animation: 0.4s revial forwards;
    animation-delay: 0.1s * $i;
  }
}

input.ng-valid{
    border-left: 5px solid green;
}

input.ng-invalid.ng-touched{
    border-left: 5px solid red;
}
