@import "../../shared-styles/custom-buttons.scss";
@import "../../shared-styles/headings.scss";
@import "../../shared-styles/animations.scss";
@import "../../shared-styles/colors.scss";

@for $i from 1 through 12 {
  .order__anim#{$i} {
    opacity: 0;
    animation: 0.4s revial forwards;
    animation-delay: 0.1s * $i;
  }
}

.order-container {
  @media (max-width: 599px) {
    margin-bottom: 10em;
  }

  margin-bottom: 5em;
}

input.ng-valid {
  border-left: 5px solid green;
}

input.ng-invalid.ng-touched {
  border-left: 5px solid red;
}

.order__buttons-container {
  align-items: center;
}

.order__knive-quantity {
  border-radius: 5px;
  background-color: $charcoal;
  color: $mellowApricot;
  width: 50px;
  height: 30px;
  font-weight: 600;
  font-size: 18px;
}

.order__knive-quantity-wrapper {
  text-align: -webkit-center;
  max-width: 110px;
}

.form__price {
  @media (max-width: 599px) {
    font-size: 20px;
  }
}

.h-30 {
  max-height: 30px;
}

.alert{
  padding: 2px 5px;
  margin: 0;
  font-size: 12px;
}

.form-control{
  padding: 3px 5px;
  max-height: 30px;
}