@import "../shared-styles/colors";
@import "../shared-styles/custom-buttons.scss";
@import "../shared-styles/headings.scss";
@import "../shared-styles/animations.scss";
@import "../shared-styles/popups.scss";

@for $i from 1 through 12 {
  .edit-knive__anim#{$i} {
    opacity: 0;
    animation: 0.4s revial forwards;
    animation-delay: 0.1s * $i;
  }
}

label {
  color: whitesmoke;
}

input, textarea {
  background-color: black;
  color: whitesmoke;
}

.edit-knive-container {
  margin-bottom: 8em;
}

.edit-knive {
  @media (max-width: 599px) {
    grid-template-columns: 1fr;
  }

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  margin: 0 auto;

  &__buttons {
    @media (max-width: 599px) {
      grid-row-gap: 5px;
    }

    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 20px;
    justify-content: center;
    align-items: center;
  }

  &__info-lable {
    color: $mellowApricot;
  }

  &__info-wrapper {
    margin: 0 auto;
    margin-bottom: 15px;
    text-align: center;

    i {
      margin-right: 5px;
    }
  }
}

input.ng-valid {
  border-left: 5px solid green;
}

input.ng-invalid.ng-touched {
  border-left: 5px solid red;
}

.edit-knive__status {
  border-left: 5px solid green;
  width: 300px;
}

.alert {
  padding: 2px 5px;
  margin: 0;
  font-size: 12px;
}

.popup-message {
  @media (max-width: 599px) {
    margin-top: 200px;
  }
}
