<form #formValidation (ngSubmit)="onSubmit()">
  <div class="edit-knive__info-wrapper edit-knive__info-lable">
    <i class="fas fa-info-circle"></i>
    <small>Всички размери са в милиметри.</small>
  </div>
  <article class="edit-knive col-md-7">
    <section class="edit-knive__edge-info">
      <div class="form-group">
        <label>Edge width</label>
        <input name="knive.edgeWidth" required [(ngModel)]="knive.edgeWidth" class="form-control form-control-sm" placeholder="Широчина"
               autofocus />
      </div>
      <div class="form-group">
        <label>Edge tickness</label>
        <input name="knive.edgeTickness" required [(ngModel)]="knive.edgeTickness" placeholder="Дебелина"
               class="form-control form-control-sm" />
      </div>
      <div class="form-group">
        <label>Edge length</label>
        <input name="knive.edgeLength" [(ngModel)]="knive.edgeLength" type="number" placeholder="Дължина"
               class="form-control form-control-sm" />
      </div>
      <div class="form-group">
        <label>Total length</label>
        <input name="knive.totalLength" [(ngModel)]="knive.totalLength" type="number" placeholder="Обща дължина на ножа"
               class="form-control form-control-sm" />
      </div>
    </section>
    <section>
      <div class="form-group">
        <label>Edge made</label>
        <input name="knive.edgeMade" required [(ngModel)]="knive.edgeMade" placeholder="Сплав"
               class="form-control form-control-sm" />
      </div>
      <div class="form-group">
        <label>Handle type</label>
        <input name="knive.handleDescription" required [(ngModel)]="knive.handleDescription" placeholder="Тип на дръжката"
               class="form-control form-control-sm" />
      </div>
      <div class="form-group">
        <label>Price</label>
        <input name="knive.price" [(ngModel)]="knive.price" type="number" placeholder="цена"
               class="form-control form-control-sm" />
      </div>
      <div class="form-group">
        <label>{{'home.SelectImages'|translate}}:</label>
        <input accept="image/*" type="file" multiple (change)="selectFiles($event)">
        <br />
        <br />
        <button class="btn btn-sm btn-outline-success" (click)="uploadFiles()">{{'home.UploadImages'|translate}}</button>
      </div>
    </section>
  </article>
  <article class="edit-knive__buttons">
    <p *ngIf="status">{{status}}</p>
    <hr />
    <button type="submit" class="btn btn-lg btn-outline-info">{{'home.Save' | translate}}</button>
    <hr />
    <a [routerLink]="['/']"><i class="back-button fas fa-arrow-circle-left"></i></a>
  </article>
</form>

