@import "../settings/_settings-animations.scss";
@import "../settings/_settings-shadows.scss";

.vehicle-details {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 400px max-content;
    grid-gap: 20px;

    &__info {
        display: grid;
        grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
        grid-gap: 20px
    }

    &__images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-auto-rows: 260px;
        grid-gap: 20px;
        align-content: baseline;
    }

    &__image-wrapper {
        width: 290px;
        height: 260px;
        transition: 0.1s ease-out;

        &:hover {
            transform: scale(0.9);
            cursor: pointer;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        object-fit: cover;
    }

    // Enlarge Image on click
    &__image-enlarge {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.9);

        &__image {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
            animation-duration: 0.5s;
            animation-name: zoom;
        }

        &__close {
            position: absolute;
            top: 15px;
            right: 35px;
            color: #f1f1f1;
            font-size: 40px;
            font-weight: bold;
            transition: 0.3s;

            &:hover, &focus {
                color: #bbb;
                text-decoration: none;
                cursor: pointer;
            }
        }

        @media only screen and (max-width: 700px) {
            &__image {
                width: 100%;
            }
        }
    }
}

.active{
    display: block;
}