@import "../settings/_settings-colors.scss";
@import "../settings/_settings-breakpoints.scss";
@import "../settings/settings-shadows";

.navbar {
}

.navbar-brand {
    margin-right: 20px;
}

.c-navbar {
    justify-content: space-between;

    &__item{
        margin-left: 20px;
    }
}

.nav-item {
    &__link {
        transition: 0.2s ease-out;
        margin-right: 20px;

        &:hover {
            text-decoration: underline;
            font-weight: bolder;
            transform: scale(1.1);
        }
    }
}
