@import "../settings/_settings-colors.scss";
@import "../settings/_settings-breakpoints.scss";
@import "../settings/settings-shadows";

.navbar-brand {
    margin: 0 20px 0 0;
}

.c-navbar {
    justify-content: space-between;

    &__admin-login-and-toggle {
        @include for-phone-only {
            margin-top: 15px;
            justify-content: center;
            align-items: end;
        }

        display: grid;
        grid-template-columns: max-content max-content;
        grid-column-gap: 60px;
        align-items: center;

        &__language {
            display: grid;
            grid-template-columns: 40px max-content;
        }

        .fas {
            justify-self: center;
            font-size: 24px;
        }
    }

    &__item {
        margin-left: 20px;
        width: 60px;
    }
}

.navbar-nav {
    @include for-phone-only {
        justify-content: center;
        margin-top: 10px;
    }

    display: grid;
    grid-template-columns: max-content max-content;
    grid-column-gap: 15px;

    &__home__link {
        color: inherit;
        font-size: 16px;

        &:hover {
            color: inherit;
        }
    }
}

.nav-item {
    &__link {
        transition: 0.2s ease-out;
        padding: 0;

        &:hover {
            text-decoration: underline;
            font-weight: bolder;
            transform: scale(1.1);
        }
    }
}

.toggle.android {
    border-radius: 10px;
    transform: scale(0.7);
    background-color: $Grey;
}

.btn-admin {
    border: none;
    padding: 2px 15px;
}
