@import "../settings/_settings-colors.scss";
@import "../settings/_settings-breakpoints.scss";
@import "../settings/settings-shadows";

.navbar-brand {
    margin-right: 20px;
}

.c-navbar {
    justify-content: space-between;

    &__toggle__container {
        width: 80px;
        height: 20px;
    }

    &__admin-toggle-container {
        display: grid;
        grid-template-columns: 100px 1fr;
        grid-column-gap: 20px;
    }

    &__item {
        margin-left: 20px;
        width: 60px;
    }
}

.navbar-nav {
    display: grid;
    grid-template-columns: 1fr 100px;
    justify-items: right;
}

.nav-item {
    &__link {
        transition: 0.2s ease-out;
        padding: 0;

        &:hover {
            text-decoration: underline;
            font-weight: bolder;
            transform: scale(1.1);
        }
    }
}

.toggle.android {
    border-radius: 10px;
    transform: scale(0.7);
    background-color: $Grey;
}

.btn-admin {
    padding: 2px 15px;
}

.nav-link {
    padding: 0;
    margin: 0;
}
