@import "../settings/_settings-colors.scss";
@import "../settings/_settings-breakpoints.scss";
@import "../settings/_settings-mixins.scss";

.footer__stripe {
    height: 12px;
    width: 100%;
    background-color: $Grey500;

    @include for-phone-only {
        margin-top: 50px;
    }
}

.footer {
    background-color: $Grey200;
    width: 100%;
    min-height: 80px;
    display: grid;
    align-self: end;
    text-align: center;

    @include for-phone-only {
    }
}
