@import "../settings/_settings-breakpoints.scss";

.c-layout-main-grid {

    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 100%;
    grid-row-gap: 30px;

    .header {
        grid-row: 1 / 2;
    }

    .main {
        grid-row: 2 / 3;
    }

    .footer {
        grid-row: 3 / 4;
    }
}
