@import "../settings/_settings-breakpoints.scss";

.c-admin {
    @include for-phone-only {
        max-width: 360px;
        margin: 0;
        padding-left: 5px;
    }

    width: 600px;
}

.btn-admin {
    text-transform: capitalize;
}

.nav-link {
    font-size: 16px;
    margin-bottom: 5px;
}
