@import "../settings/_settings-colors.scss";
@import "../settings/_settings-breakpoints.scss";
@import "../settings/_settings-mixins.scss";

.footer__stripe {
    height: 12px;
    width: 100%;
    background-color: $Grey500;

    @include for-phone-only {
        margin-top: 50px;
    }
}

.footer {
    background-color: $Grey200;
    width: 100%;
    min-height: 80px;
    display: grid;
    align-self: end;
    text-align: center;

    &__container {
        @include for-phone-only {
            grid-template-columns: 1fr;
        }

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 100px;
        margin: 30px auto;
    }

    &__container__privacy {
        @include for-phone-only {
            justify-content: center;
            grid-row-gap: 0;
            margin-top: 10px;
        }

        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-row-gap: 15px;
        align-items: center;
        justify-content: left;
    }

    &__container__contacts {
        @include for-phone-only {
            justify-content: center;
            grid-row-gap: 5px;
        }

        display: grid;
        grid-template: max-content max-content max-content;
        justify-content: right;

        &__details {
            display: grid;
            grid-template-columns: max-content max-content;
            align-items: end;
        }

        &__details__icon {
            margin-right: 10px;
            font-size: 22px;
        }

        .fa-whatsapp {
            font-size: 25px;
        }

        &__info {
            margin-left: 10px;
            font-size: 18px;
            font-weight: 700;
            color: $Blue400;
        }
    }

    @include for-phone-only {
    }
}
