@import "../settings//_settings-breakpoints.scss";

.c-cookie-consent {
    @include for-phone-only {
        width: 90%;
    }

    width: 67%;
    margin: auto;

    &__info {
        @include for-phone-only {
            width: 90%;
        }

        width: 95%;
    }
}
