
@{
    ViewData["Title"] = "AdminPanel";
    Layout = "_Layout";
}
<style>
    .backgroundOrange {
        background: burlywood;
    }
</style>

<div class="offset-md-3 col-md-6 offset-sm-0 col-sm-12 mt-5">
    <div class="list-group">
        <a class="list-group-item backgroundOrange"><h3>PERSONAL MANAGEMENT</h3></a>
        <a href="/Teacher/EditTeachers" class="list-group-item list-group-item-action list-group-item-dark">
            <strong>TEACHERS</strong>
        </a>
        <a href="/Student/EditStudents" class="list-group-item list-group-item-action list-group-item-dark">
            <strong>STUDENTS</strong>
        </a>
        <a href="/Admin/EditParalelos" class="list-group-item list-group-item-action list-group-item-dark">
            <strong>CLASSES</strong>
        </a>
    </div>
    <div class="mt-5">
        <a class="list-group-item backgroundOrange"><h3>MATERIALS MANAGEMENT</h3></a>
        <a href="/Subject/AddLesson" class="list-group-item list-group-item-action list-group-item-dark">
            <strong>TOPICS</strong>
        </a>
        <a href="/Test/CreateTest" class="list-group-item list-group-item-action list-group-item-dark">
            <strong>CREATE TEST</strong>
        </a>
        <a href="/Subject/LessonsPreview" class="list-group-item list-group-item-action list-group-item-dark">
            <strong>TOPICS OVERVIEW</strong>
        </a>
        <a href="/Test/TestsPreview" class="list-group-item list-group-item-action list-group-item-dark">
            <strong>TESTS OVERVIEW</strong>
        </a>
    </div>
</div>


