
@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutMenus";
}
<style>
    .backgroundOrange{
        background: #ffb74d;
    }
</style>

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col">
            <div class="list-group">
                <a class="list-group-item backgroundOrange">Register</a>
                <a href="/Teacher/EditTeachers" class="list-group-item list-group-item-action list-group-item-light">Register a teacher</a>
                <a href="/Student/EditStudents" class="list-group-item list-group-item-action list-group-item-light">Register a student</a>
                <a href="/Admin/EditParalelos" class="list-group-item list-group-item-action list-group-item-light">Add a grade</a>
            </div>
            <div class="mt-2 mb-2">
                <a class="list-group-item backgroundOrange">Add materials</a>
                <a href="/Subject/AddLesson" class="list-group-item list-group-item-action list-group-item-light">Add a lesson</a>
                <a href="/Test/CreateTest" class="list-group-item list-group-item-action list-group-item-light">Add a test</a>
                <a href="/Test/TestsPreview" class="list-group-item list-group-item-action list-group-item-light">Tests overview</a>
            </div>
        </div>
    </div>
</div>


