@{
    ViewData["Title"] = "AdminPanel";
    Layout = "_Layout";
}

<div class="offset-md-3 col-md-6 offset-sm-0 col-sm-12 mt-5">
    <div class="page-wrapper">
        <div class="list-group">
            <h3>PERSONAL MANAGEMENT</h3>

            <a href="/Teacher/EditTeachers" class="admin-panel-link list-group-item list-group-item-action bg-secondary mb-1">
                <strong>TEACHERS</strong>
            </a>
            <a href="/Student/EditStudents" class="admin-panel-link list-group-item list-group-item-action bg-secondary mb-1">
                <strong>STUDENTS</strong>
            </a>
            <a href="/Admin/EditParalelos" class="admin-panel-link list-group-item list-group-item-action bg-secondary mb-1">
                <strong>CLASSES</strong>
            </a>
        </div>
        <div class="mt-5">
            <h3>MATERIALS MANAGEMENT</h3>

            <a href="/Subject/AddLesson" class="admin-panel-link list-group-item list-group-item-action bg-secondary mb-1">
                <strong>TOPICS</strong>
            </a>
            <a href="/Test/CreateTest" class="admin-panel-link list-group-item list-group-item-action bg-secondary mb-1">
                <strong>CREATE TEST</strong>
            </a>
            <a href="/Subject/LessonsPreview" class="admin-panel-link list-group-item list-group-item-action bg-secondary mb-1">
                <strong>TOPICS OVERVIEW</strong>
            </a>
            <a href="/Test/TestsPreview" class=" admin-panel-link list-group-item list-group-item-action bg-secondary mb-1">
                <strong>TESTS OVERVIEW</strong>
            </a>
        </div>
    </div>
</div>


