@model DigitalCoolBook.App.Models.GradeParaleloViewModels.ParaleloCreateViewModel

@{
    ViewData["Title"] = "CreateClass";
    Layout = "_Layout";
}

<div class="row text-center">
    <h3>Create a grade</h3>
    <small>Assign teacher to a class</small>
    <form class="mt-2" asp-action="CreateParalelo">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <select class="form-select select w-50" name="Id">
                <option selected>Select Teacher...</option>
                @foreach (var teacher in Model.Teachers)
                {
                    <option value="@teacher.Id">@teacher.Name</option>
                }
            </select>
        </div>
        <div class="form-group mt-2">
            <select class="form-select select w-50" name="GradeId">
                <option selected>Select a class...</option>
                @foreach (var grade in Model.Grades)
                {
                    <option value="@grade.GradeId">@grade.Name</option>
                }
            </select>
        </div>
        <div class="buttons-wrapper">
            <a class="btn btn-outline-secondary btn-sm" href="/Admin/EditParalelos">Back</a>
            <input class="btn btn-outline-success btn-sm"  type="submit" value="Create" />
        </div>
    </form>
</div>



