@model DigitalCoolBook.App.Models.GradeParaleloViewModels.ParaleloCreateViewModel

@{
    ViewData["Title"] = "CreateParalelo";
    Layout = "_LayoutMenus";
}

<h2>Create a class</h2>

<hr />
<div class="row">
    <div class="col-md-4 form-group">
        <form asp-action="CreateParalelo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <h3>Teacher</h3>
                <div class="dropdown">
                    @Html.DropDownListFor(model => model.IdTeacher, new SelectList(Model.Teachers, "Id", "Name"), "Choose a class teacher")
                </div>
            </div>
            <div class="form-group">
                <h3>Class</h3>
                <div class="dropdown">
                    @Html.DropDownListFor(model => model.IdGrade, new SelectList(Model.Grades, "GradeId", "Name"), "Choose class")
                </div>
            </div>
            <div class="row form-group">
                <div class="mx-auto">
                    <a href="/Admin/EditParalelos">Back</a>
                </div>
                <div class="mx-auto">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>



