@model DigitalCoolBook.App.Models.AdminViewModels.ForgotPasswordInputMode

@{
    Layout = "_LayoutMenus";
}

<div class="container-fluid w-50">
    <h2>Забравена парола</h2>
    <hr />
    <div class="row">
        <div class="col">
            <form asp-action="ForgotPassword"  method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" placeholder="Имейл..." class="control-label">Вашият имейл</label>
                    <input asp-for="Email" class="form-control" id="input" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Изпрати" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-controller="Home" asp-action="Index">Назад</a>
    </div>
</div>

<div id="dialog"></div>

<script>
    $('form').on('submit', function (event) {
        event.preventDeafault();
        var email = $('input').val();

        $.post("/Admin/ForgotPassword", { email: email }, function (data) {
            $('#dialog').dialog({
                modal: true,
                width: 350,
                heigth: 250,
                buttons: {
                    "Ok": function () {
                        $(this).dialog('close', location.href = "/Home/Login");
                    }
                }
            });
            $('#dialog').html(data);
        })
        
    })
</script>
