@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{
  font-family: 'Roboto', sans-serif !important;
}

a {
  color: #0366d6;
}

p {
  padding: 0;
  margin: 0;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body {
  background-color: #EEEEEE;
}

.page-container {
  position: relative;
  min-height: 100vh;
}