@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "_Layout";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="container-fluid w-50">
    <div>
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <hr style="background-color:#6e40dd;height: 2px" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="font-weight-bold" asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" placeholder="Email..." />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="font-weight-bold" asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" placeholder="Password..." />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="font-weight-bold" asp-for="Input.ConfirmPassword">Confirm Password</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm Password..." />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="font-weight-bold" asp-for="Input.Name"></label>
                <input asp-for="Input.Name" class="form-control" placeholder="Name..." />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="font-weight-bold" asp-for="Input.PlaceOfBirth">Place of Birth</label>
                <input asp-for="Input.PlaceOfBirth" class="form-control" placeholder="Place of birth..." />
                <span asp-validation-for="Input.PlaceOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="font-weight-bold" asp-for="Input.Sex">Sex</label>
                <select id="sex" class="form-control">
                    <option selected>Choose...</option>
                    <option>Male</option>
                    <option>Female</option>
                    <option>Other</option>
                </select>
            </div>
            <span asp-validation-for="Input.Sex" class="text-danger"></span>
            <div class="form-group mt-3">
                <label class="font-weight-bold" asp-for="Input.DateOfBirth">Date of Birth</label>
                <input type="date" class="form-control" placeholder="Date of birth..." />
                <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="font-weight-bold" asp-for="Input.MobilePhone">Mobile phone </label>
                <input asp-for="Input.MobilePhone" class="form-control" />
                <span asp-validation-for="Input.MobilePhone" class="text-danger"></span>
            </div>
            <button style="background-color:#6e40dd" type="submit" class="btn btn-primary btn-lg">Register</button>
            <hr style="background-color:#6e40dd;height: 2px" class="w-auto mt-3" />
            <br />
        </form>
    </div>
</div>


@*@section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }*@
