<section class="vehicle-details__contact-us effect-stretch4">
    <h2>
        @Localizer["Contact us to rent"]:
    </h2>
    <a class="btn btn-outline-success vehicle-details__contact-us__send-email">
        @Localizer["Send email"]
    </a>
    <p> @Localizer["Or"]</p>
    <p>
        <i class="fab vehicle-details__contact-us__icon fa-whatsapp"></i>
        <i class="fab vehicle-details__contact-us__icon fa-viber"></i>
        <i class="fas vehicle-details__contact-us__icon fa-phone-volume"></i>
        <span class="vehicle-details__contact-us__phone">+359 883 44 44 87</span>
    </p>
</section>