@model RentCargoBus.Web.Models.Index.CarsVansViewModel
@{
    ViewData["Title"] = "Home Page";
}
<meta name="description" content="Home page - all available vehicles for rent" />
<title>@ViewData["Title"]</title>

<section class="c-main">
    <section class="c-main__welcome effect-stretch2">
        <h1 class="c-main__welcome__title">@Localizer["Welcome"]</h1>
        <h4 class="c-main__welcome__text">@Localizer["Vehicles you can lease"]:</h4>
    </section>

    <partial name="_CargoVanPartial" />
    <hr class="c-main__hr" />
    <partial name="_PassengerVanPartial" />
    <hr class="c-main__hr" />
    <partial name="_CarPartial" />

    <div id="dialog" title="Delete"></div>
</section>