<div class="home-container mb-5">
  <section class="knive-class fadein-animation">
    <h4 *ngIf="kniveCl === 'HighClass'">{{'home.HighClass'| translate}}</h4>
    <h4 *ngIf="kniveCl === 'MiddleClass'">{{'home.MiddleClass'| translate}}</h4>
    <h4 *ngIf="kniveCl === 'KitchenClass'">{{'home.KitchenClass'| translate}}</h4>
  </section>
  <app-loading-screen [showOverlay]="showLoader"></app-loading-screen>
  <section class="fadein-animation" *ngIf="!knives?.length">
    <h5>{{'home.NoKnives'| translate}}<label>..</label></h5>
  </section>
  <section class="popup-message" *ngIf="isKniveDeleted">
    <div class="toast-header">
      <strong class="mr-auto">Message</strong>
    </div>
    <div class="toast-body">
      Knife has been deleted!
    </div>
  </section>
  <article class="home__knives-wrapper">
    <app-knive-card *ngFor="let knive of knives"
                    [knive]="knive"
                    (deleteKniveRequest)="onDelete($event)"
                    [kniveClass]="kniveCl">
    </app-knive-card>
  </article>
</div>

<div class="background-image-wrapper">
  <img src="../../assets/images/kiril-custom-knives.jpg" alt="logo image" />
</div>
