@import "../shared-styles/custom-elements.scss";
@import "../shared-styles/colors";
@import "../shared-styles/animations";
@import "../shared-styles/custom-buttons";
@import "../shared-styles/popups.scss";

.home-container {
  display: grid;
  grid-auto-columns: max-content;
  grid-row-gap: 20px;
  justify-content: center;
}

.fadein-animation {
  animation-name: slideInHeadings;
  animation-duration: 0.9s;
}

.home__knives-wrapper {
  @media (max-width: 599px) {
    grid-template-columns: 77%;
    grid-row-gap: 20px;
    margin-bottom: 5em;
  }

  display: grid;
  grid-template-columns: repeat(4, max-content);
  grid-row-gap: 30px;
  column-gap: 10px;
  justify-content: center;
}
.knive-class{
    color:$red;
}
