@page
@model RentAVan.Web.Areas.Identity.Pages.Account.Manage.EditDeliveryModel
@{
    ViewData["Title"] = "Edit delivery";
}

<section class="c-admin">
    <h2>@ViewData["Title"]</h2>
    <form asp-area="Identity" asp-page="EditDelivery" method="post">
        <div class="form-group">
            <label asp-for="Input.CarDelivery"></label>
            <input asp-for="Input.CarDelivery" placeholder="Цена за доставка на автомобил" class="form-control form-control-sm" autofocus />
        </div>
        <div class="form-group">
            <label asp-for="Input.VanDelivery"></label>
            <input asp-for="Input.VanDelivery" placeholder="Цена за доставка на бус" class="form-control form-control-sm" />
        </div>
        <button type="submit" class="btn btn-outline-info">Save</button>
    </form>
</section>
