@page
@model KniveGallery.Web.Areas.Identity.Pages.Account.AddKniveModel

@{
    ViewData["Title"] = "Add Knive";
}

<section class="c-admin effect-stretch2">
    <h2>@ViewData["Title"]</h2>
    <partial name="_StatusMessage" model="Model.StatusMessage" />
    <hr />
    <div class="add-knive__info-wrapper">
        <i class="fas fa-info-circle"></i>
        <small class="add-knive__info-lable">Всички размери са в милиметри.</small>
    </div>
    <div class="col-lg-8 mb-4">
        <form method="post" enctype="multipart/form-data">
            <article class="add-knive__input-container">
                <section>
                    <div class="form-group">
                        <label>Широчина на острието</label>
                        <input asp-for="Input.EdgeWidth"
                               type="number"
                               min="0"
                               class="form-control form-control-sm"
                               autofocus />
                        <span asp-validation-for="Input.EdgeWidth" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label>Дебелина на острието</label>
                        <input asp-for="Input.EdgeThickness"
                               type="number"
                               min="0"
                               class="form-control form-control-sm" />
                        <span asp-validation-for="Input.EdgeThickness" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label>Дължина на острието</label>
                        <input asp-for="Input.EdgeLength"
                               type="number"
                               min="0"
                               class="form-control form-control-sm" />
                        <span asp-validation-for="Input.EdgeLength" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label>Пълна дължина на ножа</label>
                        <input asp-for="Input.TotalLength"
                               type="number"
                               min="0"
                               class="form-control form-control-sm" />
                        <span asp-validation-for="Input.TotalLength" class="text-danger"></span>
                    </div>
                </section>
                <section>
                    <div class="form-group">
                        <label>Изработка на острието</label>
                        <input asp-for="Input.EdgeMade"
                               class="form-control form-control-sm" />
                        <span asp-validation-for="Input.EdgeMade" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label>Описание на дръжката</label>
                        <input asp-for="Input.HandleDescription"
                               class="form-control form-control-sm" />
                        <span asp-validation-for="Input.HandleDescription" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Input.Price"></label>
                        <input asp-for="Input.Price" type="number" min="0" placeholder="Цена" class="form-control form-control-sm" />
                        <span asp-validation-for="Input.Price" class="text-danger"></span>
                    </div>

                    <small class="add-knive__info-lable">Избери категория.</small>
                    <div class="form-group">
                        <label asp-for="Input.KniveClass"></label>
                        <select asp-for="Input.KniveClass" class="form-control" id="classSelect">
                            <option value="MiddleClass">Middle class</option>
                            <option value="HighClass">High class</option>
                            <option value="KitchenClass">Kitchen class</option>
                        </select>
                    </div>
                </section>
            </article>

            <div class="add-knive__info-lable mt-2 mb-2">
                <i class="fas fa-info-circle"></i>
                <small>
                    За да добавиш повече снимки в прозореца задръж <strong>ctrl</strong> + <strong>ляв бутон</strong> на мишката.
                </small>
            </div>
            <div class="form-group">
                <label asp-for="Input.Images">Select images:</label>
                <input asp-for="Input.Images" type="file" multiple><br><br>
            </div>

            <hr />
            <button type="submit" class="btn btn-outline-info">Save</button>
        </form>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
