<section class="footer">
    <section class="footer__content__wrapper">
        <article class="footer__contact">
            <p class="footer__contact__detail">{{'footer.Mobile' | translate}} : {{adminPhone}}</p>
            <p class="footer__contact__detail">{{'footer.Email' | translate}} : {{adminEmail}}</p>
        </article>
        <article class="footer__policy">
            <div>
                &copy; 2020 - KniveGallery - <a class="footer_link" href="privacy">Privacy</a>
            </div>
            <a class="footer_link" href="">Revoke cookie policy</a>
        </article>
    </section>
</section>
