.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  box-shadow: 0px -1px 12px -7px rgba(0,0,0,0.75);
  background-color: #37475a;
  color: #ffffff;

  &__content__wrapper {
    padding: 10px 0;
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-around;
    align-items: center;
  }

  &__contact {
    display: grid;
    grid-template-rows: max-content max-content;
  }

  &__policy {
    display: grid;
    grid-template-rows: max-content max-content;
  }
}

p {
  margin: 0;
}
