<section class="footer text-muted">
    <section class="footer__content__wrapper">
        <article class="footer__contact">
            <p>{{'footer.Mobile' | translate}} : {{adminPhone}}</p>
            <p>{{'footer.Email' | translate}} : {{adminEmail}}</p>
        </article>
        <article class="footer__policy">
            <div>
                &copy; 2020 - KniveGallery - <a href="privacy">Privacy</a>
            </div>
            <a href="">Revoke cookie policy</a>
        </article>
    </section>
</section>
