@model IEnumerable<DigitalCoolBook.Web.Models.TestviewModels.ActiveTestsViewModel>

@{
    Layout = "_Layout";
}

<div class="offset-md-3 col-md-6 offset-sm-0 col-sm-12 mt-3">
    @if (!Model.Any())
    {
        <h4>No active tests...</h4>
    }
    else
    {
        @foreach (var activeTest in Model)
        {
            <div class="mb-2">
                <a class="btn btn-outline-info w-100"
                   asp-controller="Test"
                   asp-action="StartTest"
                   asp-route-id="@activeTest.TestId">
                    @activeTest.TestName
                </a>
            </div>
        }
    }
</div>


