@model DigitalCoolBook.Web.Models.TestviewModels.QuestionsAddViewModel

@{
    ViewData["Title"] = "AddQuestions";
    Layout = "_Layout";
}

<h3 class="text-center">Add test questions</h3>
<br />
<form id="form" class="form-group" asp-action="AddQuestions" typeof="post">
    <div class="row">
        <div class="col">
            <div>
                <div class="row">
                    <h4>Topics</h4>
                </div>
                <div class="row">
                    @Html.DropDownListFor(m => m.LessonId, new SelectList(Model.Lessons, "Id", "Title"), "Choose topic...", new { @class = "dropdown" })
                </div>
                <span asp-validation-for="LessonId" class="text-danger"></span>
                <span class="text-danger" id="alertLessonId"></span>
                <div class="mt-2" id="AddTestButton"></div>
                <div class="row mt-2">
                    <h4>Questions count</h4>
                </div>
                <div>
                    <input class="form-group" type="number" id="numberOfQuestions" name="numberOfQuestions" />
                </div>
                <span class="text-danger" id="validateInput"></span>
                <div id="Questions" name="Questions"></div>
            </div>
            <button type="submit" class="btn btn-success btn-sm mt-3" id="save">Save</button>
        </div>
    </div>
</form>


@section Scripts{ 
    <script>
        // Adding question fields on number input
        $(function () {
            $('#numberOfQuestions').change(function () {
                // remove fields before create new ones
                $('#Questions').empty();
                $('#validateInput').empty();
                var numberOfQuestions = $('#numberOfQuestions').val();
                for (var i = 0; i < numberOfQuestions; i++) {
                    $('#Questions').append(
                        $('<label class="col-sm-2 col-form-label col-form-label-sm w-75">Question ' + (i + 1) + '<label/>'),
                        $('<input class="mt-2 form-control form-control-sm w-75" id="question' + i + '" name="Questions"/>'),
                        $('<span class="text-danger" id="alertQuestion' + i + '"></span>'),
                        $('<br/>'));
                }
            });
        });

        // input validation
        $(function () {
            $('#save').click(function (event) {
                var alertSpan = $('#validateInput');
                alertSpan.empty();
                event.preventDefault();
                var numberOfQuestions = $('#numberOfQuestions').val();
                var errorCount = 0;
                if (numberOfQuestions <= 0) {
                    alertSpan.html("Please add questions");
                    return;
                }
                for (var i = 0; i < numberOfQuestions; i++) {
                    if ($('#question' + i).val() == '') {
                        $('#alertQuestion' + i).html('Fill out the field');
                        errorCount += 1;
                    } else {
                        $('#alertQuestion' + i).empty();
                    }
                }
                if (errorCount === 0) {
                    $('#form').submit();
                }
                return;
            });
        });

        $(function () {
            $('#LessonId').change(function () {
                // remove add test button and alert span if any
                $('#AddTestButton').empty();
                $('#alertLessonId').empty();

                // check if test exist for that lesson
                var lessonId = $('#LessonId').val();
                $.ajax({
                    type: 'post',
                    url: '/Test/CheckTestExist',
                    data: { lessonId: lessonId },
                    success: function () {
                        return;
                    },

                    // add test button and alert if there is no test for that lesson
                    error: function () {
                        $('#alertLessonId').html('No existing test for this subject');
                        $('#AddTestButton').append(
                            $('<a class="btn btn-outline-primary" href="/Test/CreateTest/' + lessonId + '">Create test</a>')
                        );
                    }
                });
            });
        });
    </script>
}
