@model DigitalCoolBook.App.Models.TestviewModels.TestCreateAdminViewModel

@{
    ViewData["Title"] = "CreateTest";
    Layout = "_Layout";
}

<div class="offset-md-3 col-md-6 offset-sm-0 col-sm-12 mt-3 page-wrapper">
    <h3>Create test</h3>
    <form id="form" asp-controller="Test" asp-action="CreateTest" method="post">
        <div class="form-group mb-2">
            <span class="form-label">Test location</span>
            <input type="text" class="form-control" name="place" id="inputPlace" placeholder="location..">
            <span class="text-danger" id="alertPlace"></span>
        </div>
        <div class="form-group mb-2">
            @Html.DropDownListFor(m => m.LessonId, new SelectList(Model.Lessons, "LessonId", "Title"), "Choose topic", new { @class = "form-control" })
            <span class="text-danger" id="alertLesson"></span>
        </div>
        <hr />
        <div class="form-group">
            <div class="row mt-2">
                <span>Number of questions</span>
            </div>
            <div class="form-group">
                <input class="form-control"
                       type="number"
                       min="0"
                       max="999"
                       value="0"
                       id="numberOfQuestions"
                       name="numberOfQuestions" />
            </div>
            <span class="text-danger" id="validateInput"></span>
            <div id="questions" name="questions">
            </div>
        </div>
    </form>
</div>
<div class="buttons-wrapper">
    <a asp-action="Index" 
       asp-controller="Home"><i class="fas fa-lg fa-arrow-circle-left"></i></a>

    <button id="save" class="btn btn-primary btn-sm">Next</button>
</div>


@section Scripts{
    <script src="~/js/custom/createTest.js"></script>
}
