@model DigitalCoolBook.App.Models.TestviewModels.TestViewModel

@{
    ViewData["Title"] = "TestSetup";
    Layout = "_Layout";
}

<div class="offset-md-3 col-md-6 offset-sm-0 col-sm-12 mt-3">
    <h3>Test settings</h3>
    <hr />
    <form id="form" asp-action="SetTestTimer" method="post">
        <input hidden name="testId" value="@Model.TestId" />
        <div class="row mb-4">
            <div>
                <p class="form-label d-inline-block">Test duration</p>
                <input class="form-control-sm" asp-for="Timer" id="timer-input" min="0" max="360" />
                <label class="form-label">minutes</label>
            </div>
            <span class="text-danger" id="alert-timer"></span>
        </div>
        <div class="row mb-4">
            <div>
                <span class="form-label">Class</span>
                @Html.DropDownListFor(m => m.GradeId, new SelectList(Model.Grades, "GradeId", "Name"), "Choose a class..", new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div>
                <h5>Add participants</h5>
                <div id="checkArray"></div>
                <span class="text-danger" asp-validation-for="Students"></span>
            </div>
        </div>
        <div class="buttons-wrapper">
            <a class="btn btn-secondary btn-sm" asp-action="Tests">Back</a>
            <input class="btn btn-success btn-sm" id="button" type="submit" value="Create" />
        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
    <!--Update checkboxes-->
    <script>
        var studentCheckBox = $('#checkArray');
        $('#GradeId').change(function () {
            var gradeId = $(this).val();
            studentCheckBox.empty(); // clear existing options
            if (!gradeId) {
                return; // exit if null
            }
            // Send request to server with grade Id and receive collection of students
            $.ajax({
                type: "POST",
                url: "/Test/GetStudents",
                data: { gradeId: gradeId },
                success: function (response) {
                    if (response.length === 0) {
                        studentCheckBox.append($('<label/>', { text: 'no students...' }));
                    } else {
                        $.each(response,
                            function (i, item) {
                                studentCheckBox.append(
                                    $('<input/>', { type: 'checkbox', name: 'students', id: item.id, value: item.name }),
                                    $('<span/>', { for: item.id, text: item.name }),
                                    $('<br/>')
                                );
                            });
                    }
                }
            });
        });
    </script>

    <!--validate timer input-->
    <script>
        $('form').on('submit', function (event) {
            if ($('#timer-input').val() === 0) {
                $('#alert-timer').html("Set time").fadeToggle(2000);
                event.preventDefault();
            }
        })
    </script>

}
