@model IEnumerable<DigitalCoolBook.Web.Models.TestviewModels.ArchivedTestViewModel>
@{
    Layout = "_Layout";
}

<div class="offset-md-3 col-md-6 offset-sm-0 col-sm-12 mt-3">
    <h3>Tests History</h3>
    <div class="mb-3 mt-3">
        @if (Model.Any())
        {
            @foreach (var test in Model)
            {
                <div>
                    <a class="btn btn-sm btn-info w-100 mb-1"
                       asp-controller="Test"
                       asp-action="TestSummary"
                       asp-route-testId="@test.TestId">@test.TestName <time class="ms-2">@test.Date</time></a>
                </div>
            }
        }
        else
        {
            <div class="mt-2 mb-2">
                <h3>No history</h3>
            </div>
        }

    </div>
  
    <a class="btn btn-secondary btn-sm"
       asp-controller="Home"
       asp-action="Index">Back</a>

</div>

