@model IEnumerable<DigitalCoolBook.App.Models.TestviewModels.TestsNamesViewModel>

@{
    ViewData["Title"] = "Tests";
    Layout = "_Layout";
}

<div class="container-fluid w-75">
    <div class="col d-flex justify-content-center">
        <h2 class="col-sm-auto my-h2">Tests</h2>
    </div>
    <div class="row">
        @Html.DisplayNameFor(model => model.TestName)
    </div>

    @foreach (var test in Model)
    {
        <div class="row">
            <p class="col-form-label-lg">@test.TestName</p>
            <div class="col d-flex justify-content-end">
                <div class="col-form-label-lg ml-3">
                    @Html.ActionLink("Set timer", "SetTestTimer", "Test", new { testId = test.TestId }, new { @class = "btn btn-outline-primary" })
                </div>

                <div class="col-form-label-lg ml-3">
                    <a class="btn btn-outline-success btn-sm" href="/Test/StartTest/@test.TestId">Start</a>
                </div>
            </div>
        </div>
    }
</div>

