@model DigitalCoolBook.Web.Models.TestviewModels.TestSummaryViewModel

<div class="offset-md-3 col-md-6 offset-sm-0 col-sm-12 mt-3">
    <h3>Scores for @Model.TestName</h3>
    <hr />
    <div class="mb-3">
        @foreach (var student in Model.ParticipatedStudents)
        {
            <div>
                <p class="form-label">@student.StudentName - <strong>@student.Score points</strong></p>
            </div>
        }
    </div>
    <a asp-controller="Test"
       asp-action="TestsHistory"><i class="fas fa-lg fa-arrow-circle-left"></i></a>
</div>

