@using DigitalCoolBook.Service
@model IEnumerable<DigitalCoolBook.Web.Models.TestviewModels.StudentTestSummaryViewModel>
@inject TestService TestService

@{
    var testSummaryName = (await TestService.GetExpiredTest(ViewData["testSummaryId"].ToString())).TestName;
}

<div class="offset-md-3 col-md-6 offset-sm-0 col-sm-12 mt-3">
    <h3>Scores for @testSummaryName</h3>
    <ol>
        @foreach (var student in Model)
        {
            <li>
                <label class="form-label">@student.StudentName - <strong>@student.Score points</strong></label>
            </li>
        }
    </ol>
    <a class="btn btn-outline-secondary btn-sm" asp-controller="Test" asp-action="TestsHistory">Back</a>
</div>

