@model IEnumerable<DigitalCoolBook.Web.Models.TestviewModels.TestExpiredViewModel>
@{
    Layout = "_Layout";
}

<div class="offset-md-3 col-md-6 offset-sm-0 col-sm-12 mt-3">
    <h3>Tests history</h3>
    <table class="table table-hover ">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var test in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="Test"
                           asp-action="TestRoomSummary"
                           asp-route-id="@test.ExpiredTestId">@test.ExpiredTestName</a>
                    </td>
                    <td><time>@test.ExpiredTestDate</time> </td>
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-outline-secondary btn-sm"
       asp-controller="Home"
       asp-action="Index">Back</a>

</div>

