@model IEnumerable<DigitalCoolBook.Web.Models.TestviewModels.TestPreviewViewModel>

@{
    ViewData["Title"] = "TestsPreview";
    Layout = "_Layout";
}

<div class="offset-md-3 col-md-6 offset-sm-0 col-sm-12 mt-3">
    <div class="page-wrapper">
        <h3>Tests</h3>
        <hr />
        <a class="btn btn-sm btn-success" asp-action="CreateTest"><i class="fas fa-plus"></i> Test</a>
        <div class="form-group mt-4">
            @if (Model.Any())
            {
                @foreach (var item in Model)
                {
                    <div class="row mt-2">
                        <div class=col>
                            <a class="link-lg"
                               asp-controller="Test"
                               asp-action="GetTestDetails"
                               asp-route-id="@item.TestId">@item.TestName</a>
                        </div>
                        <div class="col">
                            <a class="btn btn-danger btn-sm" id="@item.TestId" onclick="DeleteTest(this)">Delete</a>
                        </div>
                    </div>
                }
            }
            else
            {
                <h4 class="mt-4">No tests...</h4>
            }
            <div class="buttons-wrapper mt-5 mb-4">
                <a asp-controller="Admin" asp-action="AdminPanel"><i class="fas fa-lg fa-arrow-circle-left"></i></a>
            </div>
        </div>
    </div>
</div>

@*Popup dialogs*@
<div id="popup"></div>
<div id="confirmdelete"></div>

@section Scripts{
    <script>
        // delete test
        function DeleteTest(elem) {
            // Sets the popup title
            $('#popup').dialog({ title: "Delete" }).html('Delete test?');

            $('#popup').dialog({
                modal: true,
                buttons: {
                    "Back": function () {
                        $(this).dialog('close');
                    },
                    // delete test
                    "Delete": function () {
                        $.post("/Test/DeleteTest",
                            { testId: $(elem).attr('id') },
                            function (message) {
                                $('#popup').dialog({
                                    modal: true,
                                    buttons: {
                                        "Ok": function () {
                                            $(this).dialog('close', location.href = location.href);
                                        }
                                    }
                                });
                                $('#popup').html(message);
                            });
                    }
                }
            });
        }
    </script>
}
