@model IEnumerable<DigitalCoolBook.Web.Models.TestviewModels.ArchivedTestViewModel>
@{
    Layout = "_Layout";
}

<div class="offset-md-3 col-md-6 offset-sm-0 col-sm-12 mt-3">
    @if (Model.Any())
    {
        <table class="table table-hover ">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var test in Model)
                {
                    <tr>
                        <td>
                            <a asp-controller="Test"
                               asp-action="TestSummary"
                               asp-route-testId="@test.TestId">@test.TestName</a>
                        </td>
                        <td><time>@test.Date</time> </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="mt-2 mb-2">
            <h3>No history</h3>
        </div>
    }
    <a class="btn btn-outline-secondary btn-sm"
       asp-controller="Home"
       asp-action="Index">Back</a>

</div>

