@model IEnumerable<DigitalCoolBook.Web.Models.TestviewModels.TestExpiredViewModel>
@{
    Layout = "_Layout";
}

<section>
    <div class="container-fluid">
        <div class="col d-flex justify-content-center">
            <h2 class=" my-h2">Test archive</h2>
        </div>
        <div class="d-flex justify-content-center">
            <table class="table table-hover ">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var test in Model)
                    {
                        <tr>
                            <td> <a href="/Test/TestRoomSummary/@test.ExpiredTestId">@test.ExpiredTestName</a></td>
                            <td><time>@test.ExpiredTestDate</time> </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <a class="btn btn-outline-secondary btn-sm" href="/Home/Index">Back</a>
    </div>
</section>

