@model IEnumerable<DigitalCoolBook.App.Models.TestviewModels.TestPreviewViewModel>

@{
    ViewData["Title"] = "TestsPreview";
    Layout = "_Layout";
}

<div class="offset-md-3 col-md-6 offset-sm-0 col-sm-12 mt-3">
    <h3>Tests</h3>
    <div class="form-group">
        <a class="btn btn-sm btn-outline-secondary" asp-action="CreateTest">Create test</a>
        <div class="col-form-label-lg">
            @Html.DisplayNameFor(model => model.TestName)
        </div>
        @foreach (var item in Model)
        {
            <div class="buttons-wrapper">
                <a class="btn btn-outline-info btn-sm" 
                   asp-controller="Test" 
                   asp-action="GetTestDetails" 
                   asp-route-id="@item.TestId">@item.TestName</a>
                <a class="btn btn-outline-danger btn-sm" id="@item.TestId" onclick="DeleteTest(this)">Delete</a>
            </div>
        }
        <a href="/Admin/AdminPanel"><i class="fas fa-lg fa-arrow-circle-left"></i></a>
    </div>
</div>

@*Popup dialogs*@
<div id="popup"></div>
<div id="confirmdelete"></div>

@section Scripts{
    <script>
        // delete test
        function DeleteTest(elem) {
            // Sets the popup title
            $('#popup').dialog({ title: "Delete test" });

            $('#popup').dialog({
                modal: true,
                buttons: {
                    "Back": function () {
                        $(this).dialog('close');
                    },
                    // delete test
                    "Delete": function () {
                        $.post("/Test/DeleteTest",
                            { testId: $(elem).attr('id') },
                            function (message) {
                                $('#popup').dialog({
                                    modal: true,
                                    buttons: {
                                        "Ok": function () {
                                            $(this).dialog('close', location.href = location.href);
                                        }
                                    }
                                });
                                $('#popup').html(message);
                            });
                    }
                }
            });
        }
    </script>
}
