@model IEnumerable<DigitalCoolBook.Web.Models.TestviewModels.StudentTestSummaryViewModel>

<section class="section-summary">
    <h1>Резултати</h1>
    <ol>
        @foreach (var student in Model)
        {
            <li>
                <label class="studentName-summary">@student.StudentName</label>
                <span class="studentScore-summery">@student.Score точки</span>
            </li>
        }
    </ol>
    <a class="boxed_btn_orange" href="/Home/Index">Начало</a>
</section>

