@model IEnumerable<DigitalCoolBook.App.Models.TestviewModels.TestsNamesViewModel>

@{
    ViewData["Title"] = "Tests";
    Layout = "_Layout";
}

<div class="offset-md-3 col-md-6 offset-sm-0 col-sm-12 mt-3">
    <h3>Tests</h3>

    @foreach (var test in Model)
    {
        <div class="row align-items-baseline">
            <p class="col-form-label-lg col-md-8">@test.TestName</p>
            <div class="col-md-4">
                <div class="row">
                    <div class="col p-0">
                        @if (test.IsActive)
                        {
                            <a class="btn btn-outline-success btn-sm"
                               asp-controller="Test"
                               asp-action="StartTest"
                               asp-route-id="@test.TestId">Active</a>
                        }
                        else
                        {
                            <a class="btn btn-outline-primary btn-sm"
                               asp-controller="Test"
                               asp-action="SetTestTimer"
                               asp-route-testId="@test.TestId">Create test</a>
                        }

                    </div>
                </div>
            </div>
        </div>
    }
</div>

