@import url("../shared-styles/colors.scss");

.main-title {
  height: 400px;
  width: 600px;
  margin: 10% 0 auto;

  h1,
  p,
  h2 {
    color: whitesmoke;
  }

  h1 {
    font-size: 98px;
  }
}

#homepage-video {
  object-position: top;
  position: fixed;
  right: 0;
  top: -700px;
  min-width: 100%;
  min-height: 93%;
}

.video-wrapper {
  position: fixed;
  background-color: black;
  opacity: 0.5;
  z-index: -1;
}

.btn-custom {
  font-size: 28px;
  padding: 5px 20px;
  background-color: #af3535;
  color: whitesmoke;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;

  &:hover {
    background-color: #421b1b;
  }
}
