@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css");
@import '../shared-styles/colors';
@import '../shared-styles/animations';
@import '../shared-styles/custom-buttons';

.home-container {
  display: grid;
  grid-auto-columns: max-content;
  grid-row-gap: 30px;
}

.home__buttons {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
}

.home__category-btn {
  margin-right: 20px;
}

.fadein-animation {
  animation-name: slideInHeadings;
  animation-duration: 0.9s;
}

.home__knives-wrapper {
  display: grid;
  grid-auto-rows: max-content;
  grid-template-columns: 250px 250px 250px 250px;
  grid-row-gap: 20px;
  grid-column-gap: 30px;
}

.btn-scale {
  transition: linear 0.1s;

  &:hover {
    transform: scale(1.1);
  }
}

.home__btn-filter {
  background-color: $charcoal;
  color: $mellowApricot;
  font-weight: 400;
  border: 1px solid $cornflowerBlue3;
}

.home__knive-deleted-message {
  background-color: $whatsupGreen;
  color: $gunmetal;
  font-weight: 500;
  max-width: 25%;
  padding: 5px 15px;
  border-radius: 10px;
}
