@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css");
$lightRedBerry3: #dd7e6b;
$lightRedBerry2: #dd7e6b;
$lightOrange: #f9cb9c;
$darkCyan3: #0c343d;
$darkBlue3: #073763;
$lightBlue: #007eb9;
$cornflowerBlue3: #c9daf8;

.home-container {
  display: grid;
  grid-auto-columns: max-content;
  grid-row-gap: 30px;
}

.home__buttons {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
}

.home__category-btn {
  margin-right: 20px;
}

.fadein-animation {
  animation-name: slideInHeadings;
  animation-duration: 0.9s;
}

.home__knives-wrapper {
  display: grid;
  grid-auto-rows: max-content;
  grid-template-columns: 250px 250px 250px 250px;
  grid-row-gap: 20px;
  grid-column-gap: 30px;
}

.card {
  transition: linear 0.1s;
  animation-name: slideIn;
  animation-duration: 0.5s;
  background-color: $lightBlue;
  color: #ffffff;

  &:hover {
    cursor: pointer;
    box-shadow: 3px 4px 17px 0px rgba(0, 0, 0, 0.75);
  }
}

.home__knives__card-admin {
  display: grid;
  grid-template-columns: 100px 100px;
  grid-column-gap: 10px;
  justify-content: center;
}

.home__image-wrapper {
  width: inherit;
  height: 180px;

  &__img {
    width: inherit;
    height: inherit;
  }
}

.btn-custom {
  border-radius: 5px;
  background-color: deepskyblue;
  color: white;
  padding: 2px 0px;
  animation-name: slideIn;
  transition: ease-out 0.1s;
  transform: scale(0.8);
  font-weight: 600;

  &:hover {
    transform: scale(0.9);
  }
}

.btn-scale {
  transition: linear 0.1s;

  &:hover {
    transform: scale(1.1);
  }
}

.card-body {
  padding: 10px 0 0;
  text-align: center;
}

.card-header {
  text-align: center;
  font-weight: 600;
}

.card-title__price {
  background-color: $lightRedBerry2;
  width: 100%;
  color: white;
  margin: 0;
  padding: 10px 0;
}

.card-img-top {
  width: 100%;
  height: 100%;
}

// Animations
@keyframes slideIn {
  0% {
    opacity: 0;
    left: -300px;
  }

  100% {
    opacity: 1;
    left: 0px;
  }
}

@keyframes slideInHeadings {
  0% {
    opacity: 0.3;
    top: -200px;
  }

  100% {
    opacity: 1;
    top: 0px;
  }
}
