<div class="home-container">
  <article>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-secondary">
        <input type="radio" name="options" id="option1" (click)="ngOnInit()" i18n> All knives
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="options" id="option2" (click)="getKnivesByClass('MiddleClass')" i18n>Middle
        class
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="options" id="option3" (click)="getKnivesByClass('HighClass')" i18n>High end
        class
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="options" id="option4" (click)="getKnivesByClass('KitchenClass')" i18n>Kitchen
        knives
      </label>
    </div>
  </article>

  <section *ngIf="!knives?.length">
    <h5 i18n>No knives in this category...</h5>
  </section>

  <section *ngIf="kniveCl === 'MiddleClass'">
    <h5>Middle class knives</h5>
  </section>
  <section *ngIf="kniveCl === 'HighClass'">
    <h5>High end knives</h5>
  </section>
  <section *ngIf="kniveCl === 'KitchenClass'">
    <h5>Kitchen knives</h5>
  </section>
  <section *ngIf="kniveCl === 'All'">
    <h5>All knives</h5>
  </section>

  <article class="home__knives-wrapper">
    <section *ngFor="let knive of knives">
      <div class="card text-white bg-info mb-3" [routerLink]="['/knive-details', knive.kniveId]"
        routerLinkActive="active" style="max-width: 24rem;">
        <div class="home__image-wrapper">
          <img class="card-img-top" *ngIf="knive.imagePath" src='../../assets/images/{{knive.imagePath}}' alt="image">
          <img class="card-img-top" *ngIf="!knive.imagePath" src="../../assets/images/default.jpg"
            alt="default image" />
        </div>
        <div class="card-header">{{knive.kniveName}}</div>
        <div class="card-body">
          <h6 class="card-title" i18n>Steel: {{knive.bladeMade}}</h6>
          <h6 class="card-title" i18n>Handle: {{knive.handleType}}</h6>
          <h4 class="card-title" i18n>Price: {{knive.price}}</h4>
        </div>
      </div>
      <div class="home__knives__card-admin" *ngIf="isAuthenticated | async">
        <button class="btn btn-custom" [routerLink]="['/edit-knive', knive.kniveId]" i18n>Edit <i
            class="far fa-edit"></i></button>
        <button class="btn btn-custom" (click)="deleteKnive(knive.kniveId)" i18n>Delete <i
            class="far fa-trash-alt"></i></button>
      </div>
    </section>
  </article>

</div>