@import "../../shared-styles/custom-buttons.scss";
@import '../../shared-styles/headings.scss';

.order-summary-container {
  display: grid;
  justify-content: center;
  align-content: center;
  color: whitesmoke;
  justify-items: center;

  p {
    font-size: 22px;
  }
}
