@model DigitalCoolBook.App.Models.StudentViewModels.StudentGradeEditViewModel

@{
    ViewData["Title"] = "EditStudent";
}

<h2>Редакция на ученик</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditStudent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Student.StudentId" class="control-label">Идентификационен номер</label>
                <input asp-for="Student.StudentId" class="form-control" />
                <span asp-validation-for="Student.StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Email" class="control-label">Имейл</label>
                <input asp-for="Student.Email" class="form-control" />
                <span asp-validation-for="Student.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Name" class="control-label">Име</label>
                <input asp-for="Student.Name" class="form-control" />
                <span asp-validation-for="Student.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.DateOfBirth" class="control-label">Дата на раждане</label>
                <input asp-for="Student.DateOfBirth" class="form-control" />
                <span asp-validation-for="Student.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.PlaceOfBirth" class="control-label">Място на раждане</label>
                <input asp-for="Student.PlaceOfBirth" class="form-control" />
                <span asp-validation-for="Student.PlaceOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Sex" class="control-label">Пол</label>
                <input asp-for="Student.Sex" class="form-control" />
                <span asp-validation-for="Student.Sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.MobilePhone" class="control-label">Мобилен телефон</label>
                <input asp-for="Student.MobilePhone" class="form-control" />
                <span asp-validation-for="Student.MobilePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Telephone" class="control-label">Домашен телефон</label>
                <input asp-for="Student.Telephone" class="form-control" />
                <span asp-validation-for="Student.Telephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.FatherName" class="control-label">Име на баща</label>
                <input asp-for="Student.FatherName" class="form-control" />
                <span asp-validation-for="Student.FatherName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.MotherName" class="control-label">Име на майка</label>
                <input asp-for="Student.MotherName" class="form-control" />
                <span asp-validation-for="Student.MotherName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.MotherMobileNumber" class="control-label">Телефон на майка</label>
                <input asp-for="Student.MotherMobileNumber" class="form-control" />
                <span asp-validation-for="Student.MotherMobileNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.FatherMobileNumber" class="control-label">Телефон на баща</label>
                <input asp-for="Student.FatherMobileNumber" class="form-control" />
                <span asp-validation-for="Student.FatherMobileNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Address" class="control-label">Адрес</label>
                <input asp-for="Student.Address" class="form-control" />
                <span asp-validation-for="Student.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Запази" class="btn btn-primary" />
            </div>
            <div>
                <select class="ui dropdown">
                    @foreach (var grade in Model.Grades)
                    {
                        <option class="dropdown-item" value="@grade.Id">@grade.Name</option>
                    }
                </select>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="EditStudents">Назад</a>
</div>

