@model  DigitalCoolBook.App.Models.LoginViewModel
@{
    ViewData["Title"] = "LoginAsync";
}

<div class="container-fluid  w-50">
    <section>
        <form id="account" method="post">
            <br />
            <h2 class="text-center">Вписване</h2>
            <hr style="background-color:#6e40dd;height: 2px" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label class="font-weight-bold" asp-for="Email">Имейл</label>
                <input asp-for="Email" class="form-control" placeholder="Имейл..." />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="font-weight-bold" asp-for="Password">Парола</label>
                <input asp-for="Password" class="form-control" placeholder="Парола..." />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="RememberMe">
                        <input asp-for="RememberMe" />
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Вписване</button>
            </div>
            <hr style="background-color:#6e40dd;height: 2px" />
            <div class="form-group">
                <p>
                    <a id="forgot-password" href="/Identity/Account/ForgotPassword">Забравена парола?</a>
                </p>
            </div>
        </form>
    </section>
</div>
