body {
    font-family: Manrope, sans-serif;
}

    body:before {
        content: "";
        background-image: url("../../../img/BackToSchool.jpg");
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.6;
    }

    body:after {
        z-index: 1;
        height: 100%;
        width: 100%;
        position: fixed;
        overflow: auto;
        top: 0px;
        left: 0px;
        background: rgba(0, 0, 0, 0.9);
    }
