@model IEnumerable<DigitalCoolBook.App.Models.GradesViewModels.GradeViewModel>

@{
    ViewData["Title"] = "ChooseParalelo";
    Layout = "_LayoutMenus";
}

<h1>Класове</h1>

<table class="table">
    <thead>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="font-weight-bold">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="btn btn-sm btn-secondary text-white">
                    @Html.ActionLink("Детайли", "GradeDetails", new { id = item.GradeId })
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-outline-info mb-2" href="/Home/Index">Назад</a>
