@model IEnumerable<DigitalCoolBook.App.Models.GradesViewModels.GradeDetailViewModel>

@{
    ViewData["Title"] = "GradeDetails";
    var paraleloName = ViewData["paraleloName"];
}

<h2>@paraleloName клас</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="btn btn-secondary btn-sm">
                    @Html.ActionLink("Виж повече", "Details", "Student", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
