@page "/addtask"

@inject IHttpContextAccessor httpContextAccessor
@inject ITaskService TaskService
@inject NavigationManager NavigationManager

<div class="page-wrapper offset-md-3 col-md-6 offset-sm-0 col-sm-12 mt-3">
    <h3>New Todo List</h3>
    <hr />
    <EditForm Model="@TaskInputModel" OnValidSubmit="@Submit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <span>Title</span>
            <input type="text" class="form-control" @bind="TaskInputModel.Title">
        </div>
        <hr />
        <button class="btn btn-sm btn-success" type="submit">Save <i class="fas fa-check"></i></button>
    </EditForm>
</div>

@code{
    private TaskInputModel TaskInputModel = new TaskInputModel();

    private async Task Submit()
    {
        TaskInputModel.UserId =
            httpContextAccessor
            .HttpContext
            .User
            .FindFirst(ClaimTypes.NameIdentifier)
            .Value;

        await TaskService.AddTask(TaskInputModel);

        NavigationManager.NavigateTo("/Initial");
    }
}
