@page "/edittodo/{TodoId:int}/{Content}"
@using DigitalCoolBook.Models.BlazorModels
@using DigitalCoolBook.Services.Contracts

@inject ITodoService TodoService
@inject NavigationManager NavigationManager

<div class="page-wrapper offset-md-3 col-md-6 offset-sm-0 col-sm-12 mt-3">
    <h3>Edit Todo</h3>
    <div class="form-group">
        <span>Content</span>
        <textarea class="form-control" name="title" @bind-value="Content" @bind-value:event="oninput" rows="5" ></textarea>
    </div>
    <hr />
    <NavLink class="btn btn-sm btn-success" @onclick="Submit">Save <i class="fas fa-check"></i></NavLink>
</div>


@code {
    [Parameter]
    public string Content { get; set; }

    [Parameter]
    public int TodoId { get; set; }

    async Task Submit()
    {
        var todo = new Todo
        {
            Content = Content,
            TodoId = TodoId,
        };

        await TodoService.EditTodo(todo);

        this.NavigationManager.NavigateTo("/Initial");
    }
}
