@model DigitalCoolBook.App.Models.CategoryViewModels.CategoryCreateViewModel

@{
    ViewData["Title"] = "AddCategory";
    Layout = "_LayoutMenus";
}

<style>
    .myOrangeButton{
            background: #ffb74d;
        }
</style>

<h2 class="text-center">Добавяне на учебни материали</h2>
<br />
<div class="row container">
    <div class="col-md-4">
        <form asp-action="AddLesson" method="post">
            <div class="form-group">
                <div class="col">
                    <label class="gj-font-size-16">Избери Предмет</label>
                    @Html.DropDownListFor(model => model.SubjectId, new SelectList(Model.Subjects, "SubjectId", "Name"), "Предмет..", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.SubjectId, "", new { @class = "text-danger" })
                    <div class="row mt-3">
                        <a href="/Subject/CreateSubject" class="btn btn-outline-secondary">Добави Предмет</a>
                        <a href="#" id="deleteSubject" class="btn btn-outline-danger ml-2">Изтрии Предмета</a>
                    </div>
                </div>
            </div>
            <hr class="hr-orchid"/>
            <div class="form-group">
                <div class="col">
                    <label class="gj-font-size-16">Избери Раздел</label>
                    @Html.DropDownListFor(model => model.CategoryId, new SelectList(Model.Categories, "Id", "Title"), "Раздел..", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.CategoryId, "", new { @class = "text-danger" })
                    <div class="row mt-3">
                        <a href="/Subject/CreateCategory" class="btn btn-outline-secondary">Добави Раздел</a>
                        <a href="#" id="deleteCategory" class="btn btn-outline-danger ml-2">Изтрии Раздела</a>
                    </div>
                </div>
            </div>
            <hr class="hr-orchid"/>
            <div>
                <label for="title" class="gj-font-size-16">Тема</label>
                <input type="text" class="form-control" id="title" name="title" />
                <label for="content" class="gj-font-size-16">Съдържание</label>
                <textarea class="form-control" style="width:850px" id="content" name="content" rows="10"></textarea>
            </div>
            <div class="row form-group mt-2 d-flex justify-content-lg-between">
                <div class="col">
                    <input type="submit" value="Запази" class="btn myOrangeButton" />
                    <a class="btn btn-outline-danger" href="/Subject/RemoveLesson">Изтриване на урок</a>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="successMessage"></div>
<div id="errorMessage" title="Грешка!"></div>

@*Updates Category according Subject selection*@
<script>
    var categoryDropDown = $('#CategoryId'); // cache variable
    $('#SubjectId').change(function () {
        var SubjectId = $(this).val();
        categoryDropDown.empty(); // clear existing options
        if (!SubjectId) {
            return; // exit if null
        }
        $.ajax({
            type: "POST",
            url: "/Subject/GetCategories",
            data: { subjectId: SubjectId }, // sends subjectId to the action
            success: function (response) {
                categoryDropDown.append($('<option></option>').val('').text('Избери Раздел')); // add a default null option
                $.each(response, function (i, item) {
                    categoryDropDown.append($('<option></option>').val(item.id).text(item.title));
                });
            },
        });
    })
</script>

@*Deletes choosen Category*@
<script>
    $(function () {
        $("#deleteCategory").click(function () {
            var categoryId = $('#CategoryId').val();
            $("#successMessage").dialog(
                {
                    resizable: false,
                    height: 200,
                    width: 300,
                    modal: true,
                    buttons: {
                        "Изтриване": function () {
                            $.ajax({
                                type: "POST",
                                url: "/Subject/RemoveCategory",
                                data: { categoryId: categoryId },
                                success: function () {
                                    $("#successMessage").dialog(
                                        {
                                            resizable: false,
                                            height: 200,
                                            width: 300,
                                            modal: true,
                                            buttons:
                                            {
                                                "Затвори": function () {
                                                    window.location.href = "/Subject/AddLesson",
                                                        $(this).dialog("close");
                                                }
                                            }
                                        });
                                    $("#successMessage").html("Раздела изтрит!")
                                },
                                error: function (request, err, message) {
                                    $("#errorMessage").html(request.responseText);
                                    $("#errorMessage").dialog({
                                        maxHeight: 290,
                                        width: 600,
                                        modal: true,
                                        buttons:
                                        {
                                            "Затвори": function () {
                                                $(this).dialog("close");
                                            }
                                        }
                                    });
                                }
                            })
                        },
                        "Отказ": function () {
                            $(this).dialog("close");
                        }
                    }
                })
            $("#successMessage").html("Изтриване на раздела?")
        })
    })
</script>

@*Delete choosen Subject*@
<script>
    $(function () {
        $("#deleteSubject").click(function () {
            var subjectId = $('#SubjectId').val();
            $("#successMessage").dialog(
                {
                    resizable: false,
                    height: 200,
                    width: 300,
                    modal: true,
                    buttons: {
                        "Изтриване": function () {
                            $.ajax({
                                type: "POST",
                                url: "/Subject/RemoveSubject",
                                data: { subjectId: subjectId },
                                success: function () {
                                    $("#successMessage").dialog(
                                        {
                                            resizable: false,
                                            height: 200,
                                            width: 300,
                                            modal: true,
                                            buttons: {
                                                "Затвори": function () {
                                                    window.location.href = "/Subject/AddLesson",
                                                        $(this).dialog("close");
                                                }
                                            }
                                        });
                                    $("#successMessage").html("Предмета изтрит!")
                                },
                                error: function (request, err, message) {
                                    $("#errorMessage").html(request.responseText);
                                    $("#errorMessage").dialog({
                                        maxHeight: 290,
                                        width: 600,
                                        modal: true,
                                        buttons: {
                                            "Затвори": function () {
                                                $(this).dialog("close");
                                            }
                                        }
                                    });
                                }
                            })
                        },
                        "Отказ": function () {
                            $(this).dialog("close");
                        }
                    }
                })
            $("#successMessage").html("Изтриване на предмета?")
        })
    })
</script>