@model DigitalCoolBook.App.Models.SubjectViewModels.SubjectViewModel

@{
    Layout = "_LayoutMenus";
}

<body>
    <div class="courses_details_banner">
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <div class="course_text">
                        <h3>@Model.Name</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2 class="d-flex justify-content-center">Раздели</h2>
    @foreach (var category in Model.Categories)
    {
        <div class="row">
            <div class="col d-flex justify-content-center">
                <a href="@Url.Action("CategoryDetails", "Subject",
                    new { categoryId = @category.Id, categoryTitle = category.Title, subjectId = category.SubjectId })"
                   type="button" class="btn-outline-info btn-lg mt-3" data-toggle="popover">
                    @category.Title
                </a>
            </div>
        </div>
    }
    <br />

    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        }
    </script>
</body>

