@model DigitalCoolBook.App.Models.SubjectViewModels.SubjectViewModel

@{
    Layout = "_LayoutMenus";
}

<body>
    <div class="jumbotron mt-2">
        <h2 class="text-white">@Model.Name</h2>
    </div>
    <div class="d-flex justify-content-center">
        <h2 class="col-sm-auto text-white my-border">Раздели</h2>
    </div>

    @foreach (var category in Model.Categories)
    {
        <div class="row form-row">
            <div class="col d-flex justify-content-center">
                <a href="@Url.Action("CategoryDetails", "Subject",
                    new { categoryId = @category.Id, categoryTitle = category.Title, subjectId = category.SubjectId })"
                   type="button" class="btn-outline-info btn-lg mt-3" data-toggle="popover">
                    @category.Title
                </a>
            </div>
        </div>
    }
    <br />

    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        }
    </script>
</body>

