@model DigitalCoolBook.App.Models.CategoryViewModels.LessonsViewModel

@{
    ViewData["Title"] = "LessonDetails";
    Layout = "_LayoutMenus";
}

<div class="container-fluid">
    <h3 class="text-info mt-2">@Model.Title</h3>
    <hr />
    <div>
        <p style="font-size:larger;">
            @Model.Content
        </p>
    </div>
    <hr />
    <div class="form-group">
        <a href="@Url.Action("CategoryDetails", "Subject",new {categoryId = Model.CategoryId})" class="mt-1">Назад</a>
        <div class="d-flex justify-content-center mb-2">
            @if (this.User.IsInRole("Teacher"))
            {
                <a href="/Test/CreateTest/@Model.LessonId" class="btn boxed-btn ml-5">Тест</a>
            }
        </div>
    </div>
</div>
