@model IEnumerable<DigitalCoolBook.App.Models.CategoryViewModels.LessonPreviewViewModel>

@{
    ViewData["Title"] = "LessonsPreview";
    Layout = "~/Views/Shared/_LayoutMenus.cshtml";
}

<div class="container-fluid w-75">
    <h3 class="text-center">Преглед на темите</h3>
    <p>
        <a asp-action="AddLesson">нова тема</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a class="btn btn-outline-info" id="lessonDetails">@item.Title</a>
                    </td>
                    <td class="d-flex justify-content-end ">
                        <a class="btn btn-sm btn-outline-secondary" id="edit" value="@item.LessonId">Редактирай</a>
                        <a class="btn btn-sm btn-outline-danger" onclick="Delete(this)" id="delete" value="@item.LessonId">Изтрии</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="dialog"></div>

<script>
    // Open dialog and delete lesson on confirmation
    function Delete(elem) {
        debugger;
        $('#dialog').dialog({
            modal: true,
            width: 350,
            heigth: 250,
            buttons: {
                "назад": function () {
                    $(this).dialog('close');
                },
                "изтриване": function () {
                    $.post("/Subject/RemoveLesson", { lessonId: $(elem).attr('value') }, function (message) {
                        $('#dialog').dialog({
                            modal: true,
                            width: 350,
                            heigth: 250,
                            buttons: {
                                "Ok": function () {
                                    $(this).dialog('close', location.href = "/Subject/LessonsPreview");
                                }
                            }
                        })
                        $('#dialog').html(message);
                    })
                }
            }
        })
        $('#dialog').dialog({ title: "Изтриване" })
    }
</script>
