@model DigitalCoolBook.App.Models.CategoryViewModels.LessonsViewModel

@{
    ViewData["Title"] = "LessonDetails";
    Layout = "_LayoutMenus";
}

<div>
    <h2 class="d-flex justify-content-center">@Model.Title</h2>
    <hr />
    <div>
        <p>
            @Model.Content
        </p>
    </div>
    <div class="form-group">
        <a href="@Url.Action("CategoryDetails", "Subject",new {categoryId = Model.CategoryId})" class="btn btn-outline-info mt-1">Назад</a>
        <div class="d-flex justify-content-center mb-2">
            @if (this.User.IsInRole("Teacher"))
            {
                <a href="/Test/CreateTest/@Model.LessonId" class="btn boxed-btn ml-5">Тест</a>
            }
        </div>
    </div>
</div>
