@model DigitalCoolBook.App.Models.CategoryViewModels.LessonRemoveViewModel

@{
    ViewData["Title"] = "RemoveLesson";
    Layout = "_LayoutMenus";
}

<h1>Изтриване на урок</h1>

<div>
    <hr class="hr-orchid" />
    <div class="row container-fluid">
        <form asp-action="RemoveLesson" method="post">
            <div class="form-group">
                <div class="col">
                    <label class="gj-font-size-16">Tema</label>
                    @Html.DropDownListFor(model => model.CategoryId, new SelectList(Model.Categories, "Id", "Title"), "Тема..", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.CategoryId, "", new { @class = "text-danger" })
                </div>
            </div>
            <hr class="hr-orchid" />
            <div class="form-group">
                <div class="col">
                    <label class="gj-font-size-16">Урок</label>
                    @Html.DropDownListFor(model => model.LessonId, new SelectList(Model.Lessons, "Id", "Title"), "Урок..", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.CategoryId, "", new { @class = "text-danger" })
                </div>
            </div>
            <hr class="hr-orchid" />
            <div class="row">
                <div class="col-md">
                    <a class="btn btn-danger" href="#" id="deleteLesson">Изтрии урока</a>
                    <a class="btn btn-outline-info" asp-action="AddLesson">Назад</a>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="successMessage"></div>
<div id="errorMessage" title="Грешка!"></div>

<script>
    var lessonDropDown = $('#LessonId'); // cache variable
    $('#CategoryId').change(function () {
        var categoryId = $(this).val();
        lessonDropDown.empty(); // clear existing options
        if (!CategoryId) {
            return; // exit if null
        }
        $.ajax({
            type: "POST",
            url: "/Subject/GetLessons",
            data: { categoryId: categoryId }, // sends subjectId to the action
            success: function (response) {
                lessonDropDown.append($('<option></option>').val('').text('Избери урок')); // add a default null option
                $.each(response, function (i, item) {
                    lessonDropDown.append($('<option></option>').val(item.id).text(item.title));
                });
            },
        });
    })
</script>
<script>
    $(function () {
        $("#deleteLesson").click(function () {
            var lessonId = $('#LessonId').val();
            $("#successMessage").dialog(
                {
                    resizable: false,
                    height: 200,
                    width: 300,
                    modal: true,
                    buttons: {
                        "Изтриване": function () {
                            $.ajax({
                                type: "POST",
                                url: "/Subject/RemoveLesson",
                                data: { lessonId: lessonId },
                                success: function () {
                                    $("#successMessage").dialog(
                                        {
                                            resizable: false,
                                            height: 200,
                                            width: 300,
                                            modal: true,
                                            buttons:
                                            {
                                                "Затвори": function () {
                                                    window.location.href = "/Subject/AddLesson",
                                                        $(this).dialog("close");
                                                }
                                            }
                                        });
                                    $("#successMessage").html("Урока е изтрит!")
                                },
                                error: function (request, err, message) {
                                    $("#errorMessage").html(request.responseText);
                                    $("#errorMessage").dialog({
                                        maxHeight: 290,
                                        width: 600,
                                        modal: true,
                                        buttons:
                                        {
                                            "Затвори": function () {
                                                $(this).dialog("close");
                                            }
                                        }
                                    });
                                }
                            })
                        },
                        "Отказ": function () {
                            $(this).dialog("close");
                        }
                    }
                })
            $("#successMessage").html("Изтриване на Урока?")
        })
    })
</script>
