@model IEnumerable<DigitalCoolBook.App.Models.SubjectViewModels.SubjectViewModel>

@{
    Layout = "~/Views/Shared/_SubjectDetailLayout.cshtml";
    ViewData["Title"] = "Subjects";
}

<h1>Учебни предмети</h1>

<p>
    <a asp-action="Create">Нов предмет</a>
</p>
<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a class="btn boxed-btn w-50" asp-controller="Subject" asp-action="Categories" asp-route-id="@item.SubjectId">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
