.navbar {
    background-color: whitesmoke;
    height: 70px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    grid-row-start: row1-start;
    padding: 10px;
}

.brand-text {
    font-weight: bold;
    color: #808080;
}

    .brand-text:hover {
        text-decoration: underline;
        text-decoration-color: #0094ff;
    }