

.navbar {
    background-color: initial;
    height: 70px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid gray;
    border-top: none;
    padding: 10px;
}

.brand-text {
    margin: 0;
    z-index: 1;
    font-family: 'Teko', sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    animation: glow 1s ease-in-out infinite alternate;
    text-align: center;
    transform: skewY(6deg);
}

   /* .brand-text:hover {
        text-decoration: underline;
        text-decoration-color: #0094ff;
    }*/

.nav-right-wrapper, .nav-left-wrapper {
    display: grid;
    grid-template-columns: repeat(6,max-content);
    grid-column-gap: 5px;
    align-items: center;
}
