.jumbotron-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 55%;
    margin-bottom: 7%;
}

.jumbotron {
    background-color: rgba(255, 204, 128, 0.80);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 0 12px 8px gray;
}