.live-feed-wrapper {
    z-index: 1000;
    position: absolute;
    left: 0;
    top: 40%;
    width: 400px;
    height: 350px;
    background: black;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 10px;
    transition: 0.2s ease-in;
}

.live-feed-messages {
    overflow: auto;
    height: 298px;
}

.live-feed-username {
    background: darkslateblue;
    color: white;
    padding: 3px 5px;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
}

.live-feed-toggle {
    position: absolute;
    top: -9px;
    right: -11%;
    transition: 0.2s;
    border: none;
    font-size: 26px;
    color: teal;
}

    .live-feed-toggle:hover {
        transform: scale(1.2);
        color: gray;
        cursor: pointer;
    }

.live-feed-title {
    position: absolute;
    top: 54px;
    right: -20%;
    background: lightgray;
    transform: rotate( -90deg );
    padding: 5px;
    border-radius: 3px;
    color: darkslateblue;
}

.live-feed-hide {
    transform: translateX(-397px);
    opacity: 0.5;
}

.live-feed-show {
    transform: translateX(8px);
    opacity: 0.9;
}

.live-feed-title-and-toggleBtn {
    position: relative;
}

#sendButton {
    color: indigo;
}
