.body-container {
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
}

.content-wrapper {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 130px;
}

.nav-right-wrapper, .nav-left-wrapper {
    display: grid;
    grid-template-columns: repeat(3,max-content);
    grid-column-gap: 5px;
    align-items: center;
}

.navbar {
    border-bottom: 1px solid gray;
}