.learn, .have-fun, .welcome, .dcb {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.learn {
    animation: showup 7s infinite;
    margin-right: 5px;
    color: burlywood;
}

.have-fun {
    width: 0px;
    animation: reveal 7s infinite;
    transform: translate(-37px, 21px);
}

    .have-fun h5 {
        margin-left: -355px;
        animation: slidein 7s infinite;
        color: gray;
    }



.welcome {
    animation: showup 16s infinite;
}

.dcb {
    width: 0px;
    animation: reveal 16s infinite;
}

.dcb-header {
    margin-left: -355px;
    animation: slidein 16s infinite;
}

.home-login-link {
    transform: scale(1.1);
}
