a {
  transition: ease-in 0.1s;
  color: black;
}

a:hover {
  transform: scale(1.1);
  text-decoration: none;
}

.nav-link {
  color: #FEBD69 !important;
}

.nav-link:hover {
  color: whitesmoke !important;
}

@media (max-width: 599px) {
  .navbar-nav {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
  }
  .nav-link {
    text-align: center;
  }
}