@model DigitalCoolBook.App.Models.StudentViewModels.StudentChangePasswordViewModel

@{
    ViewData["Title"] = "Panel";
    Layout = "_Layout";
}

<div class="offset-md-3 col-md-6 offset-sm-0 col-sm-12 mt-3">
    <div class="page-wrapper">
        <h3>Settings</h3>
        <hr />
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="btn btn-sm btn-warning"
                   asp-route-id="@Model.Id"
                   asp-action="ChangePassword">Change password</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-lg"
                   href="#"
                   onclick="averageScore('@Model.Id')">Average score</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
    </div>
    <div class="buttons-wrapper mt-4">
        <a asp-controller="Subject"
           asp-action="Subjects"><i class="fas fa-lg fa-arrow-circle-left"></i></a>
    </div>
</div>

<div id="popupDialog" title="Average score"></div>

<!--get the average score-->
@section Scripts{
    <script>
        function averageScore(studentId) {
            $.get("/Student/GetAverageScore/" + studentId + "",
                function (averageScore) {
                    $('#popupDialog').dialog({
                        modal: true,
                        buttons: {
                            Ok: function () {
                                $(this).dialog('close');
                            }
                        }
                    });
                    $('#popupDialog').html("<h1 class='text-center'>" + averageScore + "%" + "</h1>");
                });
        };
    </script>
}

