@model DigitalCoolBook.App.Models.StudentViewModels.StudentRegisterInputModel

@{
    ViewData["Title"] = "RegisterStudent";
    Layout = "_Layout";
}

<div class="offset-md-3 col-md-6 offset-sm-0 col-sm-12 mt-3">
    <div class="page-wrapper">
        <h3>Register student</h3>
        <hr />
        <div class="row">
            <div class="col">
                <form asp-action="RegisterStudent">
                    <div class="form-group">
                        <label asp-for="Name" class="form-label">Name</label>
                        <input asp-for="Name" class="form-control" placeholder="name..." />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-1">
                        <label asp-for="Email" class="form-label">Email</label>
                        <input asp-for="Email" class="form-control" placeholder="email..." />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-1">
                        <label asp-for="Password" class="form-label">Password</label>
                        <input asp-for="Password" class="form-control" placeholder="password..." />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-1">
                        <label asp-for="ConfirmPassword" class="form-label">Confirm password</label>
                        <input asp-for="ConfirmPassword" class="form-control" placeholder="password..." />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-1">
                        <label asp-for="DateOfBirth" class="form-label">Date of birth</label>
                        <input asp-for="DateOfBirth" type="date" class="form-control" placeholder="date of birth..." />
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-1">
                        <label asp-for="PlaceOfBirth" class="form-label">Place of birth</label>
                        <input asp-for="PlaceOfBirth" class="form-control" placeholder="place of birth" />
                        <span asp-validation-for="PlaceOfBirth" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-1">
                        <label asp-for="Sex" class="form-label">Gender</label>
                        <select class="form-select" name="sex" id="sex">
                            <option value="Мъж">Male</option>
                            <option value="Жена">Female</option>
                            <option value="Друго">Other</option>
                        </select>
                    </div>
                    <div class="form-group mt-1">
                        <label asp-for="Address" class="form-label">Address</label>
                        <input asp-for="Address" class="form-control" placeholder="address..." />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-1">
                        <label asp-for="MobilePhone" class="form-label">Mobile phone</label>
                        <input asp-for="MobilePhone" class="form-control  w-50" placeholder="mobile phone..." />
                        <span asp-validation-for="MobilePhone" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-1">
                        <label asp-for="Telephone" class="form-label">Phone number</label>
                        <input asp-for="Telephone" class="form-control  w-50" placeholder="phone number..." />
                        <span asp-validation-for="Telephone" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-1">
                        <label asp-for="FatherName" class="form-label">Name of father</label>
                        <input asp-for="FatherName" class="form-control" placeholder="name of the father..." />
                        <span asp-validation-for="FatherName" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-1">
                        <label asp-for="FatherMobileNumber" class="form-label">Phone number of father</label>
                        <input asp-for="FatherMobileNumber" class="form-control w-50" placeholder="phone number of the father..." />
                        <span asp-validation-for="FatherMobileNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-1">
                        <label asp-for="MotherName" class="form-label">Name of mother</label>
                        <input asp-for="MotherName" class="form-control" placeholder="name of the mother..." />
                        <span asp-validation-for="MotherName" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-1">
                        <label asp-for="MotherMobileNumber" class="form-label">Phone number of mother</label>
                        <input asp-for="MotherMobileNumber" class="form-control  w-50" placeholder="phone number of the mother..." />
                        <span asp-validation-for="MotherMobileNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-2">
                        <select class="form-select w-25" name="GradeId">
                            <option selected>Select a class...</option>
                            @foreach (var grade in Model.Grades)
                            {
                                <option value="@grade.GradeId">@grade.Name</option>
                            }
                        </select>
                    </div>

                    <div class="buttons-wrapper mt-4 mb-4">
                        <a asp-controller="Home" asp-action="Index"><i class="fas fa-lg fa-arrow-circle-left"></i></a>
                        <button class="btn btn-success btn-sm" type="submit">Create <i class="fas fa-save"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

